@import "gim_variables";
@import "compass/typography/text/ellipsis";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "mixins";
@import "modal";
@import "form_elements";
@import "core-admin-forms-correct.scss";

$stuck-width: "0.583333 * 100% - 0.583333 * 160px - #{$scrollbar-width}"; // 58.333% is col width, but fixed width is viewport so we remove the left col size (and the scrollbar)
$top-border: 5px;
$header-top-padding: 10px;
$header-stuck-height: 47px;
$tabs-stuck-height: 37px;
$files-min-stuck-height: 49px;
$file-list-width: 400px;
$repo-name-height: 20px;

.issue-container {
    .stuck {
        position: fixed;
        @include calc(width, $stuck-width);
        right: $scrollbar-width;
    }

    position: relative;

    > article > .area-top {
        @include box-shadow(rgba(black, 0.07) 0 1px 1px -1px );
        header {

            overflow: auto;
            padding-top: 2px;
            padding-bottom: 1px;
            .repository-name {
                text-align: center;
                margin: 0;
                font-size: 14px;
                height: $repo-name-height;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                display: none;
                i {
                    font-size: inherit;
                    float: none;
                    margin: 0;
                }
            }
            .avatar {
                @include avatar-small-container;
                float: left;
            }
            h3 {
                margin-top: 4px;
                margin-left: 50px;
                margin-right: 65px;
            }
            &.stuck {
                top: $header-top + $top-border;
                max-height: $header-stuck-height;
                z-index: 100;
                margin: 0;
                padding: 2px 5px 0 2px; // override area-top
                h3 {
                    overflow: hidden;
                    @include ellipsis();
                    margin-right: 25px;
                }
                &:hover {
                    max-height: none !important;
                    h3 {
                        overflow: visible;
                        white-space: normal;
                    }
                }
            }
        }
        section {
            margin-left: 50px;
            & > h5, & > p, & > div {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
        footer {
            overflow: auto;
            margin-right: -5px;
            display: table;
            width: 100%;
            > * {
                display: table-cell;
                vertical-align: top;
            }
        }
        @extend %issue-state-marker;
        padding-bottom: 5px;
        min-height: 95px;
        margin-bottom: 0;
    }
    &.with-repository {
        > article > .area-top {
            header {
                padding-top: 2px + $repo-name-height;
                .repository-name {
                    display: block;
                }
                &.stuck {
                    max-height: $header-stuck-height + $repo-name-height + $header-top-padding;
                    padding-top: 2px + $repo-name-height + $header-top-padding;
                }
            }
        }
        .issue-nav {
            top: 41px;
        }
    }
    .issue-pull-request {
        position: absolute;
        top: 65px;
        left: 15px;
        width: 40px;
        text-align: center;
        font-size: 24px;
    }
    .issue-milestone .no-milestone,
    .issue-assigne .no-assignee {
        color: #ccc;
    }

    .issue-footer-infos {
        > div {
            overflow: auto;
            border: 1px solid #ccc;
            @include box-shadow(0 0 6px -1px rgba(0, 0, 0, 0.15) inset, 1px 1px 0 #eee);
            float: right;
            @include border-radius(4px);
            margin-right: 1px;
            margin-bottom: 1px;
            margin-left: 10px;
        }
    }
    .issue-footer-info-part {
        margin: 0;
        padding: 2px 6px;
        line-height: 26px;
        border-left: solid 1px #f0f0f0;
        border-right: solid 1px #ddd;
        display: table-cell;
        vertical-align: middle;
        &:first-child {
            @include border-radius(4px 0 0 4px);
            border-left: none;
        }
        &:last-child {
            @include border-radius(0 4px 4px 0);
            border-right: none;
        }
        &:first-child:last-child {
            @include border-radius(4px);
        }
    }

    .issue-comments-count {
        top: 0;
        color: inherit;
        white-space: nowrap;
    }

    .issue-labels {
        padding-top: 7px;
        > ul {
            @extend %issue-labels;
            display: inline;
        }
    }

    .issue-involved {
        max-width: 190px;
        max-height: 54px;
        overflow-y: auto;
        margin-bottom: 0;
        li {
            display: inline-block;
        }
    }

    .issue-big-infos {
        background: $highlight-background-color;
        padding: 15px;
        border-bottom: solid 1px $box-border-color;
        overflow: auto;
        ul {
            float: right;
            li {
                display: inline-block;
                margin-left: 5px;
            }
        }
    }
    .pr-merge-status {
        margin-top: 15px;
        .alert {
            display: inline-block;
            padding-right: 14px;
            margin: 0;
        }
    }
    .issue-buttons {
        float: right;
        .btn {
            padding: 8px 14px;
            font-size: 13px;
            line-height: 18px;
            margin-left: 15px;
        }
        form {
            margin-bottom: 0;
            display: inline-block;
        }
    }

    .issue-body {
        padding: 15px;
        padding-right: 30px;
        background: white;
        border-bottom: solid 1px $box-border-color;
        @include box-shadow(rgba(black, 0.1) 0 1px 3px -1px);
        position: relative;
    }
    .content.empty {
        color: $light-text-color;
    }

    &.big-issue {
        position: absolute !important;
        float: none !important;
        left: 0 !important;
        right: 0 !important;
        width: auto !important;
        top: $header-top !important;
        bottom: 0 !important;
        height: auto !important;
        margin: 0 !important;
        z-index: 200;
        background-color: $body-background-color !important;
        background: image-url("bg.png") !important;
        $stuck-full-width: "100% - #{$scrollbar-width}"; // leave room for the scrollbar)
        .stuck {
            // width: 100%!important;
            @include calc(width, $stuck-full-width, !important);
        }
        .issue-involved {
            max-width: 300px;
        }
    }

    a.issue-edit-btn {
        i {
            float: none;
            color: #ccc;
            font-size: inherit;
            font-weight: inherit;
        }
        &.loading i.fa-edit {
            display: none;
        }
        &, &:hover {
            text-decoration: none;
        }
        &.issue-edit-btn-title {
            margin-left: 5px;
        }
        &.issue-edit-btn-body {
            font-size: 18px;
            position: absolute;
            top: 3px;
            right: 7px;
        }
        &.issue-edit-btn-milestone,
        &.issue-edit-btn-assignee,
        &.issue-edit-btn-labels {
            font-size: 16px;
            position: relative;
            top: 1px;
            margin-left: 3px;
        }
    }

    .issue-edit-title {
        position: absolute;
        left: 130px;
        right: 75px;
        height: 35px;
        div.edit-buttons {
            position: absolute;
            bottom: 0;
            right: 0;
            .btn-cancel {
                margin-left: 7px;
            }
        }
        div.edit-field {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 88px;
            input {
                width: 100%;
                @include border-radius(0);
            }
        }
        input {
            font-family: inherit;
            font-size: 14px;
        }
    } // .issue-edit-title

    .issue-edit-body {
        // same as .issue-body
        display: block;
        padding: 10px;
        padding-right: 25px;
        background: white;
        border-bottom: solid 1px $box-border-color;
        @include box-shadow(rgba(black, 0.1) 0 1px 3px -1px);
        div.edit-field {
            display: block;
            padding: 5px 5px 0;
        }
        textarea {
            width: 100%;
            padding: 0;
            margin: 0;
            font-size: inherit;
            font-family: inherit;
            line-height: inherit;
            min-height: 180px;
            height: auto;
            background: white;
            border: none;
            @include border-radius(0);
            @include box-shadow(none);
        }
        div.edit-buttons {
            display: block;
            margin-top: 10px;
            padding-top: 10px;
            border-top: solid 1px $box-border-color;
        }
        button {
            width: auto;
            font-size: inherit;
            margin: 0;
            &.btn-cancel {
                font-weight: normal;
            }
        }
    } // .issue-edit-body

    .issue-edit-milestone,
    .issue-edit-assignee,
    .issue-edit-labels {
        display: block;
        div.edit-field {
            min-width: 200px;
        }
        div.edit-buttons {
            button {
                margin-left: 6px;
                &:first-of-type {
                    margin-left: 3px;
                }
            }
        }
    }
    .issue-edit-labels {
        display: block !important;
        position: relative;
        overflow: auto;
        div.edit-field,
        div.edit-buttons {
            vertical-align: top;
        }
        div.edit-field {
            @include calc(width, '100% - 72px');
            select {
                width: 100%;
            }
        }
        div.edit-buttons {
            position: absolute;
            top: 0;
            right: 0;
        }
        ~ div.issue-footer-infos {
            display: block;
            margin-top: 7px;
        }
    }

} // .issue-container

.select2-milestone {
    .select2-result-sub li > div > div {
        @include ellipsis();
    }
}
.select2-labels {
    .select2-results {
        max-height: 400px;
        display: block;
        > li li:not(.select2-selected) {
            display: inline-block;
            .select2-result-label {
                padding-left: 5px !important;
            }
        }
    }
    .select2-result-label span {
        @extend %issue-label;
    }
}

.edit-field-labels {
    .select2-container-multi .select2-choices {
        * {
            @include box-sizing(content-box);
        }
        min-height: 27px;
        padding: 0 4px 1px 0;
        .select2-search-field {
            padding: 4px 0 0 4px;
            margin: 0;
            input {
                margin: 0;
                padding: 0;
                height: 20px;
            }
        }
        .select2-search-choice {
            margin: 2px 0 0 4px;
            @include border-radius(0);
            background: transparent;
            border: none !important;
            padding: 0 0 0 18px !important;
            span {
                @extend %issue-label;
                margin-left: -18px;
                padding-left: 18px;
                padding-right: 3px;
                line-height: 20px;
            }
        }
        .select2-search-choice-close {
            top: 5px;
        }
    }
}

#issue-create-form {
    input[type=submit] {
        display: none;
    }
    .select2-container {
        margin-bottom: 10px;
        .select2-choice {
            height: 29px;
        }
    }
    .edit-field {
        > input, > textarea {
            color: #555;
            font-size: 13px;
            font-family: inherit;
            padding: 4px 6px;
            line-height: 20px;
        }
        > input {
            height: 28px;
        }
        > textarea {
            min-height: 180px;
        }
        &:last-of-type .select2-container {
            margin-bottom: 0;
        }
    }
}
#issue-create-modal {
    .modal-body > .empty-area {
        position: static;
        margin: 0;
    }
    .modal-header {
        position: relative;
        & > h6 > span {
            font-style: italic;
        }
    }
    .modal-footer {
        button {
            font-size: inherit;
        }
    }
}
.issue-create-nav {
    position: absolute;
    top: 4px;
    right: 5px;
}

@media (min-width: 1023px) {
    .issue-container.big-issue .code-files {
        position: relative;
        .files-list-sticky-wrapper {
            height: auto !important;
        }
        .code-files-list-container {
            left: 0;
            width: $file-list-width !important;
            bottom: 0;
            padding-top: 50px;
            height: auto;
            border-right: 1px solid #ddd;
            &:not(.stuck) {
                position: absolute;
                top: 0;
            }
            &.stuck {
                border-right-color: #ccc;
                @include box-shadow(rgba(black, 0.07) 2px 0 1px -1px);
            }
        }
        .code-files-list {
            max-height: none;
            position: absolute;
            top: 85px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            height: auto !important;  // bypass collapsing;
            margin: 5px 0 0 !important;
        }
        .files-list-summary {
            cursor: default;
            position: absolute;
            top: 14px;
            i.fa-sort {
                display: none;
            }
        }
        .issue-activity {
            margin-left: $file-list-width;
        }
        table.diff tr:not(.diff-comments) td.code span {
            left: $file-list-width;
        }
    }
}

// the toolbar of an issue is placed on the top right corner
.issue-nav {
    position: absolute;
    right: 23px;
    top: 21px;
    z-index: 120;
    i {
        cursor: pointer;
        color: $body-text-color;
    }
}

.header-stuck {
    .issue-nav {
        top: 60px;
        position: fixed;
    }
    &.with-repository {
        .issue-nav {
            top: 60px + $repo-name-height + $header-top-padding;
        }
    }
}

.issue-activity {
    padding: 15px 15px;
    .time {
        color: #949494 !important;
        font-weight: normal;
        i {
            margin-right: 3px;
        }
    }
    a.time:hover {
        text-decoration: none;
        span {
            text-decoration: underline;
        }
    }
    > li > .box .box-toolbar > li {
        margin-left: 10px;
        &:first-child {
            margin-left: 5px;
        }
    }
    .box-header > .fa-stack {
        float: left;
        margin-top: 7px;
        margin-left: 7px;
    }
    .chat-box-entry {
        margin-left: 50px;
        > .info .label {
            margin-right: 4px;
        }
        &.event {
            > .info {
                color: #393939;
                > .label {
                    margin-left: -4px;
                    margin-right: 4px;
                }
            }
            &.event-referenced-by-issue,
            &.event-referenced-by-issuecomment,
            &.event-referenced-by-pullrequestcomment,
            &.event-referenced-by-milestone {
                > .content > span.label {
                    float: right;
                    margin-top: 1px;
                }
            }
            &.event-referenced-in-commit {
                .comment-commits table {
                    border-top: none;
                    tr:first-child {
                        border-top: none;
                        td  {
                            border-top: none;
                        }
                    }
                }
            }
        }
    }
    .pr-commits-group .box-header {
        > .title, > .box-toolbar > li {
            font-size: 13px;
        }
        > .title {
            font-weight: normal;
        }
    }
    .pr-entry-point {
        @extend %scroll-highlight;
        &.outdated {
            border: solid $state-closed-color 1px;
        }
        .outdated {
            color: $state-closed-color;
        }
        & > .box-header {
            position: relative;
            min-height: 65px;
            .title {
                font-size: 13px;
                font-weight: normal;
                margin-right: 160px;
                > span {
                    display: block;
                }
            }
            .box-toolbar {
                font-weight: normal;
                color: #949494;
                float: none;
                position: absolute;
                top: 2px;
                right: 5px;
                li.link {
                    float: none;
                    clear: both;
                    text-align: right;
                    top: -5px;
                    line-height: 21px;
                    display: block;
                }
            }
            .comments-count {
                padding-right: 5px;
                i {
                    margin-right: 2px;
                }
            }
            .time {
                margin-left: 5px;
                i.fa-caret-right {
                    font-size: 11px;
                    color: #bbb;
                    width: auto;
                    margin: 0 4px;
                }
            }
        }
        & > .box-content.collapse.in {
            position: static;
        }
    } // .pr-entry-point

    .box-section.code-comments {
        @extend %scroll-highlight;
        padding-top: 5px;
        padding-bottom: 0;
        position: relative;
    }

    .code-file {
        @extend %scroll-highlight;
        .box-toolbar {
            margin-top: 8px;
            margin-right: 8px;
            text-align: right;
            > li {
                line-height: normal;
                padding: 0;
                margin: 0;
                float: none;
                &:first-of-type {
                    margin-bottom: 3px;
                    li:first-of-type {
                        margin-right: 3px;
                    }
                }
                a.btn {
                    display: block;
                }
            }
        }
        & > .box-content.collapse.in {
            position: static;
        }
        .title span {
            display: block;
            font-weight: normal;
        }
        .no-diff {
            color: $light-text-color;
            background: white;
            padding: 10px;
        }
    }

    .pr-entry-point, .code-file {
        div.collapse.in {
            height: auto !important;
            overflow: visible;
        }
    }
    .comment-commits {
        margin: -5px -10px;
    }

    .comment-form {
        margin: 5px 0;
        textarea {
            width: 100%;
            @include box-sizing(border-box);
            height: 5em;
            @include transition(height 0.35s);
            &.focused {
                height: 15em;
            }
        }
        .alert {
            margin-bottom: 10px;
        }
    }

    .comment-delete-form {
        .auto-align {
            padding-bottom: 10px;
            border-bottom: solid 1px $box-border-color;
        }
    }

    .comment-create-placeholder {
        margin-left: 50px;
        margin-bottom: 15px;
    }

    .change-event .box-content {
        margin: 5px 10px;
    }

    .code-comments-group .box-content {
        margin: 5px 10px;
        padding-right: 70px;
    }

    .go-to-review-link {
        position: absolute;
        right: 20px;
        margin-top: -1px;
    }

    .commit-comments-group .box-content {
        margin: 5px 10px;
        .comment-commits {
            margin-top: 5px;
        }
    }

    .issue-comment {
        @extend %scroll-highlight;
    }

    .comment-nav {
        float: right;
        margin: -2px -5px -1px 7px;
        a.loading {
            i.fa-edit, i.fa-times {
                display: none;
            }
        }

    }

    & ~ .issue-activity {
        padding-top: 0;
        margin-top: -17px;
        > li.divider {
            span {
                font-size: 14px;
                top: -10px;
            }
        }
    }

}

.issue-tabs {
    overflow: hidden;
    position: relative;
    padding: 0 25px;
    display: none; // by default for issues
    > ul {
        margin-bottom: 0;
        padding-top: 5px;
        padding-left: 3px;
        white-space: nowrap;
        position: relative;
        width: 3000px; // to keep a border even when scrolled
        @include transform(translateX(0));
        left: 0; // left will be used if transform not supported
        @include transition(transform 0.35s ease-in-out, left 0.35s ease-in-out);
        > li {
            margin-left: 1px;
            margin-right: 1px;
            white-space: nowrap;
            display: inline-block;
            float: none;
            > a {
                padding: 5px 8px 8px;
                > .badge:last-of-type {
                    margin-left: 3px;
                }
            }
            &.pr-discussion-tab > a > .badge:first-child {
                margin-left: 0;
            }
            &.commit-tab > a > strong {
                margin-right: 3px;
            }
            &.closable {
                a {
                    position: relative;
                    padding-right: 22px;
                }
                i.fa-times {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    line-height: 30px;
                    padding: 0 5px;
                    cursor: pointer;
                    font-size: 12px;
                    color: #CCC;
                    &:hover {
                        color: #666;
                    }
                }
            }
        }
    }
    > .arrow {
        position: absolute;
        display: block;
        top: 6px;
        bottom: 0;
        padding-top: 8px;
        width: 23px;
        text-align: center;
        border-bottom: solid 1px #ddd;
        background-color: #f0f0F0;
        background-color: rgba(240,240 ,240 ,1);
        z-index: 1;
        > .badge {
            font-size: 8px;
            position: absolute;
            top: 1px;
            min-width: 8px;
            line-height: 8px;
            height: 8px;
            padding: 0 1px;

        }
        > i, > .badge {
            opacity: 1;
            @include transition(opacity 0.35s ease-in-out);
        }
        &.scroll-left {
            left: 0;
            padding-left: 2px;
            padding-right: 5px;
            @include background(linear-gradient(right, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0.8) 30%, rgba(240, 240, 240, 1) 100%));
            > .badge {
                left: 2px;
            }
        }
        &.scroll-right {
            right: 0;
            padding-left: 5px;
            padding-right: 2px;
            @include background(linear-gradient(left, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0.8) 30%, rgba(240, 240, 240, 1) 100%));
            > .badge {
                right: 2px;
            }
        }
    }
    &.no-scroll-left .scroll-left,
    &.no-scroll-right .scroll-right {
        > i {
            opacity: 0.1;
        }
        > .badge {
            opacity: 0;
        }
    }
    &.stuck {
        background: #f0f0F0;
        max-height: $tabs-stuck-height;
        top: $header-top + $top-border + $header-stuck-height;
        z-index: 99;
        padding: 0 25px; // override area-top
        > ul {
            padding-top: 2px;
            padding-bottom: 3px;
            border-bottom: none;
            > li {
                margin-bottom: 0;
                > a {
                    @include border-radius(4px);
                    border-color: none;
                    padding-bottom: 4px;
                    &:hover, &:focus {
                        border-color: #ddd;
                    }
                }
                &.active > a {
                    border-color: #ddd;
                }
            }
        }
        > .arrow {
            top: -6px;
            bottom: -1px;
            padding-top: 16px;
            > .badge {
                top: 9px;
            }
        }
    }
}
.with-repository .issue-tabs.stuck {
    top: $header-top + $top-border + $header-stuck-height + $repo-name-height + $header-top-padding;
}
.issue-discussion {
    .issue-body {
        margin-top: 0;
    }
}
.issue-commits {
    .deleted-commits-toggler {
        font-size: inherit;
        display: inline-block;
        float: right;
        line-height: normal;
        vertical-align: middle;
        input {
            vertical-align: middle;
            margin-right: 1ex;
        }
        span {
            vertical-align: middle;
        }
    }
    .all-commits {
        display: none;
    }
    &.view-deleted {
        .all-commits {
            display: block;
        }
        .active-commits {
            display: none;
        }
    }
}
.issue-commits, .issue-review, .code-files {
    > .content, .code-files-list-container, .review-header {
        padding: 15px;
        background: white;
        border-bottom: solid 1px $box-border-color;
        @include box-shadow(rgba(black, 0.1) 0 1px 3px -1px);
        > nav {
            margin-left: 10px;
            float: right;
            position: relative;
            top: -6px;
            > .btn-group {
                margin-left: 6px;
            }
            > div.quicksearch-widget {
                display: inline-block;
                input[type='text'] {
                    width: 100px;
                }
            }
        }
    }
    .code-files-list {
        clear: both;
        margin-bottom: -12px;
        max-height: 150px;
        overflow-y: auto;
        @include transition(height 0.01s ease);
        &.in {
            margin-top: 15px;
            margin-bottom: -5px;
        }
        table {
            margin-bottom: 0;
            table-layout: fixed;
        }
        tr {
            @extend %active-background;
        }
        td:first-of-type {
            width: 12px;
            color: #767676;
            &.status-added {
                color: #8cc079;
            }
            &.status-removed {
                color: #b35d5d;
            }
            &.status-renamed {
                color: #7fb3d4;
            }
        }
        td:last-of-type {
            text-align: right;
            li {
                margin-left: 4px;
            }
        }
        tr:last-of-type td {
            border-bottom: 1px solid #DDD;
        }
        ul {
            margin-bottom: 0;
            white-space: nowrap;
        }
    }
    .empty-area {
        position: static;
        height: 200px;
        margin-top: 100px;
        i {
            font-size: inherit;
        }
    }
}

.code-files {
    .code-files-list-container {
        &.stuck {
            min-height: $files-min-stuck-height;
            z-index: 98;
            padding-bottom: 3px;
            .code-files-list {
                margin-bottom: 0;
                &.in {
                    margin-bottom: 7px;
                }
            }
        }
    }
}

.issue-review .review-header {
    position: relative;
    > nav {
        float: none;
        position: absolute;
        top: 9px;
        right: 10px;
    }
    &.stuck {
        position: fixed;
        height: 49px;
    }
}

.code-files .code-files-list-container, .issue-review .review-header {
    @include box-sizing(border-box);
    &.stuck {
        top: $header-top + $top-border + $header-stuck-height + $tabs-stuck-height;
        z-index: 98;
        @include calc(width, $stuck-width);
    }
}

.with-repository {
    .code-files .code-files-list-container, .issue-review .review-header {
        &.stuck {
            top: $header-top + $top-border + $header-stuck-height + $tabs-stuck-height + $repo-name-height + $header-top-padding;
        }
    }
}

table.commits-list {
    td {
        line-height: 22px;
        padding: 4px;
        vertical-align: top;
        &.cell-author {
            width: 16ex;
            white-space: nowrap;
            font-weight: bold;
            span {
                overflow: hidden;
                @include ellipsis();
                vertical-align: middle;
                display: inline-block;
                width: 12ex;
                margin-left: 3px;
            }
        }
        &.cell-message {
            border-right: none;
            .label {
                float: left;
                margin-right: 4px;
                margin-top: 3px;
                &.comments-count {
                    float: right;
                    margin-right: 3px;
                    margin-left: 1em;
                }
            }
            p {
                font-family: $monoFontFamily;
                font-size: 11px;
                margin: 0;
                white-space: pre-wrap;
                &:first-of-type {
                    margin-top: 3px;
                    font-size: 12px;
                }
                > span[data-toggle=collapse] {
                    @extend %toggle;
                    font-family: "Open Sans",HelveticaNeue,Helvetica,Arial;
                    position: relative;
                    top: -2px;
                }
            }
        }
        &.cell-sha {
            width: 10ex;
            text-align: center;
            font-family: $monoFontFamily;
        }
        &.cell-stats {
            white-space: nowrap;
            text-align: right;
            border-left: none;
            li:not(:first-child) {
                margin-left: 2px;
            }
        }
        .comments-count {
            color: white;
            font-weight: normal;
        }
    }
} // table.commits-list

.files-navigator {
    width: 20em;
    li a {
        padding-right: 5px;
        padding-left: 5px;
    }
    li.horizontal-4.disabled {
        text-align: right;
    }
}

.code-diff {
    overflow: auto;
    padding: 0;
    border-top: 0;
    table.diff {
        margin-bottom: 0;
    }
}

#modal-issue-view, #modal-issue-created {
    .modal-body {
        padding: 0;
        @include border-radius(6px);
        background: $body-background-color;
        .header-stuck {
            .issue-nav {
                @include calc(right, "50% - 260px");
                @include calc(top, "10% + 9px");
            }
            &.with-repository {
                .issue-nav {
                    @include calc(top, "10% + #{9px + $repo-name-height + $header-top-padding}");
                }
            }
        }
        .stuck, {
            width: 560px - $scrollbar-width; // width of the modal
            right: auto;
            top: 10%; // top of the modal
        }
        article > .area-top header h3 {
            margin-right: 40px;
        }
        > .issue-container.big-issue {
            top: 0 !important;
        }
        > .issue-container > article > .area-top header.stuck {
            margin-left: -15px;  // left padding of parent area-top
            @include border-radius(6px 6px 0 0);
        }
        .issue-tabs.stuck {
            margin-top: $header-stuck-height;
        }
        .with-repository {
            .issue-tabs.stuck {
                margin-top: $header-stuck-height + $repo-name-height + $header-top-padding;
            }
        }
        .code-files-list-container, .review-header {
            &.stuck {
                margin-top: $header-stuck-height + $tabs-stuck-height;
            }
        }
        .with-repository {
            .code-files-list-container, .review-header {
                &.stuck {
                    margin-top: $header-stuck-height + $tabs-stuck-height + $repo-name-height + $header-top-padding;
                }
            }
        }
        .sticky-wrapper > * {
            top: 10%; // to avoid transition from 0 in chrome, should do nothing on static non-stuck item
        }
        .stuck {
            @include transition(top 0.35s);
        }
   }
    &.full-screen {
        .modal-body {
            height: 100%;
            .header-stuck {
                .issue-nav {
                    @include calc(right, "5% + 20px");
                    @include calc(top, "5% + 9px");
                }
                &.with-repository {
                    .issue-nav {
                        @include calc(top, "5% + #{9px + $repo-name-height + $header-top-padding}");
                    }
                }
            }
            .stuck {
                width: 90% !important;
                top: 5% !important;
            }
            @media (min-width: 1023px) {
                .code-files .code-files-list-container {
                    position: absolute;
                    width: $file-list-width !important;
                    top: 0 !important;
                    &.stuck {
                        position: fixed;
                        top: 5% !important;
                        left: 5% !important;
                        @include calc(left, "5% + 1px", !important);
                        bottom: 5% !important;
                        @include calc(bottom, "5% - 1px", !important);
                    }
                }
            }
        }
    }
    .empty-area {
        position: static;
        height: 200px;
        margin-top: 100px;
        i {
            font-size: inherit;
        }
    }
}
