{% load frontutils %}
<li>
    <div class="box change-event">
        <div class="box-header">
            <div class="title">The {{ event.issue.type }} was updated</div>
            <ul class="box-toolbar">
                <li class="time"><span class="time" title="{{ event.created_at|date:"DATETIME_FORMAT" }}"><i class="fa fa-clock-o"></i> {{ event.created_at|ago }}</span></li>
            </ul>
        </div>
        {% for part in event.get_parts %}
            {% with rendered_content=part.render_as_html|safe %}
                {% if rendered_content %}
                    <div class="box-content">
                        {{ rendered_content }}
                    </div>
                {% endif %}
            {% endwith %}
        {% endfor  %}
    </div>
</li>