{% load frontutils macros %}
{% macro render_user user with_count %}<strong><img class="avatar-tiny img-circle" src="{{ user.avatar_url|default:default_avatar }}"> {{ user.username }}</strong>{% if with_count %} ({{ user.count }}){% endif %}{% endmacro %}
<li>
    <div class="box pr-comments-group">
        {% with nb_comments=group|length %}
            <div class="box-header">
                <span class="fa-stack">
                    <i class="fa fa-comment-o fa-stack-2x"></i>
                    <i class="fa fa-code fa-stack-1x"></i>
                </span>
                <div class="title">
                    {{ nb_comments }} code comment{{ nb_comments|pluralize }} {{ nb_comments|pluralize:'was,were'}} added
                </div>
                <ul class="box-toolbar">
                    <li class="time" title="{{ group.0.created_at|date:"DATE_FORMAT" }}"><i class="fa fa-clock-o"></i> {% if with_ago %}{{ group.0.created_at|ago }}{% else %}{{ group.0.created_at|date:"DATE_FORMAT" }}{% endif %}</li>
                </ul>
            </div>
            <div class="box-content">
                by
                {% if group.authors|length == 1 %}
                    {% usemacro render_user group.authors.values.0 False %}
                {% else %}
                    {% usemacro render_user group.authors.values.0 True %}<!--
                    {% for author in group.authors.keys|slice:'1:-1' %}
                        -->, {% usemacro render_user group.authors|dict_item:author True %}<!--
                    {% endfor %}
                    --> and {% usemacro render_user group.authors.values|last True %}
                {% endif %}
                <button class="btn btn-mini btn-gray go-to-review-link" data-ids="[{{ group|map_attr:'id'|join:',' }}]">View {{ nb_comments|pluralize:'it,them'}}</button>
            </div>
        {% endwith %}
    </div>
</li>
