{% load frontutils %}
<li>
    <div class="box pr-entry-point{% if not entry_point.position %} outdated{% endif %}" tabindex="-1">
        <div class="box-header" data-toggle="collapse" data-target="#{{ id_prefix }}-{{ entry_point.id }}" title="Click to collapse/expand">
            <div class="title">
                <strong>{{ entry_point.user.username }}</strong> started a discussion in a{% if not entry_point.position %}n <strong class="outdated">outdated</strong>{% endif %} diff
                <span class="path">{{ entry_point.path }}</span>
            </div>
            <ul class="box-toolbar">
                {% with entry_point_comments_count=entry_point.comments.all|length %}
                    <li class="comments-count" title="{{ entry_point.nb_comments }} comment{{ entry_point.nb_comments|pluralize }}" ><i class="fa fa-comments-o"> </i>{{ entry_point.nb_comments }}</li>
                {% endwith %}
                {% if not entry_point.updated_at or entry_point.created_at == entry_point.updated_at %}
                    <li class="time" title="{{ entry_point.created_at|date:"DATETIME_FORMAT" }}"><i class="fa fa-clock-o"></i>{{ entry_point.created_at|ago }}</li>
                {% else %}
                    <li class="time" title="Created on {{ entry_point.created_at|date:"DATETIME_FORMAT" }}, updated on  {{ entry_point.last_created|date:"DATETIME_FORMAT" }}"><i class="fa fa-clock-o"></i>{{ entry_point.created_at|ago:True }}<i class="fa fa-caret-right"></i>{{ entry_point.last_created|ago:True }}
                    </li>
                {% endif %}
                {% with github_file_url=entry_point.github_url %}
                    {% if github_file_url %}
                        <li class="link">
                            <a href="{{ github_file_url }}" target='_blank' class="btn btn-mini btn-default" title="View file @{{ entry_point.commit_sha|short_sha }}">@{{ entry_point.commit_sha|short_sha }}</a>
                        </li>
                    {% endif %}
                {% endwith %}
            </ul>
        </div>
        <div class="box-content collapse{% if entry_point.position %} in{% endif %}" id="{{ id_prefix }}-{{ entry_point.id }}">
            <div class="box-section code-diff">
                {% include "front/repository/issues/code/include_diff.html" with parsed_diff=entry_point.diff_hunk|parse_diff:True entry_points=None path=entry_point.path sha=entry_point.original_commit_sha %}
            </div>
            {% include "front/repository/issues/comments/include_code_comments.html" with comments=entry_point.comments.all classes="" with_link_to_diff=entry_point.position %}
            {% if not entry_point.position %}
                <div class="box-section outdated">
                    Note: these comments are related to outdated code, which has been updated since they were posted.
               </div>
            {% endif %}
        </div>
    </div>
</li>
