@import "compass/typography/text/ellipsis";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";

.issue {
    position: relative;

    .area-top {
        @include box-shadow(rgba(black, 0.07) 0 1px 1px -1px );
        header {
            .avatar {
                @include avatar-small-container;
                float: left;
            }
            & > h3, & > h5, & > p, & > div:not(.avatar) {
                margin-left: 50px;
            }
            & > h5, & > p, & > div:not(.avatar) {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
        @extend %issue-state-marker;
        padding-bottom: 5px;
        min-height: 95px;
    }
    .issue-pull-request {
        position: absolute;
        top: 65px;
        left: 15px;
        width: 40px;
        text-align: center;
        font-size: 24px;
    }
    .issue-footer {
        overflow: auto;
        margin-right: -5px;
    }
    .issue-footer-infos {
        overflow: auto;
        border: 1px solid #ccc;
        @include box-shadow(0 0 6px -1px rgba(0, 0, 0, 0.15) inset, 1px 1px 0 #eee);
        float: right;
        @include border-radius(4px);
        margin-right: 1px;
        margin-bottom: 1px;
        margin-left: 10px;
    }
    .issue-footer-info-part {
        margin: 0;
        padding: 2px 6px;
        line-height: 26px;
        border-left: solid 1px #f0f0f0;
        border-right: solid 1px #ddd;
        display: block;
        float: left;
        &:first-child {
            @include border-radius(4px 0 0 4px);
            border-left: none;
        }
        &:last-child {
            @include border-radius(0 4px 4px 0);
            border-right: none;
        }
        &:first-child:last-child {
            @include border-radius(4px);
        }
    }

    .issue-assignee {
        @extend %issue-assignee;
        cursor: default;
    }

    .issue-comments-count {
        top: 0;
        color: inherit;
    }

    .issue-labels {
        @extend %issue-labels;
        margin-top: 9px;
    }

    .issue-involved {
        margin-bottom: 0;
        li {
            display: inline-block;
        }
    }

    .pr-infos, .issue-button {
        margin-top: -15px;
        margin-bottom: 15px;
        background: $highlight-background-color;
        padding: 15px;
        border-bottom: solid 1px $box-border-color;
        overflow: auto;
    }
    .pr-infos {
        ul {
            float: right;
            li {
                display: inline-block;
            }
        }
    }
    .pr-merge-status {
        margin-top: 15px;
        .alert {
            display: inline-block;
            padding-right: 14px;
            margin: 0;
        }
    }
    .issue-edit-state-form {
        float: right;
        margin-bottom: 0;
        button {
            padding: 8px 14px;
            font-size: 13px;
            line-height: 18px;
        }
    }

    .issue-body {
        margin-top: -15px;
        padding: 15px;
        background: white;
        border-bottom: solid 1px $box-border-color;
        @include box-shadow(rgba(black, 0.1) 0 1px 3px -1px);
        &.empty {
            color: $light-text-color;
        }
    }

} // .issue

// the toolbar of an issue is placed on the top right corner
.issue-nav {
    position: absolute;
    right: 9px;
    top: 2px;
    z-index: 20;
    i {
        cursor: pointer;
        color: $body-text-color;
    }
}

.issue-comments {
    padding: 15px 15px;
    .time {
        color: #949494 !important;
        font-weight: normal;
    }
    .chat-box-entry {
        margin-left: 50px;
        &.event {
            > .info {
                color: #393939;
                > .label {
                    margin-left: -4px;
                    margin-right: 4px;
                }
            }
            &.event-referenced-by-issue,
            &.event-referenced-by-issuecomment,
            &.event-referenced-by-pullrequestcomment,
            &.event-referenced-by-milestone {
                > .content > span.label {
                    float: right;
                    margin-top: 1px;
                }
            }
        }
    }
    .pr-commits-group .box-header {
        > .title, > .box-toolbar > li {
            font-size: 13px;
        }
        > .title {
            font-weight: normal;
        }
    }
    .pr-entry-point {
        & > .box-header {
            cursor: pointer;
            .title {
                font-size: 13px;
                font-weight: normal;
                > span {
                    display: block;
                }
            }
            .box-toolbar {
                font-weight: normal;
                color: #949494;
            }
            .time {
                margin-left: 5px;
            }
        }
    } // .pr-entry-point

    .box-section.pr-comments {
        padding-top: 5px;
        padding-bottom: 0;
    }

    .pr-file {
        .box-toolbar {
            margin-top: 8px;
            margin-right: 8px;
            > li {
                line-height: normal;
                padding: 0;
                margin: 0;
                float: none;
                &:first-of-type {
                    margin-bottom: 3px;
                }
                a.btn {
                    display: block;
                }
            }
        }
        & > .box-header {
            cursor: pointer;
        }
        .title span {
            display: block;
            font-weight: normal;
        }
        .no-diff {
            color: $light-text-color;
            background: white;
            padding: 10px;
        }
    }

    .comment-commits {
        margin: -5px -10px;
    }

    .comment-create-form {
        margin: 5px 0;
        textarea {
            width: 100%;
            @include box-sizing(border-box);
            height: 5em;
            @include transition(height 0.5s ease 2s);
        }
        textarea:focus {
            height: 15em;
        }
        .alert {
            margin-bottom: 10px;
        }
    }

    .comment-create-placeholder {
        margin-left: 50px;
        margin-bottom: 15px;
    }

}

.pr-tabs {
    margin-bottom: 0;
    > li {
        margin-left: 10px;
        margin-right: 10px;
        &:first-of-type {
            margin-left: 30px;
        }
    }
}
.issue-discussion {
    .issue-body {
        margin-top: 0;
    }
}
.issue-commits, .issue-files {
   > .content {
        padding: 15px;
        background: white;
        border-bottom: solid 1px $box-border-color;
        @include box-shadow(rgba(black, 0.1) 0 1px 3px -1px);
        > button {
            float: right;
            position: relative;
            top: -6px;
        }
    }
}

table.commits-list {
    td {
        line-height: 22px;
        padding: 4px;
        vertical-align: top;
        &.cell-author {
            width: 105px;
            white-space: nowrap;
            font-weight: bold;
            span {
                overflow: hidden;
                @include ellipsis();
                vertical-align: middle;
                display: inline-block;
                width: 80px;
            }
        }
        &.cell-message {
            p {
                font-family: $monoFontFamily;
                font-size: 11px;
                margin: 0;
                white-space: pre-wrap;
                &:first-of-type {
                    margin-top: 3px;
                    font-size: 12px;
                }
            }
            > span[data-toggle=collapse] {
                float: right;
                cursor: pointer;
                display: block;
                height: 12px;
                @include border-radius(1px);
                background: #ddd;
                line-height: 6px;
                font-size: 12px;
                font-weight: bold;
                padding: 1px 3px;
                margin: 6px 6px 2px 2px;
            }
        }
        &.cell-sha {
            width: 50px;
            text-align: center;
            font-family: $monoFontFamily;
            font-size: 11px;
        }
    }
} // table.commits-list

table.table.table-normal.diff-lines {
    tr:not(.diff-comments) {
        white-space: pre;
        background: white;
        font-family: $monoFontFamily;
        color: #333;
        border: none;
        &.comment{
            background: #F8F8FF;
            color: #999;
            td.line-number {
                background-color: #F3F3FF;
                border-color: #E4E4FF;
                text-align: center;
            }
        }
        &.added {
            background: #DDFFDD;
            td.line-number {
                background-color: #CEFFCE;
                border-color: #B4E2B4;
            }
        }
        &.removed {
            background: #FFDDDD;
            td {
                background-color: #F7C8C8;
                border-color: #E9AEAE;
            }
        }
        td {
            border: none;
            line-height: 20px;
            min-height: 20px;
            padding: 1px 5px;
            background: transparent;
            &.line-number {
                width: 1%;
                text-align: right;
                color: rgba(0, 0, 0, 0.3);
                border-right: {
                    style: solid;
                    width: 1px;
                }
                &:before {
                    content: attr(data-line-number);
                }
            }
        }
    }
}

.code-diff {
    overflow: auto;
    padding: 0;
    border-top: 0;
    table.diff-lines {
        margin-bottom: 0;
    }
}


#modal-issue-view {
    .modal-body {
        padding: 0;
        @include border-radius(6px);
        background: $body-background-color;
        .issue-nav .close {
            margin-left: 10px;
        }
    }
    &.full-screen {
        .modal-body {
            height: 100%;
        }
    }
}