.issue {
    position: relative;

    .area-top {
        @include box-shadow(rgba(black, 0.07) 0 1px 1px -1px );
        h3, h5, p, .desc {
            margin-left: 50px;
        }
        h5 {
            margin-bottom: 5px;
        }
        header {
            .avatar {
                @include avatar-small-container;
                float: left;
            }
        }
        @extend %issue-state-marker;
        padding-bottom: 5px;
        min-height: 95px;
    }
    .issue-pull-request {
        position: absolute;
        top: 65px;
        left: 15px;
        width: 40px;
        text-align: center;
        font-size: 24px;
    }
    .issue-milestone {
        margin-left: 50px;
    }
    .issue-footer {
        overflow: auto;
        margin-right: -5px;
    }
    .issue-footer-infos {
        overflow: auto;
        border: 1px solid #ccc;
        @include box-shadow(0 0 6px -1px rgba(0, 0, 0, 0.15) inset, 1px 1px 0 #eee);
        float: right;
        @include border-radius(4px);
        margin-right: 1px;
        margin-bottom: 1px;
        margin-left: 10px;
    }
    .issue-footer-info-part {
        margin: 0;
        padding: 2px 6px;
        line-height: 26px;
        border-left: solid 1px #f0f0f0;
        border-right: solid 1px #ddd;
        display: block;
        float: left;
        &:first-child {
            @include border-radius(4px 0 0 4px);
            border-left: none;
        }
        &:last-child {
            @include border-radius(0 4px 4px 0);
            border-right: none;
        }
        &:first-child:last-child {
            @include border-radius(4px);
        }
    }

    p.state-closed {
        margin-bottom: 5px;
    }

    .issue-assignee {
        @extend %issue-assignee;
        cursor: default;
    }

    .issue-comments-count {
        top: 0;
        color: inherit;
    }

    .issue-labels {
        @extend %issue-labels;
        margin-top: 9px;
    }

    .issue-involved {
        margin-bottom: 0;
        span {
            font-size: smaller;
        }
        li {
            display: inline-block;
        }
    }

    .issue-body {
        margin-top: -15px;
        padding: 15px;
        background: white;
        border-bottom: solid 1px $box-border-color;
        @include box-shadow(rgba(black, 0.1) 0 1px 3px -1px);
        &.empty {
            font-style: italic;
            color: $light-text-color;
        }
    }

} // .issue

// the toolbar of an issue is placed on the top right corner
.issue-nav {
    position: absolute;
    right: 9px;
    top: 2px;
    z-index: 20;
    i {
        cursor: pointer;
        color: $body-text-color;
    }
}

.issue-comments {
    padding: 15px 15px;
    .chat-box-entry {
        margin-left: 50px;
    }
    .pr-entry-point {
        & > .box-header .title {
            font-size: 14px;
            span {
                font-weight: normal;
                font-style: italic;
                display: block;
            }
        }
        .box-section {
            padding-top: 5px;
            padding-bottom: 0;
        }
        .pr-diff {
            overflow: auto;
            padding: 0;
            pre {
                white-space: pre;
                color: #333;
                background: white;
                display: table;
                width: 100%;
                padding: 0;
                border: none;
                margin: 0;
                > span {
                    display: table-row;
                    line-height: 20px;
                    min-height: 20px;
                    &.comment {
                        background: #F8F8FF;
                        color: #999;
                    }
                    &.added {
                        background: #DDFFDD;
                    }
                    &.removed {
                        background: #FFDDDD;
                    }
                    > code {
                        padding: 1px 5px;
                        white-space: inherit;
                    }
                }
            }
        }
    }
}

#modal-issue-view {
    .modal-body {
        padding: 0;
        @include border-radius(6px);
        background: $body-background-color;
        .issue-nav .close {
            margin-left: 10px;
        }
    }
    &.full-screen {
        .modal-body {
            height: 100%;
        }
    }
}