%issue-state-marker {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        right: 0px;
        top: -1px;
        bottom: -1px;
        width: 5px;
    }
    &.state-open {
        &:after {
            background-color: $state-open-color;
        }
    }
    &.state-closed {
        &:after {
            background-color: $state-closed-color;
        }
    }
}

%issue-labels {
    margin: 0;
    padding: 0;
    padding-right: 5px;
    & > li, & > a {
        display: inline-block;
        white-space: nowrap;
        margin: 1px 0;
        padding: 0 3px;
        color: inherit;
        border-bottom: solid #ccc 3px;
    }
    & > li > a {
        color: inherit;
        text-decoration: none;
    }
}

%issue-assignee {
    i {
        position: relative;
        top: 2px;
    }
    width: 43px;
}


p.state-closed {
    color: $state-closed-color;
}
