*.log
*.pot
*.pyc
local_settings.py
local_conf.py
/bin/
/include/
/lib/
/local/
/share/
/src/
*.db
*.db-journal
*.sublime-workspace
*.sublime-project
.sass-cache
/static/
eggs/
eggs-upstream/
develop-eggs/
.installed.cfg