Django
South
django-extensions
ipython
git+ssh://git@github.com/twidi/pytimeago.git#egg=pytimeago
django-debug-toolbar
pip install git+ssh://git@github.com/twidi/django-debug-toolbar-template-timings.git#egg=template_timings
