{% load frontutils staticfiles %}
{% static 'front/img/default-avatar.png' as default_avatar %}
<table class="table table-normal commits-list">
    {% for commit in commits %}
        <tr>
            <td class="cell-author">
                <img class="avatar-tiny img-circle" src="{{ commit.author.avatar_url|default:default_avatar }}" alt="{{ commit.author|default:commit.author_name }}">
                <span title="{{ commit.author|default:commit.author_name }}">{{ commit.author|default:commit.author_name }}</span>
            </td>
            <td class="cell-message">
                {% if not commit.fetched_at and not commit.message %}
                    {% if repository_source and repository_source.id != commit.repository_id %}[from <i>{{ repository_source.full_name }}</i>] {% endif %}
                    <i>Commit not fetched yet</i>
                {% else %}
                    {% with message=commit.splitted_message %}
                        {% if commit.relation_deleted %}
                            <span class="label label-red">outdated</span>
                        {% endif %}
                        {% if repository_source and repository_source.id != commit.repository_id %}
                            <span class="label label-blue">{{ repository_source.full_name }}</span>
                        {% endif %}
                        {% if message.1|length %}
                            <span data-toggle="collapse" data-target="#{{ id_prefix }}commit-more-{{ commit.sha }}">…</span>
                        {% endif %}
                        <p>{{ message.0 }}</p>
                        {% if message.1|length %}
                            <p class="collapse" id="{{ id_prefix }}commit-more-{{ commit.sha }}">{{ message.1 }}</p>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </td>
            <td class="cell-sha"><a href="{{ commit.github_url }}" target='_blank' title="View commit on Github">{{ commit.sha|short_sha }}</a></td>
        </tr>
    {% endfor %}
</table>
