{% load frontutils staticfiles %}
{% static 'front/img/default-avatar.png' as default_avatar %}
<table class="table table-normal commits-list">
    {% for commit in commits %}
        <tr class="commit-link-holder" data-repository="{{ commit.repository }}" data-sha="{{ commit.sha }}" data-url="{{ current_issue.ajax_commit_base_url|slice:'-41'|add:commit.sha|add:'/' }}">
            <td class="cell-author">
                <img class="avatar-tiny img-circle" src="{{ commit.author.avatar_url|default:default_avatar }}" alt="{{ commit.author|default:commit.author_name }}">
                <span title="{{ commit.author|default:commit.author_name }}">{{ commit.author|default:commit.author_name }}</span>
            </td>
            <td class="cell-message">
                {% if commit.comments_count %}
                    <a class='label label-cyan comments-count commit-link' href="{{ commit.github_url }}" target='_blank' title="View commit with comments">
                        <i class="fa fa-comments-o"></i> {{ commit.comments_count }}
                    </a>
                {% endif %}
                {% if commit.relation_deleted %}
                    <span class="label label-red">outdated</span>
                {% endif %}
                {% if repository_source and repository_source.id != commit.repository_id %}
                    <span class="label label-blue">{{ repository_source.full_name }}</span>
                {% endif %}
                {% if not commit.fetched_at and not commit.message %}
                    <i>Commit not fetched yet</i>
                {% else %}
                    {% with message=commit.splitted_message %}
                        <p>{{ message.0|strip }} {% if message.1|length %}<span data-toggle="collapse" data-target="#{{ id_prefix }}commit-more-{{ commit.sha }}">…</span>{% endif %}</p>
                        {% with next=message.1|strip %}
                            {% if next|length %}
                                <p class="collapse" id="{{ id_prefix }}commit-more-{{ commit.sha }}">{{ next }}</p>
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                {% endif %}
            </td>
            <td class="cell-sha"><a class="commit-link" href="{{ commit.github_url }}" target='_blank' title="View commit{% if commit.comments_count %} with comments{% endif %}">{{ commit.sha|short_sha }}</a></td>
        </tr>
    {% endfor %}
</table>
