{% load querystring frontutils issues_tags %}{% spaceless %}
<li class="accordion-group dark-nav">
    <span class="glow"></span>
    <a class="accordion-toggle collapsed " data-toggle="collapse" data-parent="#issues-filters-accordion" href="#filter-{{ view.relation }}">
        Creators
        <i class="icon-caret-down"></i>
        {% if issues_filter.objects.user_filter_type == 'created_by' and issues_filter.parts.username %}
                <span class="selection">{{ issues_filter.parts.username }}</span>
            </a>
            <a class="clear-filter" href="{{ root_issues_url }}{{ issues_filter.querystring }}" title="Clear this filter"><i class="icon-remove"> </i>
        {% endif %}
    </a>
    {% if deferred %}
        {% include "front/repository/issues/filters/include_users_list_deferred.html" %}
    {% else %}
        {% include "front/repository/issues/filters/include_creators_list.html" %}
    {% endif %}
</li>
{% endspaceless %}