{% extends "front/base_deferred_block.html" %}

{% block deferred-tag %}ul{% endblock deferred-tag %}

{% block deferred-classes %}collapse{% endblock %}

{% block deferred-id %}filter-{{ view.relation }}{% endblock %}

{% block deferred-params %}input[name^=if]{% endblock %}

{% block deferred-placeholder %}
    <li>
        <input type="hidden" name="if.querystring" value="{{ issues_filter.querystring }}" />
        <input type="hidden" name="if.user_filter_type" value="{{ issues_filter.parts.user_filter_type }}" />
        <input type="hidden" name="if.username" value="{{ issues_filter.parts.username }}" />
        We're loading {{ count }} users, be patient! <i class="icon-spinner icon-spin"> </i>
    </li>
{% endblock deferred-placeholder %}
