{% load querystring frontutils issues_tags %}{% spaceless %}
<ul id="filter-{{ view.relation }}" class="collapse{% if list_open %} in{% endif %}">
    {% if count > MIN_FOR_FILTER %}
        <li>
            {% include "front/include_quicksearch.html" with id="filter-issues-closers" target="#filter-"|add:view.relation|add:" li.closer" only %}
        </li>
    {% endif %}
    {% for username in usernames %}
        {% if issues_filter.objects.user_filter_type == 'closed_by' and issues_filter.parts.username == username %}
            <li class="closer active">
                <a href="{{ root_issues_url }}{{ issues_filter.querystring }}">{{ username }}</a>
            </li>
        {% else %}
            <li class="closer">
                <a href="{{ current_repository|base_url_issues_filtered_by_closed_by:username }}{{ issues_filter.querystring }}">{{ username }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% if view.request.is_ajax and count > MIN_FOR_FILTER %}
    <script type="text/javascript">
        window.activate_quicksearches($('#filter-issues-closed_by input.quicksearch'));
    </script>
{% endif %}{% endspaceless %}