{% load querystring frontutils issues_tags %}{% spaceless %}
<ul id="filter-{{ view.relation }}" class="collapse{% if list_open %} in{% endif %}">
    {% if issues_filter.objects.user_filter_type == 'assigned' and issues_filter.parts.username == 'none' %}
        <li class="active">
            <a href="{{ root_issues_url }}{{ issues_filter.querystring }}">(&nbsp;No&nbsp;one&nbsp;assigned&nbsp;)</a>
        </li>
    {% else %}
        <li>
            <a href="{{ no_assigned_filter_url }}{{ issues_filter.querystring }}">(&nbsp;No&nbsp;one&nbsp;assigned&nbsp;)</a>
        </li>
    {% endif %}
    {% if issues_filter.objects.user_filter_type == 'assigned' and issues_filter.parts.username == '*' %}
        <li class="active">
            <a href="{{ root_issues_url }}{{ issues_filter.querystring }}">(&nbsp;Someone&nbsp;assigned&nbsp;)</a>
        </li>
    {% else %}
        <li>
            <a href="{{ someone_assigned_filter_url }}{{ issues_filter.querystring }}">(&nbsp;Someone&nbsp;assigned&nbsp;)</a>
        </li>
    {% endif %}
    {% if count > MIN_FOR_FILTER %}
        <li>
            {% include "front/include_quicksearch.html" with id="filter-issues-assigned" target="#filter-"|add:view.relation|add:" li.assigned" only %}
        </li>
    {% endif %}
    {% for username in usernames %}
        {% if issues_filter.objects.user_filter_type == 'assigned' and issues_filter.parts.username == username %}
            <li class="assigned active">
                <a href="{{ root_issues_url }}{{ issues_filter.querystring }}">{{ username }}</a>
            </li>
        {% else %}
            <li class="assigned">
                <a href="{{ current_repository|base_url_issues_filtered_by_assigned:username }}{{ issues_filter.querystring }}">{{ username }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% if view.request.is_ajax and count > MIN_FOR_FILTER %}
    <script type="text/javascript">
        window.activate_quicksearches($('#filter-issues-assigned input.quicksearch'));
    </script>
{% endif %}{% endspaceless %}