@import "variables";

.activity-feed {
    .box-header.repository {
        .title {
            font-size: 14px;
        }
        .avatar {
            margin-right: 1ex;
        }
    }
    .box-section {
        padding: 5px;
        h3 {
            line-height: 18px;
            font-size: 16px;
            a:first-child {
                float: left;
                &.open {
                    color: $state-open-color;
                }
                &.closed {
                    color: $state-closed-color;
                }
            }
            a:last-child {
                display: block;
            }
        }
        .chat-box {
            & > li {
                margin-top: 5px;
                margin-bottom: 5px;
                & > p {
                    margin: 0;
                }
            }
        }
    }
}