@import "variables";

.activity-feed {
    .box-header.repository {
        .title {
            font-size: 14px;
        }
        .avatar {
            margin-right: 1ex;
        }
    }
    .box-section {
        padding: 5px;
        h3 {
            position: relative;
            line-height: 18px;
            font-size: 16px;
            span {
                display: block;
                &:first-of-type {
                    float: left;
                    &.open {
                        color: $state-open-color;
                    }
                    &.closed {
                        color: $state-closed-color;
                    }
                }
            }
            i.icon-upload-alt {
                float: right;
                margin-right: 15px;
                margin-left: 10px;
                font-size: inherit;
            }
        }
        .chat-box {
            & > li {
                margin-top: 5px;
                margin-bottom: 5px;
                & > p {
                    margin: 0;
                }
            }
        }
    }
}