@import "variables";

.area-top {
    padding: 10px 15px;
    margin-bottom: 15px;
    background: $box-background-color;
    border-bottom: solid 1px $box-border-color;
    h3 {
        font-size: 16px;
        line-height: 1.3em;
    }
    h5, p, .desc {
        font-weight: normal;
        margin: 10px 0 10px 0;
        color: $box-light-text-color;
        font-size: 14px;
    }
}
