@import "compass/css3/box-shadow";

.avatar-small {
    max-height: 36px;
    max-width: 36px;
    @include box-shadow(rgba(black, 0.2) 0px 1px 3px -1px);
}
.avatar-tiny {
    max-height: 16px;
    max-width: 16px;
}

@mixin avatar-small-container {
    width: 40px;
    height: 44px;
    max-width: 40px;
    overflow: hidden;
    line-height: 40px;
    text-align: center;
}
