@import "variables";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "widgets/avatar";

.chat-box-entry {
    margin-left: 50px;
    margin-bottom: 15px;
    border: solid 1px $box-border-color;
    background: $content-background-color;
    position: relative;
    @include border-radius(2px);
    @include box-shadow(rgba(black, 0.1) 0 1px 3px -1px);
}
.chat-box {
    .avatar {
        @include avatar-small-container;
        position: absolute;
        top: 0;
        left: -50px;
    }
    .info {
        border-bottom: 0;
        padding: 3px 5px;
        background: $box-background-color;
    }
    .time {
        float: right;
        color: $box-light-text-color;
    }
    .content {
        border-top: solid 1px $box-border-color;
        padding: 10px 15px
    }
}
