@import "variables";
@import "compass/css3/images";
@import "compass/css3/border-radius";

.action-nav-normal {
    text-align: center;
    .action-nav-button {
        display: inline-block;
        text-align: center;
        position: relative;
        a {
            display: block;
            @include border-radius(4px);
            border: 1px solid $box-border-color;
            background: $box-background-color;
            @include background-image(linear-gradient(top, $box-background-color, darken($box-background-color, 8%)));
            white-space: nowrap;
            font-weight: bold;
            font-size: smaller;
            padding: 5px;
            color: $box-text-color;
            &:hover {
                color: darken($box-text-color, 10%);
                text-decoration: none;
            }
            span {
                display: block;
                padding-top: 4px;
            }
        }
        .badge, .label {
            position: absolute;
            top: 3px;
            right: 3px;
            padding: 3px 5px;
            display: block;
        }
    }
}
