@import "variables";
@import "widgets/avatar";

.news .avatar {
    @include avatar-small-container;
    float: left;
}
.news-time {
    float: right;
    color: $light-text-color;
    font-weight: bold;
    text-align: center;
    span {
        display: block;        
    }
}
.news-content {
    margin-left: 50px;
    margin-right: 50px;
}
.news-title {
    color: $box-text-color;
    font-weight: bold;
    margin-bottom: 1ex;
    font-size: larger;
    a {
        color: inherit;        
    }
}
