@import "compass/css3/border-radius";
@import "mixins";

#repository-switcher-content {
    padding-top: 0;
    min-width: 500px;
    overflow: auto;
    > li {
        overflow: auto;
        > strong {
            float: left;
            margin-right: 10px;
            margin-left: 5px;
            min-width: 120px;
            text-align: right;
        }
        > ul {
            text-align: left;
            margin-right: 5px;
            margin-left: 130px;
            > li {
                display: inline-block;
                margin: 0;
                margin-right: 2px;
                a {
                    padding: 0 2px;
                    > span {
                        display: none;
                    }
                }
                &:after {
                    content: "•";
                    padding-left: 4px;
                }
                &.active {
                    &:after {
                        padding-left: 6px;
                    }
                    a {
                        @include border-radius(4px);
                    }
                }
                &:last-of-type:after {
                    display: none;
                }
            }
        }
        &:last-of-type {
            text-align: center;
        }
    }
    .divider {
        height: 2px;
        margin: 4px 1px;
    }
}

#repository-switcher-filter {
    margin-bottom: 7px;
    margin-top: -1px;
    label {
        display: block;
        overflow: hidden;
        text-align: center; // useful if calc not supported
    }
    span.add-on, a {
        width: 18px;
    }
    span.add-on {
        @include border-top-left-radius(6px);
    }
    a {
        @include border-top-right-radius(6px);
    }
    input {
        @include calc(width, "100% - 72px - 12px"); // 12px for self padding, 72px for add-on and a
    }
}