{% extends "front/repository/issues/activity/include_base_activity.html" %}

{% block comment_date %}
    {% if comment.github_status != GITHUB_STATUSES.FETCHED %}
        <span class="time">
            <span class="label label-{% if comment.github_status in GITHUB_STATUSES.ALL_WAITING %}warning{% else %}important{% endif %}">
            {{ comment.get_github_status_display }}
            {% if comment.github_status in GITHUB_STATUSES.ALL_WAITING %}<i class="icon-spinner icon-spin"> </i>{% endif %}
            </span>
        </span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock comment_date %}

{% block comment_info %}
    <span class="name">
        <strong>{{ comment.user.username }}</strong>
        {% if comment.user_id == comment.repository.owner_id %}
            <span class="label label-success" title="{{ comment.user.username }} is the project's owner">owner</span>
        {% elif comment.user_id in collaborators_ids %}
            <span class="label label-info" title="{{ comment.user.username }} is a collaborator on this project">collaborator</span>
        {% endif %}
        {% if comment.user_id == comment.issue.user_id %}
            <span class="label" title="{{ comment.user.username }} submitted this {{ comment.issue.type }}">submitter</span>
        {% endif %}
    </span>
{% endblock comment_info %}

{% block comment_inner_body %}
    {{ comment.html_content|safe }}
{% endblock comment_inner_body %}