{% extends "front/repository/issues/activity/include_base_activity.html" %}

{% block node_class %}comment-create-container{% endblock %}

{% block comment_info %}
    <span class="name">
        <strong>{{ view.request.user.username }}</strong>
        {% if view.request.user.id == current_repository.owner.id %}
            <span class="label label-success" title="{{ view.request.user.username }} is the project's owner">owner</span>
        {% elif view.request.user.id in collaborators_ids %}
            <span class="label label-info" title="{{ view.request.user.username }} is a collaborator on this project">collaborator</span>
        {% endif %}
        {% if view.request.user.id == current_issue.user.id %}
            <span class="label" title="{{ view.request.user.username }} submitted this {{ current_issue.type }}">submitter</span>
        {% endif %}
    </span>
{% endblock comment_info %}

{% block comment_inner_body %}
    <form class="comment-form comment-create-form" data-number="{{ current_issue.number }}" data-repository="{{ current_issue.repository.full_name }}" method="post" action="{{ current_issue.issue_comment_create_url }}"{% if current_issue.is_pull_request %} data-pr-url="{{ current_issue.pr_comment_create_url }}"{% endif %}>
        {% csrf_token %}
        <div><textarea name="body" placeholder="Leave a comment..."></textarea></div>
        <div class="row-fluid auto-align">
            <div class="span6">
                <button class="btn btn-default" type="button">Cancel</button>
            </div>
            <div class="span6">
                <button class="btn btn-blue submit btn-loading">Add a comment <i class='icon-spinner icon-spin'> </i></button>
            </div>
        </div>
    </form>
{% endblock comment_inner_body %}