{% extends "front/repository/issues/comments/include_base_comment.html" %}
{% load frontutils %}

{% block node_class %}comment-delete-container{% endblock %}

{% block comment_date %}
    <span class="time" title="{{ comment.created_at|date:"DATETIME_FORMAT" }}"><i class="icon-time"></i> {{ comment.created_at|ago }}</span>
{% endblock %}

{% block comment_inner_body %}
    <form class="comment-form comment-delete-form"  method="post" action="{{ comment.get_delete_url }}">
        {% csrf_token %}
        <div class="row-fluid auto-align">
            <div class="span8">
                <button class="btn btn-red btn-loading">Confirm deletion of this comment <i class='icon-spinner icon-spin'> </i></button>
            </div>
            <div class="span4">
                <button class="btn btn-default" type="button">Cancel</button>
            </div>
        </div>
    </form>
    {{ block.super }}
{% endblock comment_inner_body %}