conf = {
    'SECRET_KEY': 'GENERATE IT',

    'DEBUG': True,
    'ALLOWED_HOSTS': [],

    'GITHUB_CLIENT_ID': "FILL IT FROM GITHUB",
    'GITHUB_CLIENT_SECRET': "FILL IT FROM GITHUB",
    'GITHUB_HOOK_URL': "http://my.doma.in/hooks/github/web/",

    'BRAND_SHORT_NAME': 'G.I.M',
    'BRAND_LONG_NAME': 'Github Issues Manager',

    # 'DB_ENGINE': '',
    # 'DB_NAME': '',
    # 'DB_USER': '',
    # 'DB_PASSWORD': '',
    # 'DB_HOST': '',
    # 'DB_PORT': '',

    # 'LIMPYD_DB_HOST': 'localhost',
    # 'LIMPYD_DB_PORT': 6379,
    # 'LIMPYD_DB_HOST': 0,

    # 'CACHE_DEFAULT_HOST': 'localhost',
    # 'CACHE_DEFAULT_PORT': 6379,
    # 'CACHE_DEFAULT_DB': 1,

    # 'CACHE_ISSUES_TAG_HOST': 'localhost',
    # 'CACHE_ISSUES_TAG_PORT': 6379,
    # 'CACHE_ISSUES_TAG_DB': 2,

}
