<ul class="box-toolbar">
    <li class="toolbar-link">
        <a href="#" class="timeline-refresh"><i class="fa fa-refresh"></i> Actualize</a>
    </li>
    <li class="toolbar-link">
        <a href="#" class="dropdown" data-toggle="dropdown"><i class="fa fa-filter"></i></a>
        <ul class="dropdown-menu activity-filter" role="menu" aria-label="Options">
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-Event-create" type="checkbox" value="1" checked="checked"/> <span>Issue/PR creation</span>
                        <span class="fa-stack">
                            <i class="fa fa-file-text-o fa-stack-2x"></i>
                            <i class="fa fa-plus-square fa-stack-1x text-open"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-Event-update" type="checkbox" value="1" checked="checked"/> <span>Issue/PR update</span>
                        <span class="fa-stack">
                            <i class="fa fa-file-text-o fa-stack-2x"></i>
                            <i class="fa fa-pencil-square fa-stack-1x"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-IssueEvent-closed" type="checkbox" value="1" checked="checked"/> <span>Issue/PR closed</span>
                        <span class="fa-stack">
                            <i class="fa fa-file-text-o fa-stack-2x"></i>
                            <i class="fa fa-square fa-stack-1x text-closed"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-IssueEvent-merged" type="checkbox" value="1" checked="checked"/> <span>PR merged</span>
                        <span class="fa-stack">
                            <i class="fa fa-file-text-o fa-stack-2x"></i>
                            <i class="fa fa-check-square fa-stack-1x"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-IssueEvent-reopened" type="checkbox" value="1" checked="checked"/> <span>Issue/PR reopened</span>
                        <span class="fa-stack">
                            <i class="fa fa-file-text-o fa-stack-2x"></i>
                            <i class="fa fa-square-o fa-stack-1x text-open"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-IssueComment" type="checkbox" value="1" checked="checked"/> <span>Comment</span>
                        <span class="fa-stack">
                            <i class="fa fa-comment-o fa-stack-2x"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-PullRequestComment" type="checkbox" value="1" checked="checked"/> <span>Comment on PR code</span>
                        <span class="fa-stack">
                            <i class="fa fa-comment-o fa-stack-2x"></i>
                            <i class="fa fa-code fa-stack-1x"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-Issue_commits" type="checkbox" value="1" checked="checked"/> <span>Commit</span>
                        <span class="fa-stack">
                            <i class="fa fa-git-square fa-stack-2x"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-IssueEvent-assigned" type="checkbox" value="1" checked="checked"/> <span>Assigned</span>
                        <span class="fa-stack">
                            <i class="fa fa-share fa-stack-1x"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-IssueEvent-head_ref_deleted" type="checkbox" value="1" checked="checked"/> <span>Branch deleted</span>
                        <span class="fa-stack">
                            <i class="fa fa-code-fork fa-stack-2x"></i>
                            <i class="fa fa-times fa-stack-1x text-closed"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-IssueEvent-head_ref_restored" type="checkbox" value="1" checked="checked"/> <span>Branch restored</span>
                        <span class="fa-stack">
                            <i class="fa fa-code-fork fa-stack-2x"></i>
                            <i class="fa fa-plus fa-stack-1x text-open"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-IssueEvent-referenced" type="checkbox" value="1" checked="checked"/> <span>Issue/PR referenced from a commit</span>
                        <span class="fa-stack">
                            <i class="fa fa-quote-left fa-stack-2x"></i>
                            <i class="fa fa-git-square fa-stack-1x"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-IssueEvent-referenced_by_issue" type="checkbox" value="1" checked="checked"/> <span>Issue/PR referenced from another one</span>
                        <span class="fa-stack">
                            <i class="fa fa-quote-left fa-stack-2x"></i>
                            <i class="fa fa-file-text-o fa-stack-1x"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-IssueEvent-referenced_by_issuecomment" type="checkbox" value="1" checked="checked"/> <span>Issue/PR referenced from a comment</span>
                        <span class="fa-stack">
                            <i class="fa fa-quote-left fa-stack-2x"></i>
                            <i class="fa fa-comment-o fa-stack-1x"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-IssueEvent-referenced_by_pullrequestcomment" type="checkbox" value="1" checked="checked"/> <span>Issue/PR referenced from a PR code comment</span>
                        <span class="fa-stack">
                            <i class="fa fa-quote-left fa-stack-2x"></i>
                            <i class="fa fa-comment-o fa-stack-1x"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="model-IssueEvent-referenced_by_milestone" type="checkbox" value="1" checked="checked"/> <span>Issue/PR referenced from a milestone</span>
                        <span class="fa-stack">
                            <i class="fa fa-quote-left fa-stack-2x"></i>
                            <i class="fa fa-tasks fa-stack-1x"></i>
                        </span>
                    </label>
                </a>
            </li>
            <li class='divider'></li>
            <li class="with-checkbox">
                <a href="#">
                    <label>
                        <input name="toggle-all" type="checkbox" checked="checked" /> <span>Toggle All</span>
                    </label>
                </a>
            </li>
        </ul>
    </li>
</ul>
