{% extends "front/repository/issues/activity/include_base_activity.html" %}
{% load frontutils %}

{% block node_data %}data-url="{{ comment.get_absolute_url }}" data-id="{{ comment.id }}"{% endblock %}

{% block comment_date %}
    {% if comment.github_status != GITHUB_STATUSES.FETCHED %}
        <span class="time">
            <span class="label label-{% if comment.github_status in GITHUB_STATUSES.ALL_WAITING %}warning{% else %}important{% endif %}">
            {{ comment.get_github_status_display }}
            {% if comment.github_status in GITHUB_STATUSES.ALL_WAITING %}<i class="fa fa-spinner fa-spin"> </i>{% endif %}
            </span>
        </span>
    {% else %}
        {% if current_issue_edit_level == "full" or comment.user == view.request.user or comment.github_status not in GITHUB_STATUSES.ALL_WAITING %}
            <nav class="comment-nav dropdown">
                <button class="btn btn-default btn-mini dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"> </i></button>
                <ul class="dropdown-menu pull-right" role="menu" aria-label="Comment menu">
                    {% if current_issue_edit_level == "full" or comment.user == view.request.user %}
                        <li><a href="{{ comment.get_edit_url }}" class="comment-edit-btn btn-loading" title="Edit this comment"><i class="fa fa-edit fa-fw"> </i><i class='fa fa-spinner fa-spin' fa-fw> </i> Edit this comment</a></li>
                        <li><a href="{{ comment.get_delete_url }}" class="comment-delete-btn btn-loading" title="Delete this comment"><i class="fa fa-times fa-fw"> </i><i class='fa fa-spinner fa-spin fa-fw'> </i> Delete this comment</a></li>
                    {% endif %}
                    {% if comment.github_status not in GITHUB_STATUSES.ALL_WAITING %}
                        {% with github_url=comment.github_url %}
                            {% if with_link_to_diff or github_url %}
                                <li class="divider"></li>
                                {% if github_url %}
                                    <li><a href="{{ github_url }}" target="_blank"><i class="fa fa-github fa-fw"> </i> View on Github</a></li>
                                {% endif %}
                                {% if with_link_to_diff %}
                                    <li><a href='#' class="go-to-diff-link"><i class="fa fa-eye fa-fw"> </i> View in "Files changed" tab</a></li>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
        {{ block.super }}
    {% endif %}
{% endblock comment_date %}

{% block comment_info %}
    <span class="name">
        <strong>{{ comment.user.username }}</strong>
        {% if comment.user_id == comment.repository.owner_id %}
            <span class="label label-success" title="{{ comment.user.username }} is the project's owner">owner</span>
        {% elif comment.user_id in view.collaborators_ids %}
            <span class="label label-info" title="{{ comment.user.username }} is a collaborator on this project">collaborator</span>
        {% endif %}
        {% if comment.user_id == comment.issue.user_id %}
            <span class="label" title="{{ comment.user.username }} submitted this {{ comment.issue.type }}">submitter</span>
        {% endif %}
        {% if current_commit and comment.user_id == current_commit.author_id %}
            <span class="label" title="{{ comment.user.username }} authored this commit">author</span>
        {% endif %}
    </span>
{% endblock comment_info %}

{% block comment_inner_body %}
    {{ comment.html_content|safe }}
    {% if comment.linked_commits %}
        {% with commits=comment.linked_commits.all %}
            {% if commits|length %}
                <div class="comment-commits">
                    {% include "front/repository/issues/commits/include_commits.html" with commits=commits repository_source=comment.repository %}
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}
{% endblock comment_inner_body %}