/* line 4, ../../../../../sass/pages/dashboard/available-repositories.scss */
#other-repository {
  margin-bottom: 0;
}
/* line 6, ../../../../../sass/pages/dashboard/available-repositories.scss */
#other-repository .input-append {
  margin-left: -34px;
  margin-bottom: 0;
  display: block;
}

/* line 16, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories thead td:first-child {
  text-align: left;
}
/* line 21, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories td:not(:first-child) {
  text-align: center;
}
/* line 24, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories td a {
  color: inherit;
}
/* line 27, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories td span.smaller {
  font-size: smaller;
}
/* line 30, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories td form {
  margin: 0;
  padding: 0;
  display: inline-block;
}
/* line 37, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories tbody td:first-child {
  padding-left: 32px;
}
/* line 39, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories tbody td:first-child img {
  margin-left: -22px;
  margin-right: 6px;
}
/* line 44, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories tbody.collapse {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  display: none;
}
/* line 47, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories tbody.collapse.in {
  display: table-row-group;
}

/* line 55, ../../../../../sass/pages/dashboard/available-repositories.scss */
#dashboard_subscriptions .quicksearch-widget {
  margin-top: 14px;
  margin-right: 7px;
}
