/* line 7, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories .nav-tabs .label {
  margin-left: 10px;
}
@media (max-width: 1150px) {
  /* line 11, ../../../../../sass/pages/dashboard/available-repositories.scss */
  #available-repositories .nav-tabs .label {
    margin-left: 5px;
  }
  /* line 14, ../../../../../sass/pages/dashboard/available-repositories.scss */
  #available-repositories .nav-tabs > li > a {
    padding-right: 3px;
    padding-left: 3px;
  }
}
/* line 19, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories .tab-pane .area-top {
  border-top: 0;
  margin: 0;
  padding: 10px 8px;
}
/* line 24, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories .quicksearch-widget {
  position: relative;
  top: -2px;
}
/* line 28, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories p.empty-area {
  margin-top: 3em;
  margin-bottom: 3em;
}
/* line 32, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories form.repository-input {
  margin: 10px 0 0 0;
  position: relative;
  top: 2px;
}
/* line 36, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories form.repository-input input {
  margin: 0;
  padding-right: 40px;
  width: 100%;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 43, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories form.repository-input button {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
/* line 51, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories thead td:first-child {
  text-align: left;
}
/* line 56, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories td:not(:first-child) {
  text-align: center;
}
/* line 59, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories td a {
  color: inherit;
}
/* line 61, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories td a .icon-external-link {
  color: #ccc;
  position: relative;
  top: 1px;
  margin-left: 1ex;
}
/* line 68, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories td span.smaller {
  font-size: smaller;
}
/* line 71, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories td form {
  margin: 0;
  padding: 0;
  display: inline-block;
}
/* line 78, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories tbody td:first-child {
  padding-left: 32px;
}
/* line 80, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories tbody td:first-child img {
  margin-left: -26px;
  margin-right: 3px;
}
/* line 85, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories tbody.collapse {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  display: none;
}
/* line 88, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories tbody.collapse.in {
  display: table-row-group;
}
/* line 91, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories tbody.collapse tr:hover {
  background: #f8eec7;
}
/* line 98, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories form.toggle-form {
  width: 26px;
  height: 22px;
}
/* line 105, ../../../../../sass/pages/dashboard/available-repositories.scss */
#available-repositories form.toggle-form button.btn-loading.loading i.icon-remove, #available-repositories form.toggle-form button.btn-loading.loading i.icon-plus, #available-repositories form.repository-input button.btn-loading.loading i.icon-remove, #available-repositories form.repository-input button.btn-loading.loading i.icon-plus {
  display: none;
}

/* line 114, ../../../../../sass/pages/dashboard/available-repositories.scss */
#ask-fetch {
  float: right;
  margin-top: 6px;
  margin-right: -3px;
}
