/* line 3, ../../../../../sass/widgets/_avatar.scss */
.avatar img {
  display: inline-block;
}

/* line 6, ../../../../../sass/widgets/_avatar.scss */
.avatar-small {
  display: inline-block;
  overflow: hidden;
  height: 36px;
  width: 36px;
  max-height: 36px;
  max-width: 36px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
}

/* line 15, ../../../../../sass/widgets/_avatar.scss */
.avatar-tiny {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  width: 24px;
  max-height: 24px;
  max-width: 24px;
}

/* line 23, ../../../../../sass/widgets/_avatar.scss */
.avatar-micro {
  display: inline-block;
  overflow: hidden;
  height: 16px;
  width: 16px;
  max-height: 16px;
  max-width: 16px;
}

/* line 1, ../../../../../sass/components/_issues_mixins.scss */
.issue-container > article > .area-top {
  position: relative;
}
/* line 3, ../../../../../sass/components/_issues_mixins.scss */
.issue-container > article > .area-top:after {
  content: "";
  position: absolute;
  right: 0px;
  top: -1px;
  bottom: -1px;
  width: 5px;
}
/* line 12, ../../../../../sass/components/_issues_mixins.scss */
.issue-container > article > .state-open.area-top:after {
  background-color: #8cc079;
}
/* line 17, ../../../../../sass/components/_issues_mixins.scss */
.issue-container > article > .state-closed.area-top:after {
  background-color: #b35d5d;
}

/* line 23, ../../../../../sass/components/_issues_mixins.scss */
.issue-container .issue-labels {
  margin: 0;
  padding: 0;
  padding-right: 5px;
}
/* line 27, ../../../../../sass/components/_issues_mixins.scss */
.issue-container .issue-labels > li, .issue-container .issue-labels > a {
  display: inline-block;
  white-space: nowrap;
  margin: 1px 0;
  padding: 0 3px;
  color: inherit;
  border-bottom: solid #ccc 3px;
}
/* line 35, ../../../../../sass/components/_issues_mixins.scss */
.issue-container .issue-labels > li > a {
  color: inherit;
  text-decoration: none;
}

/* line 41, ../../../../../sass/components/_issues_mixins.scss */
.issue-container .issue-assignee {
  width: 38px;
}
/* line 42, ../../../../../sass/components/_issues_mixins.scss */
.issue-container .issue-assignee i {
  font-size: 11px;
  position: relative;
  top: 2px;
  color: #bbb;
}

/* line 52, ../../../../../sass/components/_issues_mixins.scss */
p.state-closed {
  color: #b35d5d;
}

/* line 14, ../../../../../sass/components/_issue.scss */
.issue-container {
  position: relative;
}
/* line 15, ../../../../../sass/components/_issue.scss */
.issue-container .stuck {
  position: fixed;
  width: -moz-calc(0.583333 * (100% - 160px) - 13px) ;
  width: -o-calc(0.583333 * (100% - 160px) - 13px) ;
  width: -webkit-calc(0.583333 * (100% - 160px) - 13px) ;
  width: calc(0.583333 * (100% - 160px) - 13px) ;
  right: 13px;
}
/* line 23, ../../../../../sass/components/_issue.scss */
.issue-container > article > .area-top {
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px -1px;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px -1px;
  padding-bottom: 5px;
  min-height: 95px;
}
/* line 25, ../../../../../sass/components/_issue.scss */
.issue-container > article > .area-top header {
  overflow: auto;
  padding-top: 2px;
  padding-bottom: 1px;
}
/* line 29, ../../../../../sass/components/_issue.scss */
.issue-container > article > .area-top header .avatar {
  width: 40px;
  height: 44px;
  max-width: 40px;
  overflow: hidden;
  line-height: 40px;
  text-align: center;
  float: left;
}
/* line 33, ../../../../../sass/components/_issue.scss */
.issue-container > article > .area-top header h3 {
  margin-top: 4px;
  margin-left: 50px;
}
/* line 37, ../../../../../sass/components/_issue.scss */
.issue-container > article > .area-top header.stuck {
  top: 52px;
  max-height: 47px;
  z-index: 100;
  margin: 0;
  padding: 2px 5px 0 2px;
}
/* line 43, ../../../../../sass/components/_issue.scss */
.issue-container > article > .area-top header.stuck h3 {
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-right: 25px;
}
/* line 48, ../../../../../sass/components/_issue.scss */
.issue-container > article > .area-top header.stuck:hover {
  max-height: none;
}
/* line 50, ../../../../../sass/components/_issue.scss */
.issue-container > article > .area-top header.stuck:hover h3 {
  overflow: visible;
  white-space: normal;
}
/* line 57, ../../../../../sass/components/_issue.scss */
.issue-container > article > .area-top section {
  margin-left: 50px;
}
/* line 59, ../../../../../sass/components/_issue.scss */
.issue-container > article > .area-top section > h5, .issue-container > article > .area-top section > p, .issue-container > article > .area-top section > div {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 64, ../../../../../sass/components/_issue.scss */
.issue-container > article > .area-top footer {
  overflow: auto;
  margin-right: -5px;
}
/* line 72, ../../../../../sass/components/_issue.scss */
.issue-container .issue-pull-request {
  position: absolute;
  top: 65px;
  left: 15px;
  width: 40px;
  text-align: center;
  font-size: 24px;
}
/* line 80, ../../../../../sass/components/_issue.scss */
.issue-container .issue-footer-infos {
  overflow: auto;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.15) inset, 1px 1px 0 #eeeeee;
  -moz-box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.15) inset, 1px 1px 0 #eeeeee;
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.15) inset, 1px 1px 0 #eeeeee;
  float: right;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-left: 10px;
}
/* line 90, ../../../../../sass/components/_issue.scss */
.issue-container .issue-footer-info-part {
  margin: 0;
  padding: 2px 6px;
  line-height: 26px;
  border-left: solid 1px #f0f0f0;
  border-right: solid 1px #ddd;
  display: block;
  float: left;
}
/* line 98, ../../../../../sass/components/_issue.scss */
.issue-container .issue-footer-info-part:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border-left: none;
}
/* line 102, ../../../../../sass/components/_issue.scss */
.issue-container .issue-footer-info-part:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-right: none;
}
/* line 106, ../../../../../sass/components/_issue.scss */
.issue-container .issue-footer-info-part:first-child:last-child {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 111, ../../../../../sass/components/_issue.scss */
.issue-container .issue-assignee {
  cursor: default;
}
/* line 116, ../../../../../sass/components/_issue.scss */
.issue-container .issue-comments-count {
  top: 0;
  color: inherit;
}
/* line 121, ../../../../../sass/components/_issue.scss */
.issue-container .issue-labels {
  margin-top: 9px;
}
/* line 126, ../../../../../sass/components/_issue.scss */
.issue-container .issue-involved {
  margin-bottom: 0;
}
/* line 128, ../../../../../sass/components/_issue.scss */
.issue-container .issue-involved li {
  display: inline-block;
}
/* line 133, ../../../../../sass/components/_issue.scss */
.issue-container .pr-infos, .issue-container .issue-button {
  margin-top: -15px;
  margin-bottom: 10px;
  background: #e6f1f4;
  padding: 15px;
  border-bottom: solid 1px #d4d4d4;
  overflow: auto;
}
/* line 142, ../../../../../sass/components/_issue.scss */
.issue-container .pr-infos ul {
  float: right;
}
/* line 144, ../../../../../sass/components/_issue.scss */
.issue-container .pr-infos ul li {
  display: inline-block;
}
/* line 149, ../../../../../sass/components/_issue.scss */
.issue-container .pr-merge-status {
  margin-top: 15px;
}
/* line 151, ../../../../../sass/components/_issue.scss */
.issue-container .pr-merge-status .alert {
  display: inline-block;
  padding-right: 14px;
  margin: 0;
}
/* line 157, ../../../../../sass/components/_issue.scss */
.issue-container .issue-edit-state-form {
  float: right;
  margin-bottom: 0;
}
/* line 160, ../../../../../sass/components/_issue.scss */
.issue-container .issue-edit-state-form button {
  padding: 8px 14px;
  font-size: 13px;
  line-height: 18px;
}
/* line 167, ../../../../../sass/components/_issue.scss */
.issue-container .issue-body {
  margin-top: -15px;
  padding: 15px;
  background: white;
  border-bottom: solid 1px #d4d4d4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px -1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px -1px;
}
/* line 174, ../../../../../sass/components/_issue.scss */
.issue-container .content.empty {
  color: #bbbbbb;
}
/* line 178, ../../../../../sass/components/_issue.scss */
.issue-container.big-issue {
  position: absolute !important;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: auto !important;
  top: 47px !important;
  bottom: 0 !important;
  height: auto !important;
  margin: 0 !important;
  z-index: 200;
  background-color: #f0f0f0 !important;
  background: url('/static/front/css/images/bg.png?1376415792') !important;
}
/* line 192, ../../../../../sass/components/_issue.scss */
.issue-container.big-issue .stuck {
  width: -moz-calc(100% - 13px) !important;
  width: -o-calc(100% - 13px) !important;
  width: -webkit-calc(100% - 13px) !important;
  width: calc(100% - 13px) !important;
}

@media (min-width: 1023px) {
  /* line 201, ../../../../../sass/components/_issue.scss */
  .issue-container.big-issue .issue-files {
    position: relative;
  }
  /* line 203, ../../../../../sass/components/_issue.scss */
  .issue-container.big-issue .issue-files .files-list-sticky-wrapper {
    height: auto !important;
  }
  /* line 206, ../../../../../sass/components/_issue.scss */
  .issue-container.big-issue .issue-files .pr-files-list-container {
    left: 0;
    width: 400px !important;
    bottom: 0;
    padding-top: 50px;
    height: auto;
    border-right: 1px solid #ddd;
  }
  /* line 213, ../../../../../sass/components/_issue.scss */
  .issue-container.big-issue .issue-files .pr-files-list-container:not(.stuck) {
    position: absolute;
    top: 0;
  }
  /* line 217, ../../../../../sass/components/_issue.scss */
  .issue-container.big-issue .issue-files .pr-files-list-container.stuck {
    border-right-color: #ccc;
    -webkit-box-shadow: rgba(0, 0, 0, 0.07) 2px 0 1px -1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.07) 2px 0 1px -1px;
    box-shadow: rgba(0, 0, 0, 0.07) 2px 0 1px -1px;
  }
  /* line 222, ../../../../../sass/components/_issue.scss */
  .issue-container.big-issue .issue-files .pr-files-list {
    max-height: none;
    position: absolute;
    top: 85px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    height: auto !important;
    margin: 5px 0 0 !important;
  }
  /* line 232, ../../../../../sass/components/_issue.scss */
  .issue-container.big-issue .issue-files .files-list-summary {
    cursor: default;
    position: absolute;
    top: 14px;
  }
  /* line 236, ../../../../../sass/components/_issue.scss */
  .issue-container.big-issue .issue-files .files-list-summary i.icon-sort {
    display: none;
  }
  /* line 240, ../../../../../sass/components/_issue.scss */
  .issue-container.big-issue .issue-files .issue-activity {
    margin-left: 400px;
  }
  /* line 243, ../../../../../sass/components/_issue.scss */
  .issue-container.big-issue .issue-files table.diff tr:not(.diff-comments) td.code span {
    left: 400px;
  }
}
/* line 250, ../../../../../sass/components/_issue.scss */
.issue-nav {
  position: fixed;
  right: 23px;
  top: 52px;
  z-index: 120;
}
/* line 255, ../../../../../sass/components/_issue.scss */
.issue-nav i {
  cursor: pointer;
  color: #707070;
}

/* line 261, ../../../../../sass/components/_issue.scss */
.issue-activity {
  padding: 15px 15px;
}
/* line 263, ../../../../../sass/components/_issue.scss */
.issue-activity .time {
  color: #949494 !important;
  font-weight: normal;
}
/* line 267, ../../../../../sass/components/_issue.scss */
.issue-activity .chat-box-entry {
  margin-left: 50px;
}
/* line 270, ../../../../../sass/components/_issue.scss */
.issue-activity .chat-box-entry.event > .info {
  color: #393939;
}
/* line 272, ../../../../../sass/components/_issue.scss */
.issue-activity .chat-box-entry.event > .info > .label {
  margin-left: -4px;
  margin-right: 4px;
}
/* line 281, ../../../../../sass/components/_issue.scss */
.issue-activity .chat-box-entry.event.event-referenced-by-issue > .content > span.label, .issue-activity .chat-box-entry.event.event-referenced-by-issuecomment > .content > span.label, .issue-activity .chat-box-entry.event.event-referenced-by-pullrequestcomment > .content > span.label, .issue-activity .chat-box-entry.event.event-referenced-by-milestone > .content > span.label {
  float: right;
  margin-top: 1px;
}
/* line 289, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-commits-group .box-header > .title, .issue-activity .pr-commits-group .box-header > .box-toolbar > li {
  font-size: 13px;
}
/* line 292, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-commits-group .box-header > .title {
  font-weight: normal;
}
/* line 298, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-entry-point > .box-header .title {
  font-size: 13px;
  font-weight: normal;
}
/* line 301, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-entry-point > .box-header .title > span {
  display: block;
}
/* line 305, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-entry-point > .box-header .box-toolbar {
  font-weight: normal;
  color: #949494;
}
/* line 308, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-entry-point > .box-header .box-toolbar li.link {
  float: none;
  clear: both;
  text-align: right;
  top: -5px;
  line-height: 21px;
  display: block;
}
/* line 317, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-entry-point > .box-header .time {
  margin-left: 5px;
}
/* line 321, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-entry-point > .box-content.collapse.in {
  position: static;
}
/* line 326, ../../../../../sass/components/_issue.scss */
.issue-activity .box-section.pr-comments {
  padding-top: 5px;
  padding-bottom: 0;
}
/* line 332, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-file .box-toolbar {
  margin-top: 8px;
  margin-right: 8px;
}
/* line 335, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-file .box-toolbar > li {
  line-height: normal;
  padding: 0;
  margin: 0;
  float: none;
}
/* line 340, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-file .box-toolbar > li:first-of-type {
  margin-bottom: 3px;
}
/* line 343, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-file .box-toolbar > li a.btn {
  display: block;
}
/* line 348, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-file > .box-content.collapse.in {
  position: static;
}
/* line 351, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-file .title span {
  display: block;
  font-weight: normal;
}
/* line 355, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-file .no-diff {
  color: #bbbbbb;
  background: white;
  padding: 10px;
}
/* line 363, ../../../../../sass/components/_issue.scss */
.issue-activity .pr-entry-point div.collapse.in, .issue-activity .pr-file div.collapse.in {
  height: auto !important;
}
/* line 367, ../../../../../sass/components/_issue.scss */
.issue-activity .comment-commits {
  margin: -5px -10px;
}
/* line 371, ../../../../../sass/components/_issue.scss */
.issue-activity .comment-create-form {
  margin: 5px 0;
}
/* line 373, ../../../../../sass/components/_issue.scss */
.issue-activity .comment-create-form textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 5em;
  -webkit-transition: height 0.5s ease;
  -webkit-transition-delay: 2s;
  -moz-transition: height 0.5s ease 2s;
  -o-transition: height 0.5s ease 2s;
  transition: height 0.5s ease 2s;
}
/* line 379, ../../../../../sass/components/_issue.scss */
.issue-activity .comment-create-form textarea:focus {
  height: 15em;
}
/* line 382, ../../../../../sass/components/_issue.scss */
.issue-activity .comment-create-form .alert {
  margin-bottom: 10px;
}
/* line 387, ../../../../../sass/components/_issue.scss */
.issue-activity .comment-create-placeholder {
  margin-left: 50px;
  margin-bottom: 15px;
}
/* line 392, ../../../../../sass/components/_issue.scss */
.issue-activity .change-event .box-content {
  margin: 5px 10px;
}
/* line 395, ../../../../../sass/components/_issue.scss */
.issue-activity .change-event .box-content:last-of-type .part-body, .issue-activity .change-event .box-content:last-of-type .part-title {
  margin-bottom: -6px;
}
/* line 402, ../../../../../sass/components/_issue.scss */
.issue-activity .part-labels ul, .issue-activity .part-label_type ul {
  display: inline-block;
}
/* line 405, ../../../../../sass/components/_issue.scss */
.issue-activity .part-labels > span, .issue-activity .part-label_type > span {
  float: left;
  margin-right: 5px;
}
/* line 410, ../../../../../sass/components/_issue.scss */
.issue-activity .part-body, .issue-activity .part-title {
  margin: 0 -10px;
}
/* line 411, ../../../../../sass/components/_issue.scss */
.issue-activity .part-body > span, .issue-activity .part-title > span {
  display: block;
  margin: 5px 10px;
}
/* line 416, ../../../../../sass/components/_issue.scss */
.issue-activity .part-body table.diff, .issue-activity .part-title table.diff {
  font-size: 12px;
  border-top: solid 1px #D8D8D8;
  border-bottom: solid 1px #D8D8D8;
  table-layout: fixed;
}
/* line 421, ../../../../../sass/components/_issue.scss */
.issue-activity .part-body table.diff tbody tr, .issue-activity .part-title table.diff tbody tr {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 430, ../../../../../sass/components/_issue.scss */
.pr-tabs {
  margin-bottom: 0;
  padding-top: 5px;
}
/* line 433, ../../../../../sass/components/_issue.scss */
.pr-tabs > li {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 436, ../../../../../sass/components/_issue.scss */
.pr-tabs > li:first-of-type {
  margin-left: 30px;
}
/* line 439, ../../../../../sass/components/_issue.scss */
.pr-tabs > li > a {
  padding-bottom: 8px;
  padding-top: 5px;
}
/* line 444, ../../../../../sass/components/_issue.scss */
.pr-tabs.stuck {
  background: #f0f0F0;
  max-height: 37px;
  top: 99px;
  z-index: 99;
  padding: 2px 0;
}
/* line 450, ../../../../../sass/components/_issue.scss */
.pr-tabs.stuck > li {
  margin-bottom: 0;
}
/* line 452, ../../../../../sass/components/_issue.scss */
.pr-tabs.stuck > li > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-color: none;
  padding-bottom: 5px;
}
/* line 456, ../../../../../sass/components/_issue.scss */
.pr-tabs.stuck > li > a:hover, .pr-tabs.stuck > li > a:focus {
  border-color: #ddd;
}
/* line 460, ../../../../../sass/components/_issue.scss */
.pr-tabs.stuck > li.active > a {
  border-color: #ddd;
}

/* line 467, ../../../../../sass/components/_issue.scss */
.issue-discussion .issue-body {
  margin-top: 0;
}

/* line 472, ../../../../../sass/components/_issue.scss */
.issue-commits > .content, .issue-commits .pr-files-list-container, .issue-files > .content, .issue-files .pr-files-list-container {
  padding: 15px;
  background: white;
  border-bottom: solid 1px #d4d4d4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px -1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px -1px;
}
/* line 477, ../../../../../sass/components/_issue.scss */
.issue-commits > .content > nav, .issue-commits .pr-files-list-container > nav, .issue-files > .content > nav, .issue-files .pr-files-list-container > nav {
  margin-left: 10px;
  float: right;
  position: relative;
  top: -6px;
}
/* line 482, ../../../../../sass/components/_issue.scss */
.issue-commits > .content > nav > .btn-group, .issue-commits .pr-files-list-container > nav > .btn-group, .issue-files > .content > nav > .btn-group, .issue-files .pr-files-list-container > nav > .btn-group {
  margin-left: 6px;
}
/* line 485, ../../../../../sass/components/_issue.scss */
.issue-commits > .content > nav > div.quicksearch-widget, .issue-commits .pr-files-list-container > nav > div.quicksearch-widget, .issue-files > .content > nav > div.quicksearch-widget, .issue-files .pr-files-list-container > nav > div.quicksearch-widget {
  display: inline-block;
}
/* line 487, ../../../../../sass/components/_issue.scss */
.issue-commits > .content > nav > div.quicksearch-widget input[type='text'], .issue-commits .pr-files-list-container > nav > div.quicksearch-widget input[type='text'], .issue-files > .content > nav > div.quicksearch-widget input[type='text'], .issue-files .pr-files-list-container > nav > div.quicksearch-widget input[type='text'] {
  width: 100px;
}
/* line 493, ../../../../../sass/components/_issue.scss */
.issue-commits .pr-files-list, .issue-files .pr-files-list {
  clear: both;
  margin-bottom: -12px;
  max-height: 150px;
  overflow-y: auto;
  -webkit-transition: height 0.01s ease;
  -moz-transition: height 0.01s ease;
  -o-transition: height 0.01s ease;
  transition: height 0.01s ease;
}
/* line 499, ../../../../../sass/components/_issue.scss */
.issue-commits .pr-files-list.in, .issue-files .pr-files-list.in {
  margin-top: 15px;
  margin-bottom: -5px;
}
/* line 503, ../../../../../sass/components/_issue.scss */
.issue-commits .pr-files-list table, .issue-files .pr-files-list table {
  margin-bottom: 0;
  table-layout: fixed;
}
/* line 507, ../../../../../sass/components/_issue.scss */
.issue-commits .pr-files-list td:first-of-type, .issue-files .pr-files-list td:first-of-type {
  width: 12px;
  color: #767676;
}
/* line 510, ../../../../../sass/components/_issue.scss */
.issue-commits .pr-files-list td:first-of-type.status-added, .issue-files .pr-files-list td:first-of-type.status-added {
  color: #8cc079;
}
/* line 513, ../../../../../sass/components/_issue.scss */
.issue-commits .pr-files-list td:first-of-type.status-removed, .issue-files .pr-files-list td:first-of-type.status-removed {
  color: #b35d5d;
}
/* line 516, ../../../../../sass/components/_issue.scss */
.issue-commits .pr-files-list td:first-of-type.status-renamed, .issue-files .pr-files-list td:first-of-type.status-renamed {
  color: #7fb3d4;
}
/* line 520, ../../../../../sass/components/_issue.scss */
.issue-commits .pr-files-list td:nth-child(2) i, .issue-files .pr-files-list td:nth-child(2) i {
  color: white;
}
/* line 523, ../../../../../sass/components/_issue.scss */
.issue-commits .pr-files-list td:last-of-type, .issue-files .pr-files-list td:last-of-type {
  text-align: right;
}
/* line 527, ../../../../../sass/components/_issue.scss */
.issue-commits .pr-files-list tr.active td:nth-child(2) i, .issue-files .pr-files-list tr.active td:nth-child(2) i {
  color: inherit;
}
/* line 531, ../../../../../sass/components/_issue.scss */
.issue-commits .pr-files-list tr:last-of-type td, .issue-files .pr-files-list tr:last-of-type td {
  border-bottom: 1px solid #DDD;
}
/* line 534, ../../../../../sass/components/_issue.scss */
.issue-commits .pr-files-list ul, .issue-files .pr-files-list ul {
  margin-bottom: 0;
  white-space: nowrap;
}
/* line 539, ../../../../../sass/components/_issue.scss */
.issue-commits .empty-area, .issue-files .empty-area {
  position: static;
  height: 200px;
  margin-top: 100px;
}
/* line 543, ../../../../../sass/components/_issue.scss */
.issue-commits .empty-area i, .issue-files .empty-area i {
  font-size: inherit;
}

/* line 550, ../../../../../sass/components/_issue.scss */
.issue-files .pr-files-list-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 552, ../../../../../sass/components/_issue.scss */
.issue-files .pr-files-list-container.stuck {
  min-height: 49px;
  top: 136px;
  z-index: 98;
  padding-bottom: 3px;
  width: -moz-calc(0.583333 * (100% - 160px) - 13px) ;
  width: -o-calc(0.583333 * (100% - 160px) - 13px) ;
  width: -webkit-calc(0.583333 * (100% - 160px) - 13px) ;
  width: calc(0.583333 * (100% - 160px) - 13px) ;
}
/* line 558, ../../../../../sass/components/_issue.scss */
.issue-files .pr-files-list-container.stuck .pr-files-list {
  margin-bottom: 0;
}
/* line 560, ../../../../../sass/components/_issue.scss */
.issue-files .pr-files-list-container.stuck .pr-files-list.in {
  margin-bottom: 7px;
}

/* line 569, ../../../../../sass/components/_issue.scss */
table.commits-list td {
  line-height: 22px;
  padding: 4px;
  vertical-align: top;
}
/* line 573, ../../../../../sass/components/_issue.scss */
table.commits-list td.cell-author {
  width: 105px;
  white-space: nowrap;
  font-weight: bold;
}
/* line 577, ../../../../../sass/components/_issue.scss */
table.commits-list td.cell-author span {
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  display: inline-block;
  width: 80px;
}
/* line 586, ../../../../../sass/components/_issue.scss */
table.commits-list td.cell-message p {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 11px;
  margin: 0;
  white-space: pre-wrap;
}
/* line 591, ../../../../../sass/components/_issue.scss */
table.commits-list td.cell-message p:first-of-type {
  margin-top: 3px;
  font-size: 12px;
}
/* line 596, ../../../../../sass/components/_issue.scss */
table.commits-list td.cell-message > span[data-toggle=collapse] {
  float: right;
  display: block;
  height: 12px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  background: #ddd;
  line-height: 6px;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 3px;
  margin: 6px 6px 2px 2px;
}
/* line 609, ../../../../../sass/components/_issue.scss */
table.commits-list td.cell-sha {
  width: 50px;
  text-align: center;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 11px;
}

/* line 618, ../../../../../sass/components/_issue.scss */
.files-navigator {
  width: 20em;
}
/* line 620, ../../../../../sass/components/_issue.scss */
.files-navigator li a {
  padding-right: 5px;
  padding-left: 5px;
}
/* line 624, ../../../../../sass/components/_issue.scss */
.files-navigator li.horizontal-4.disabled {
  text-align: right;
}

/* line 629, ../../../../../sass/components/_issue.scss */
.code-diff {
  overflow: auto;
  padding: 0;
  border-top: 0;
}
/* line 633, ../../../../../sass/components/_issue.scss */
.code-diff table.diff {
  margin-bottom: 0;
}

/* line 639, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body {
  padding: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #f0f0f0;
}
/* line 643, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body .issue-nav {
  right: -moz-calc(50% - 260px) ;
  right: -o-calc(50% - 260px) ;
  right: -webkit-calc(50% - 260px) ;
  right: calc(50% - 260px) ;
  top: -moz-calc(10% + 10px) ;
  top: -o-calc(10% + 10px) ;
  top: -webkit-calc(10% + 10px) ;
  top: calc(10% + 10px) ;
}
/* line 646, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body .issue-nav .close {
  margin-left: 10px;
}
/* line 650, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body .stuck {
  width: 547px;
  right: auto;
  top: 10%;
}
/* line 655, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body article > .area-top header h3 {
  margin-right: 40px;
}
/* line 658, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body > .issue-container.big-issue {
  top: 0 !important;
}
/* line 661, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body > .issue-container > article > .area-top header.stuck {
  margin-left: -15px;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
/* line 665, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body .pr-tabs.stuck {
  margin-top: 47px;
}
/* line 668, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body .pr-files-list-container.stuck {
  margin-top: 84px;
}
/* line 671, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body .sticky-wrapper > * {
  top: 10%;
}
/* line 674, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body .stuck {
  -webkit-transition: top 0.35s;
  -moz-transition: top 0.35s;
  -o-transition: top 0.35s;
  transition: top 0.35s;
}
/* line 679, ../../../../../sass/components/_issue.scss */
#modal-issue-view.full-screen .modal-body {
  height: 100%;
}
/* line 681, ../../../../../sass/components/_issue.scss */
#modal-issue-view.full-screen .modal-body .issue-nav {
  right: -moz-calc(5% + 20px) ;
  right: -o-calc(5% + 20px) ;
  right: -webkit-calc(5% + 20px) ;
  right: calc(5% + 20px) ;
  top: -moz-calc(5% + 10px) ;
  top: -o-calc(5% + 10px) ;
  top: -webkit-calc(5% + 10px) ;
  top: calc(5% + 10px) ;
}
/* line 685, ../../../../../sass/components/_issue.scss */
#modal-issue-view.full-screen .modal-body .stuck {
  width: 90% !important;
  top: 5% !important;
}
@media (min-width: 1023px) {
  /* line 690, ../../../../../sass/components/_issue.scss */
  #modal-issue-view.full-screen .modal-body .issue-files .pr-files-list-container {
    position: absolute;
    width: 400px !important;
    top: 0 !important;
  }
  /* line 694, ../../../../../sass/components/_issue.scss */
  #modal-issue-view.full-screen .modal-body .issue-files .pr-files-list-container.stuck {
    position: fixed;
    top: 5% !important;
    left: 5% !important;
    left: -moz-calc(5% + 1px) !important;
    left: -o-calc(5% + 1px) !important;
    left: -webkit-calc(5% + 1px) !important;
    left: calc(5% + 1px) !important;
    bottom: 5% !important;
    bottom: -moz-calc(5% - 1px) !important;
    bottom: -o-calc(5% - 1px) !important;
    bottom: -webkit-calc(5% - 1px) !important;
    bottom: calc(5% - 1px) !important;
  }
}
/* line 706, ../../../../../sass/components/_issue.scss */
#modal-issue-view .empty-area {
  position: static;
  height: 200px;
  margin-top: 100px;
}
/* line 710, ../../../../../sass/components/_issue.scss */
#modal-issue-view .empty-area i {
  font-size: inherit;
}

/* line 5, ../../../../../sass/widgets/_activity.scss */
.activity-feed .box-header.repository .title {
  font-size: 14px;
}
/* line 8, ../../../../../sass/widgets/_activity.scss */
.activity-feed .box-header.repository .avatar {
  margin-right: 1ex;
}
/* line 12, ../../../../../sass/widgets/_activity.scss */
.activity-feed .box-section {
  padding: 5px;
}
/* line 14, ../../../../../sass/widgets/_activity.scss */
.activity-feed .box-section h3 {
  position: relative;
  line-height: 18px;
  font-size: 16px;
}
/* line 18, ../../../../../sass/widgets/_activity.scss */
.activity-feed .box-section h3 span {
  display: block;
}
/* line 20, ../../../../../sass/widgets/_activity.scss */
.activity-feed .box-section h3 span:first-of-type {
  float: left;
}
/* line 22, ../../../../../sass/widgets/_activity.scss */
.activity-feed .box-section h3 span:first-of-type.open {
  color: #8cc079;
}
/* line 25, ../../../../../sass/widgets/_activity.scss */
.activity-feed .box-section h3 span:first-of-type.closed {
  color: #b35d5d;
}
/* line 30, ../../../../../sass/widgets/_activity.scss */
.activity-feed .box-section h3 i.icon-upload-alt {
  float: right;
  margin-right: 15px;
  margin-left: 10px;
  font-size: inherit;
}
/* line 38, ../../../../../sass/widgets/_activity.scss */
.activity-feed .box-section .chat-box > li {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 41, ../../../../../sass/widgets/_activity.scss */
.activity-feed .box-section .chat-box > li > p {
  margin: 0;
}

/* line 17, ../../../../../sass/pages/dashboard/dashboard-home.scss */
.area-top .btn {
  margin-top: 6px;
}

/* line 23, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .box-toolbar {
  position: absolute;
  right: 0;
}
/* line 27, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .news-content {
  position: relative;
  overflow: hidden;
  height: 63px;
  margin-bottom: -10px;
}
/* line 33, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .news-title {
  position: relative;
  z-index: 2;
}
/* line 37, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .issues-by-day {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 43, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .counters {
  float: right;
  margin-top: -13px;
  font-size: 14px;
  text-align: right;
  font-weight: bold;
}
/* line 49, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .counters li {
  padding: 0 5px;
}
/* line 52, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .counters .high a {
  color: #C75D5D;
}
/* line 55, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .counters .medium a {
  color: #6E97AA;
}
/* line 58, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .counters .low a {
  color: #808080;
}
/* line 61, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .counters .none a {
  color: #8FAE53;
}
/* line 64, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .counters .not-collab {
  font-weight: normal;
}
/* line 67, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .counters .all-prs {
  border-top: dashed #ccc 1px;
}

/* line 75, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#dashboard_home .row-fluid:not(.row-header) > .span6 {
  position: absolute;
  top: 130px;
  bottom: 25px;
  width: 50%;
  margin: 0;
}
/* line 81, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#dashboard_home .row-fluid:not(.row-header) > .span6 > .box {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
}
/* line 86, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#dashboard_home .row-fluid:not(.row-header) > .span6 > .box > .box-content {
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: calc(100% - 38px);
  height: -moz-calc(100% - 37px) ;
  height: -o-calc(100% - 37px) ;
  height: -webkit-calc(100% - 37px) ;
  height: calc(100% - 37px) ;
}
/* line 91, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#dashboard_home .row-fluid:not(.row-header) > .span6 > .box > .box-content > div.section, #dashboard_home .row-fluid:not(.row-header) > .span6 > .box > .box-content > div.content {
  background: #FBFBFB;
}
/* line 94, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#dashboard_home .row-fluid:not(.row-header) > .span6 > .box > .box-content .empty-area {
  position: absolute;
  margin-top: -1em;
}
/* line 100, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#dashboard_home .row-fluid:not(.row-header) > .span6:nth-child(1) {
  left: 0;
}
/* line 102, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#dashboard_home .row-fluid:not(.row-header) > .span6:nth-child(1) > .box {
  left: 22px;
  right: 11px;
}
/* line 107, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#dashboard_home .row-fluid:not(.row-header) > .span6:nth-child(2) {
  left: 50%;
}
/* line 109, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#dashboard_home .row-fluid:not(.row-header) > .span6:nth-child(2) > .box {
  left: 11px;
  right: 22px;
}

@media (max-width: 800px) {
  /* line 119, ../../../../../sass/pages/dashboard/dashboard-home.scss */
  #subscribed_repositories input.quicksearch {
    width: 20px;
  }
  /* line 121, ../../../../../sass/pages/dashboard/dashboard-home.scss */
  #subscribed_repositories input.quicksearch:focus {
    width: 103px;
  }
}
