/* line 2, ../../../../../sass/pages/dashboard/dashboard-home.scss */
.area-top .btn {
  margin-top: 6px;
}

/* line 8, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories table {
  table-layout: fixed;
}
/* line 11, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories td:not(:first-child) {
  text-align: center;
}
/* line 14, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories tbody tr:not(.total) td:not(:first-child) {
  padding: 0;
}
/* line 16, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories tbody tr:not(.total) td:not(:first-child) a {
  color: inherit;
  display: block;
  line-height: 34px;
}
/* line 22, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories tr.total {
  font-weight: bold;
}
/* line 24, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories tr.total td:first-child span {
  font-weight: normal;
  font-size: smaller;
}
/* line 30, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories td.repository a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 36, ../../../../../sass/pages/dashboard/dashboard-home.scss */
#subscribed_repositories .box-footer {
  text-align: center;
}
