/* line 4, ../../../../../sass/pages/repository/dashboard.scss */
#milestones .box-section {
  overflow: auto;
  padding: 15px;
  padding-bottom: 0;
}
/* line 9, ../../../../../sass/pages/repository/dashboard.scss */
#milestones .box-section > h3 {
  float: left;
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: normal;
  cursor: pointer;
}
/* line 19, ../../../../../sass/pages/repository/dashboard.scss */
#milestones .box-section > .date, #milestones .box-section > .all-issues-link {
  float: right;
  font-style: italic;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
/* line 25, ../../../../../sass/pages/repository/dashboard.scss */
#milestones .box-section > .all-issues-link {
  margin-top: -10px;
}
/* line 28, ../../../../../sass/pages/repository/dashboard.scss */
#milestones .box-section > div.progress {
  clear: both;
  -webkit-transition: height 0.35s;
  -moz-transition: height 0.35s;
  -o-transition: height 0.35s;
  transition: height 0.35s;
}
/* line 31, ../../../../../sass/pages/repository/dashboard.scss */
#milestones .box-section > div.progress a {
  display: block;
  color: inherit;
}
/* line 35, ../../../../../sass/pages/repository/dashboard.scss */
#milestones .box-section > div.progress span {
  opacity: 0;
  font-weight: bold;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
/* line 41, ../../../../../sass/pages/repository/dashboard.scss */
#milestones .box-section > blockquote {
  margin: -10px 0 15px;
  float: left;
}
/* line 48, ../../../../../sass/pages/repository/dashboard.scss */
#milestones .box-section > h3:not(.collapsed) ~ .date, #milestones .box-section > h3:not(.collapsed) ~ .all-issues-link {
  opacity: 1;
}
/* line 51, ../../../../../sass/pages/repository/dashboard.scss */
#milestones .box-section > h3:not(.collapsed) ~ div.progress {
  height: 20px;
}
/* line 53, ../../../../../sass/pages/repository/dashboard.scss */
#milestones .box-section > h3:not(.collapsed) ~ div.progress span {
  opacity: 1;
}

/* line 63, ../../../../../sass/pages/repository/dashboard.scss */
#counters table {
  font-weight: bold;
}
/* line 66, ../../../../../sass/pages/repository/dashboard.scss */
#counters td:last-child {
  text-align: center;
}
/* line 68, ../../../../../sass/pages/repository/dashboard.scss */
#counters td:last-child a {
  color: inherit;
  display: block;
}
