/* line 3, ../../../../../sass/widgets/_avatar.scss */
.avatar img {
  display: inline-block;
}

/* line 6, ../../../../../sass/widgets/_avatar.scss */
.avatar-small {
  display: inline-block;
  overflow: hidden;
  height: 36px;
  width: 36px;
  max-height: 36px;
  max-width: 36px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
}

/* line 15, ../../../../../sass/widgets/_avatar.scss */
.avatar-tiny {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  width: 24px;
  max-height: 24px;
  max-width: 24px;
}

/* line 1, ../../../../../sass/components/_issues_mixins.scss */
.issue-item, .issue .area-top {
  position: relative;
}
/* line 3, ../../../../../sass/components/_issues_mixins.scss */
.issue-item:after, .issue .area-top:after {
  content: "";
  position: absolute;
  right: 0px;
  top: -1px;
  bottom: -1px;
  width: 5px;
}
/* line 12, ../../../../../sass/components/_issues_mixins.scss */
.state-open.issue-item:after, .issue .state-open.area-top:after {
  background-color: #8cc079;
}
/* line 17, ../../../../../sass/components/_issues_mixins.scss */
.state-closed.issue-item:after, .issue .state-closed.area-top:after {
  background-color: #b35d5d;
}

/* line 23, ../../../../../sass/components/_issues_mixins.scss */
.issue-item .issue-item-labels, .issue .issue-labels {
  margin: 0;
  padding: 0;
  padding-right: 5px;
}
/* line 27, ../../../../../sass/components/_issues_mixins.scss */
.issue-item .issue-item-labels > li, .issue .issue-labels > li, .issue-item .issue-item-labels > a, .issue .issue-labels > a {
  display: inline-block;
  white-space: nowrap;
  margin: 1px 0;
  padding: 0 3px;
  color: inherit;
  border-bottom: solid #ccc 3px;
}
/* line 35, ../../../../../sass/components/_issues_mixins.scss */
.issue-item .issue-item-labels > li > a, .issue .issue-labels > li > a {
  color: inherit;
  text-decoration: none;
}

/* line 41, ../../../../../sass/components/_issues_mixins.scss */
.issue-item .issue-item-assignee, .issue .issue-assignee {
  width: 38px;
}
/* line 42, ../../../../../sass/components/_issues_mixins.scss */
.issue-item .issue-item-assignee i, .issue .issue-assignee i {
  font-size: 11px;
  position: relative;
  top: 2px;
  color: #bbb;
}

/* line 52, ../../../../../sass/components/_issues_mixins.scss */
p.state-closed {
  color: #b35d5d;
}

/* line 3, ../../../../../sass/components/_issues.scss */
.issues-list .box {
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
/* line 10, ../../../../../sass/components/_issues.scss */
.issues-list .box-content {
  margin-bottom: -1px;
}
/* line 13, ../../../../../sass/components/_issues.scss */
.issues-list a.js-filter-trigger {
  cursor: default;
}
/* line 16, ../../../../../sass/components/_issues.scss */
.issues-list a.box-header {
  padding-left: 7px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 19, ../../../../../sass/components/_issues.scss */
.issues-list a.box-header .title {
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
}
/* line 26, ../../../../../sass/components/_issues.scss */
.issues-list a.box-header .box-toolbar > li {
  line-height: 27px;
  padding-right: 5px;
}
/* line 33, ../../../../../sass/components/_issues.scss */
.issues-list .issues-group:first-child .box-header {
  border-top: 0;
}
/* line 36, ../../../../../sass/components/_issues.scss */
.issues-list .issues-group.active a.box-header {
  padding-left: 2px;
  border-left: solid #7bc8d7 5px;
}
/* line 42, ../../../../../sass/components/_issues.scss */
.issues-list.without-details .issue-item {
  padding: 5px;
  padding-left: 8px;
  min-height: 20px;
}
/* line 46, ../../../../../sass/components/_issues.scss */
.issues-list.without-details .issue-item.active {
  padding-left: 3px;
}
/* line 49, ../../../../../sass/components/_issues.scss */
.issues-list.without-details .issue-item .issue-item-header, .issues-list.without-details .issue-item .avatar, .issues-list.without-details .issue-item .issue-item-footer {
  display: none;
}
/* line 52, ../../../../../sass/components/_issues.scss */
.issues-list.without-details .issue-item .news-content {
  margin-left: 0;
  margin-right: 0;
}
/* line 56, ../../../../../sass/components/_issues.scss */
.issues-list.without-details .issue-item .news-title {
  margin-bottom: 0;
  min-height: 0;
}

/* line 64, ../../../../../sass/components/_issues.scss */
.issue-item {
  padding: 5px;
  padding-top: 0;
  position: relative;
  min-height: 80px;
  color: #707070;
}
/* line 72, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-header {
  margin-top: -1px;
  margin-bottom: 5px;
  overflow: auto;
  font-size: 11px;
  line-height: 15px;
}
/* line 78, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-header a {
  color: inherit;
}
/* line 82, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-pull-request, .issue-item .issue-item-milestone, .issue-item .issue-item-times {
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
/* line 85, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-pull-request {
  float: left;
  padding: 1px 0 2px;
  text-align: center;
  width: 30px;
  line-height: 14px;
  margin-left: 3px;
  background: #eee;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
/* line 94, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-pull-request i {
  font-size: 14px;
}
/* line 98, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-milestone {
  margin-left: 50px;
  margin-right: 95px;
  padding: 0;
  overflow: hidden;
}
/* line 103, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-milestone a {
  font-weight: bold;
  display: inline-block;
  padding: 1px 5px 2px;
  background: #eee;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
/* line 110, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-milestone i {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
/* line 116, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-times {
  float: right;
  white-space: nowrap;
  padding: 1px 5px 2px;
  background: #eee;
  -webkit-border-radius: 0 0 0 2px;
  -moz-border-radius: 0 0 0 2px;
  -ms-border-radius: 0 0 0 2px;
  -o-border-radius: 0 0 0 2px;
  border-radius: 0 0 0 2px;
  cursor: default;
}
/* line 123, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-times i {
  font-size: inherit;
  color: #bbb;
  width: auto;
}
/* line 129, ../../../../../sass/components/_issues.scss */
.issue-item .news-content {
  margin-right: 5px;
}
/* line 132, ../../../../../sass/components/_issues.scss */
.issue-item .news-title {
  font-size: 14px;
  margin-bottom: 5px;
}
/* line 135, ../../../../../sass/components/_issues.scss */
.issue-item .news-title .label {
  margin-left: 3px;
}
/* line 139, ../../../../../sass/components/_issues.scss */
.issue-item .avatar {
  margin-bottom: 5px;
}
/* line 142, ../../../../../sass/components/_issues.scss */
.issue-item .issue-link {
  outline: none !important;
  text-decoration: none !important;
}
/* line 146, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-footer {
  overflow: auto;
}
/* line 149, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-footer.with-labels {
  clear: both;
}
/* line 152, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-comments-count {
  float: right;
  margin-right: 5px;
  line-height: 24px;
  cursor: default;
}
/* line 158, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-assignee {
  float: right;
  margin-right: 5px;
}
/* line 163, ../../../../../sass/components/_issues.scss */
.issue-item .issue-item-labels {
  padding-right: 5px;
}

/* line 169, ../../../../../sass/components/_issues.scss */
.issues-list.without-details .issue-item:after {
  width: 3px;
}

/* line 172, ../../../../../sass/components/_issues.scss */
.box-section.issue-item {
  padding-left: 13px;
}
/* line 174, ../../../../../sass/components/_issues.scss */
.box-section.issue-item.active {
  padding-left: 8px;
  border-left: solid #7bc8d7 5px;
  background: #e6f1f4;
  border-top-color: #f0fcff;
}

/* line 184, ../../../../../sass/components/_issues.scss */
.issues-quicksearch {
  margin: 0;
  padding: 0;
}
/* line 187, ../../../../../sass/components/_issues.scss */
.issues-quicksearch label {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  display: block;
  height: 28px;
  background: white;
}
/* line 196, ../../../../../sass/components/_issues.scss */
.issues-quicksearch .add-on, .issues-quicksearch input, .issues-quicksearch .btn {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
}
/* line 202, ../../../../../sass/components/_issues.scss */
.issues-quicksearch .add-on {
  border-right: solid 1px #d4d4d4;
  left: 0;
  width: 16px;
  z-index: 10;
}
/* line 208, ../../../../../sass/components/_issues.scss */
.issues-quicksearch input {
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 33px;
  padding-right: 31px;
  background: transparent;
  height: 28px;
  z-index: 20;
}
/* line 220, ../../../../../sass/components/_issues.scss */
.issues-quicksearch .btn {
  border-left: solid 1px #d4d4d4;
  right: 0;
  margin-right: 0;
  padding: 4px 6px;
  z-index: 30;
}

/* line 1, ../../../../../sass/components/_issue.scss */
.issue {
  position: relative;
}
/* line 4, ../../../../../sass/components/_issue.scss */
.issue .area-top {
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px -1px;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px -1px;
  padding-bottom: 5px;
  min-height: 95px;
}
/* line 7, ../../../../../sass/components/_issue.scss */
.issue .area-top header .avatar {
  width: 40px;
  height: 44px;
  max-width: 40px;
  overflow: hidden;
  line-height: 40px;
  text-align: center;
  float: left;
}
/* line 11, ../../../../../sass/components/_issue.scss */
.issue .area-top header > h3, .issue .area-top header > h5, .issue .area-top header > p, .issue .area-top header > div:not(.avatar) {
  margin-left: 50px;
}
/* line 14, ../../../../../sass/components/_issue.scss */
.issue .area-top header > h5, .issue .area-top header > p, .issue .area-top header > div:not(.avatar) {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 23, ../../../../../sass/components/_issue.scss */
.issue .area-top .pr-infos .label {
  font-size: inherit;
  padding: 6px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}
/* line 30, ../../../../../sass/components/_issue.scss */
.issue .issue-pull-request {
  position: absolute;
  top: 65px;
  left: 15px;
  width: 40px;
  text-align: center;
  font-size: 24px;
}
/* line 38, ../../../../../sass/components/_issue.scss */
.issue .issue-footer {
  overflow: auto;
  margin-right: -5px;
}
/* line 42, ../../../../../sass/components/_issue.scss */
.issue .issue-footer-infos {
  overflow: auto;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.15) inset, 1px 1px 0 #eeeeee;
  -moz-box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.15) inset, 1px 1px 0 #eeeeee;
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.15) inset, 1px 1px 0 #eeeeee;
  float: right;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-left: 10px;
}
/* line 52, ../../../../../sass/components/_issue.scss */
.issue .issue-footer-info-part {
  margin: 0;
  padding: 2px 6px;
  line-height: 26px;
  border-left: solid 1px #f0f0f0;
  border-right: solid 1px #ddd;
  display: block;
  float: left;
}
/* line 60, ../../../../../sass/components/_issue.scss */
.issue .issue-footer-info-part:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border-left: none;
}
/* line 64, ../../../../../sass/components/_issue.scss */
.issue .issue-footer-info-part:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-right: none;
}
/* line 68, ../../../../../sass/components/_issue.scss */
.issue .issue-footer-info-part:first-child:last-child {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 73, ../../../../../sass/components/_issue.scss */
.issue .issue-assignee {
  cursor: default;
}
/* line 78, ../../../../../sass/components/_issue.scss */
.issue .issue-comments-count {
  top: 0;
  color: inherit;
}
/* line 83, ../../../../../sass/components/_issue.scss */
.issue .issue-labels {
  margin-top: 9px;
}
/* line 88, ../../../../../sass/components/_issue.scss */
.issue .issue-involved {
  margin-bottom: 0;
}
/* line 90, ../../../../../sass/components/_issue.scss */
.issue .issue-involved li {
  display: inline-block;
}
/* line 95, ../../../../../sass/components/_issue.scss */
.issue .issue-body {
  margin-top: -15px;
  padding: 15px;
  background: white;
  border-bottom: solid 1px #d4d4d4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px -1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px -1px;
}
/* line 101, ../../../../../sass/components/_issue.scss */
.issue .issue-body.empty {
  font-style: italic;
  color: #bbbbbb;
}

/* line 110, ../../../../../sass/components/_issue.scss */
.issue-nav {
  position: absolute;
  right: 9px;
  top: 2px;
  z-index: 20;
}
/* line 115, ../../../../../sass/components/_issue.scss */
.issue-nav i {
  cursor: pointer;
  color: #707070;
}

/* line 121, ../../../../../sass/components/_issue.scss */
.issue-comments {
  padding: 15px 15px;
}
/* line 123, ../../../../../sass/components/_issue.scss */
.issue-comments .chat-box-entry {
  margin-left: 50px;
}
/* line 127, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point > .box-header {
  cursor: pointer;
}
/* line 129, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point > .box-header .title {
  font-size: 14px;
}
/* line 131, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point > .box-header .title > span {
  font-weight: normal;
  font-style: italic;
  display: block;
}
/* line 137, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point > .box-header .box-toolbar {
  font-weight: normal;
  color: #949494;
}
/* line 141, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point > .box-header .time {
  margin-left: 5px;
}
/* line 145, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point .box-section {
  padding-top: 5px;
  padding-bottom: 0;
}
/* line 149, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point .pr-diff {
  overflow: auto;
  padding: 0;
}
/* line 152, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point .pr-diff pre {
  white-space: pre;
  color: #333;
  background: white;
  display: table;
  width: 100%;
  padding: 0;
  border: none;
  margin: 0;
}
/* line 161, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point .pr-diff pre > span {
  display: table-row;
  line-height: 20px;
  min-height: 20px;
}
/* line 165, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point .pr-diff pre > span.comment {
  background: #F8F8FF;
  color: #999;
}
/* line 169, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point .pr-diff pre > span.added {
  background: #DDFFDD;
}
/* line 172, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point .pr-diff pre > span.removed {
  background: #FFDDDD;
}
/* line 175, ../../../../../sass/components/_issue.scss */
.issue-comments .pr-entry-point .pr-diff pre > span > code {
  padding: 1px 5px;
  white-space: inherit;
}

/* line 186, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body {
  padding: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #f0f0f0;
}
/* line 190, ../../../../../sass/components/_issue.scss */
#modal-issue-view .modal-body .issue-nav .close {
  margin-left: 10px;
}
/* line 195, ../../../../../sass/components/_issue.scss */
#modal-issue-view.full-screen .modal-body {
  height: 100%;
}

/* line 1, ../../../../../sass/modals/_shortcuts.scss */
#shortcuts-window {
  width: 90%;
  margin-left: -45%;
}
/* line 4, ../../../../../sass/modals/_shortcuts.scss */
#shortcuts-window .modal-body {
  max-height: 430px;
}
/* line 7, ../../../../../sass/modals/_shortcuts.scss */
#shortcuts-window tr td:first-of-type {
  white-space: nowrap;
}

/* line 1, ../../../../../sass/modals/_gotoissue.scss */
#go-to-issue-window {
  width: 360px;
  margin-left: -180px;
}
/* line 4, ../../../../../sass/modals/_gotoissue.scss */
#go-to-issue-window form {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 20, ../../../../../sass/pages/repository/issues.scss */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 24, ../../../../../sass/pages/repository/issues.scss */
#main {
  height: 100%;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
}

/* line 31, ../../../../../sass/pages/repository/issues.scss */
body#repository_issues #main-inner {
  padding: 0;
  padding-top: 47px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-left: 160px;
}

/* line 42, ../../../../../sass/pages/repository/issues.scss */
#issues-list-container, #main-issue-container {
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 49, ../../../../../sass/pages/repository/issues.scss */
#issues-filters {
  width: 160px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: solid 1px #666666;
  float: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

/* line 60, ../../../../../sass/pages/repository/issues.scss */
#issues-list-container {
  width: 41.66667%;
  border-right: solid 1px #666666;
  overflow: auto;
}

/* line 65, ../../../../../sass/pages/repository/issues.scss */
#main-issue-container {
  width: 58.33333%;
  overflow: auto;
}

/* line 72, ../../../../../sass/pages/repository/issues.scss */
#issues-filters {
  background: #11161A;
}
/* line 74, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .primary-sidebar {
  width: 100%;
  margin-top: 47px;
}
/* line 78, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .primary-sidebar .nav > li > a {
  color: #bbb;
}
/* line 81, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .primary-sidebar .nav > li:hover > a {
  color: white;
}
/* line 86, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .selection {
  display: block;
  padding: 0;
  padding-left: 5px;
  line-height: 10px;
  font-weight: normal;
}
/* line 95, ../../../../../sass/pages/repository/issues.scss */
#issues-filters a.clear-filter {
  position: absolute;
  top: 22px;
  left: 10px;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 105, ../../../../../sass/pages/repository/issues.scss */
#issues-filters li.dark-nav:hover a.clear-filter {
  opacity: 1;
}
/* line 110, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .filter-labels > li > a > span {
  border-bottom: solid 1px transparent;
}
/* line 114, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .quicksearch-widget {
  margin: 5px 10px;
}
/* line 117, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .quicksearch-widget label {
  margin-bottom: 0;
  position: relative;
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 123, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .quicksearch-widget .add-on, #issues-filters .quicksearch-widget .btn {
  padding: 1px 0 1px 2px;
  position: absolute;
  top: 1px;
  bottom: 0;
  border: none;
}
/* line 128, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .quicksearch-widget .add-on:after, #issues-filters .quicksearch-widget .add-on:before, #issues-filters .quicksearch-widget .btn:after, #issues-filters .quicksearch-widget .btn:before {
  display: none;
}
/* line 133, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .quicksearch-widget .add-on {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  left: 0;
  z-index: 10;
}
/* line 138, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .quicksearch-widget .btn {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  right: 0;
  z-index: 20;
  padding: 0;
}
/* line 143, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .quicksearch-widget .btn i {
  height: 22px;
  line-height: 22px;
}
/* line 148, ../../../../../sass/pages/repository/issues.scss */
#issues-filters .quicksearch-widget input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 24px;
  display: block;
  width: 100%;
  background: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-left: 23px;
  padding-right: 23px;
}

/* line 167, ../../../../../sass/pages/repository/issues.scss */
#issues-list-options {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* line 175, ../../../../../sass/pages/repository/issues.scss */
#issues-list-search {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  border-bottom: solid 1px #d4d4d4;
}

/* line 184, ../../../../../sass/pages/repository/issues.scss */
#issues-list {
  position: absolute;
  top: 77px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

/* line 194, ../../../../../sass/pages/repository/issues.scss */
#issues-list-options .nav {
  float: none;
  margin-right: 0;
}
/* line 198, ../../../../../sass/pages/repository/issues.scss */
#issues-list-options .nav > li[class*="span"] {
  width: 33.33333%;
  margin-left: 0;
  margin-right: 0;
}
/* line 202, ../../../../../sass/pages/repository/issues.scss */
#issues-list-options .nav > li[class*="span"] a {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* line 208, ../../../../../sass/pages/repository/issues.scss */
#issues-list-options a.no-selection {
  line-height: 40px;
}
/* line 211, ../../../../../sass/pages/repository/issues.scss */
#issues-list-options a.no-selection span {
  vertical-align: middle;
}
/* line 213, ../../../../../sass/pages/repository/issues.scss */
#issues-list-options a.no-selection span.caret {
  margin-top: -5px;
}

/* line 218, ../../../../../sass/pages/repository/issues.scss */
#issues-list-options .dropdown-toggle > span:not(.selection) {
  text-align: center;
  display: block;
  padding-left: 5px;
}

/* line 224, ../../../../../sass/pages/repository/issues.scss */
#issues-list-options span.selection {
  display: block;
  font-weight: normal;
  text-transform: none;
  font-size: smaller;
  color: #999999;
  text-align: center;
}
/* line 232, ../../../../../sass/pages/repository/issues.scss */
#issues-list-options span.selection i {
  font-size: smaller;
}

/* line 236, ../../../../../sass/pages/repository/issues.scss */
#issues-list-options .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  border-left: none;
  border-right: none;
}

/* line 244, ../../../../../sass/pages/repository/issues.scss */
#issues-list-options .divider-vertical {
  margin-left: -1px;
  margin-right: -1px;
  height: 46px;
}

/* line 258, ../../../../../sass/pages/repository/issues.scss */
body#repository_issues.big-issue #main-inner {
  padding-left: 0;
}
/* line 261, ../../../../../sass/pages/repository/issues.scss */
body#repository_issues.big-issue #issues-filters {
  display: none;
}
/* line 264, ../../../../../sass/pages/repository/issues.scss */
body#repository_issues.big-issue #issues-list-container {
  display: none;
}
/* line 267, ../../../../../sass/pages/repository/issues.scss */
body#repository_issues.big-issue #main-issue-container {
  width: 100%;
}
