{% extends "front/dashboard/base.html" %}
{% load staticfiles frontutils %}
{% static 'front/img/default-avatar.png' as default_avatar %}

{% block body_id %}dashboard_subscriptions{% endblock %}
{% block title %}Subscritions | {{ block.super }}{% endblock title %}
{% block extra_css %}
    <link href="{% static "front/css/pages/dashboard/available-repositories.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block dashboard-header %}
    <form action="{% url "front:dashboard:repositories:ask-fetch" %}" method="post" id="ask-fetch">
        <button type="submit" class="btn btn-large btn-blue btn-loading">Update available repositories <i class='icon-spinner icon-spin'> </i></button>
        <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    </form>
    <div class="header">
        <h3><i class="icon-ok-sign"> </i> Manage your subscriptions</h3>
        <h5>Choose for which repositories you want to manage issues.</h5>
    </div>
{% endblock dashboard-header %}

{% block dashboard-main %}
    {% url "front:dashboard:repositories:add" as repository_add_url %}
    {% url "front:dashboard:repositories:remove" as repository_remove_url %}
    <div class="row-fluid">
        <div class="span10 offset1">
            {% if available_repositories %}
                <div class="box" id="available-repositories">
                    <div class="box-content">
                        <table class="table table-normal">
                            <thead>
                                    <tr>
                                        <td colspan='7'>
                                            Your available repositories
                                            {% if available_repositories %}
                                                {% include "front/include_quicksearch.html" with target="#available-repositories tbody:not(.repository-input) tr" content="td:not(.repository-input):first-child" class="small pull-right" only %}
                                            {% endif %}
                                        </td>
                                    </tr>
                            </thead>
                            <tbody class="repository-input">
                                <tr>
                                    <td colspan='7' class="repository-input">
                                        <form action="{{ repository_add_url }}" method="post" class="span10 offset1">
                                            <div class="input-append">
                                                <input id="id_name" name="name" type="text" placeholder="Add a repository by entering github url, or name/repository (or choose one below)" class="span12" />
                                                <button type="submit" class="btn btn-green" title="Subscribe to this repository"><i class="icon-plus"> </i></button>
                                                <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                            {% for org in available_repositories %}
                                {% if org.name == '__others__' or org.repos|length %}
                                    <thead>
                                        <tr>
                                            <td data-toggle="collapse" data-target="#tbody-{{ org.name }}" title="Click to collapse/expand">
                                                {% if org.name == None %}
                                                    <img class="avatar-tiny img-circle" src="{{ user.avatar_url|default:default_avatar }}" />
                                                    Repositories you own/participate
                                                {% elif org.name == '__others__' %}
                                                    <i class="icon-group"> </i>
                                                    Other's repositories
                                                {% else %}
                                                    {% with organization=organizations_by_name|dict_item:org.name %}
                                                        {% if organization %}
                                                            <img class="avatar-tiny img-circle" src="{{ organization.avatar_url|default:default_avatar }}" />
                                                        {% endif %}
                                                    {% endwith %}
                                                    {{ org.name }}'s repositories
                                                {% endif %}
                                            </td>
                                            <td>Subscribed</td>
                                            <td>Yours</td>
                                            <td>Private</td>
                                            <td>Infos</td>
                                            <td>Rights</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody-{{ org.name }}" class="collapse in">
                                        {% for repo in org.repos %}
                                            {% include "front/dashboard/repositories/include_repo.html" %}
                                        {% endfor %}
                                    </tbody>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>{# .box-content #}
                </div>{# .box#available-repositories #}
            {% else %}
                <div class="empty-area">You have no repositories available to use !</div>
            {% endif %}
        </div>{# .span10 #}
    </div>{# .row-fluid #}
{% endblock dashboard-main %}

{% block js_footer %}
    {{ block.super }}
    <script type="text/javascript">
        $().ready(function() {
            $(document).on('submit', 'form', function(ev) {
                var $form = $(this);
                $form.find('button.btn-loading').addClass('loading');

                if ($form.hasClass('toggle-form')) {
                    var $tr = $form.closest('tr');
                    $.post($form.attr('action'), $form.serialize())
                        .done(function(data) {
                            if ($tr.data('repo')) {
                                $tr.replaceWith($(data).find('tr'));
                            }
                        })
                        .fail(function() {
                            alert('Unable to do your action :(');
                        });
                    ev.preventDefault();
                    ev.stopPropagation();
                }
            });
        });
    </script>
{% endblock js_footer %}
