{% extends "front/dashboard/base.html" %}
{% load staticfiles frontutils %}
{% static 'front/img/default-avatar.png' as default_avatar %}

{% block body_id %}dashboard_subscriptions{% endblock %}
{% block title %}Subscritions | {{ block.super }}{% endblock title %}
{% block extra_css %}
    <link href="{% static "front/css/pages/dashboard/available-repositories.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block dashboard-header %}
    <form action="{% url "front:dashboard:repositories:ask-fetch" %}" method="post" id="ask-fetch">
        <button type="submit" class="btn btn-large btn-blue btn-loading">Update available repositories <i class='icon-spinner icon-spin'> </i></button>
        <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
    </form>
    <div class="header">
        <h3><i class="icon-ok-sign"> </i> Manage your subscriptions</h3>
        <h5>Choose for which repositories you want to manage issues.</h5>
    </div>
{% endblock dashboard-header %}

{% block dashboard-main %}
    <div class="row-fluid">
        <div class="span10 offset1">

<div class="box" id="available-repositories">
    <div class="box-header">
        <ul class="nav nav-tabs nav-tabs-left">
            {% for tab in tabs %}
                <li{% if forloop.first %} class="active"{% endif %} data-mode="{{ tab.class.slug }}"><a href="#choose-{{ tab.class.slug }}" data-toggle="tab">{{ tab.class.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="box-content">
        <div class="tab-content">
            {% for tab in tabs %}
                <div class="tab-pane tab-{{ tab.class.slug }}{% if forloop.first %} active{% endif %}" data-mode="{{ tab.class.slug }}" id="choose-{{ tab.class.slug }}">
                    {{ tab.part|safe }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

        </div>{# .span10 #}
    </div>{# .row-fluid #}
{% endblock dashboard-main %}

{% block js_footer %}
    {{ block.super }}
    <script src="{% static "front/js/repository-chooser.js" %}" type="text/javascript"></script>
{% endblock js_footer %}
