{% load frontutils %}{%spaceless%}
{% with org=group.name|default_if_none:'_' %}
<thead data-org="{{ org }}" class="group-{{ org }}" data-toggle="collapse" data-target="#tbody-{{ tab_slug }}-{{ org }}" title="Click to hide/show this list">
    <tr>
        <td>
            {% if group.name == '__others__' %}
                <i class="fa fa-users"> </i> Other's repositories
            {% elif group.name == '__starred__' %}
                <i class="fa fa-star"> </i> Starred repositories
            {% elif group.name %}
                <img class="avatar-micro img-circle" src="{% if group.organization %}{{ group.organization.avatar_url|default:default_avatar }}{% else %}{{ default_avatar }}{% endif %}" /> {{ group.name }}
            {% else %}
                <img class="avatar-micro img-circle" src="{{ user.avatar_url|default:default_avatar }}" /> Repositories you own/participate
            {% endif %}
        </td>
        <td>Subscribed</td>
        <td>Yours</td>
        <td>Private</td>
        <td colspan="3">Infos</td>
        <td>Rights</td>
        <td>Action</td>
    </tr>
</thead>
<tbody id="tbody-{{ tab_slug }}-{{ org }}" class="collapse in">
{% for repository in group.repositories %}
{% with repo_name=repository.full_name %}
    <tr data-repo="{{ repo_name }}" class="{% nospaces %}
        {% if repo_name in waiting_subscriptions %}
            {% with subscription=waiting_subscriptions|dict_item:repo_name %}
                {% if subscription.state == WAITING_SUBSCRIPTION_STATES.FAILED %}
                    status-error
                {% else %}
                    status-warning
                {% endif %}
            {% endwith %}
        {% elif repo_name in subscribed_repositories %}
            {% with subscription=subscribed_repositories|dict_item:repo_name %}
                {% if subscription.state == SUBSCRIPTION_STATES.NORIGHTS %}
                    status-error
                {% else %}
                    status-success
                {% endif %}
            {% endwith %}
        {% endif %}
        {% endnospaces %}">
        {# Repository name #}
        <td>{% if repository.owner != user and repository.owner != group.organization%}<img class="avatar-micro img-circle" src="{{ repository.owner.avatar_url|default:default_avatar }}" />{% endif %}
            {% if repo_name in subscribed_repositories %}<a href="{{ repository.get_absolute_url }}" title="View this repository">{% endif %}{{ repository.owner.username }}/<strong>{{ repository.name }}</strong>{% if repo_name in subscribed_repositories %}</a>{% endif %}
            <a href="{{ repository.github_url }}" title="View on github" target='_blank'><i class="fa fa-external-link"> </i></a>
        </td>
        {# subscription #}
        {% if repo_name in subscribed_repositories %}
            {% with subscription=subscribed_repositories|dict_item:repo_name %}
                <td><i class="fa fa-check"> </i>&nbsp;<span class="smaller">({{ subscription.get_state_display|lower }})</span></td>
            {% endwith %}
        {% elif repo_name in waiting_subscriptions %}
            {% with subscription=waiting_subscriptions|dict_item:repo_name %}
                <td><i class="fa fa-spinner fa-spin"> </i>&nbsp;<span class="smaller">({{ subscription.get_state_display|lower }})</span></td>
            {% endwith %}
        {% else %}
            <td>&nbsp;</td>
        {% endif %}
        {# owned ? #}
        {% if repository.owner == user %}
            <td title="You are the owner of this repository"><i class="fa fa-user"> </i></td>
        {% else %}
            <td>&nbsp;</td>
        {% endif %}
        {% if repository.no_infos %}
            <td colspan="5">(infos being fetched)</td>
        {% else %}
            {# private ? #}
            {% if repository.private %}
                <td title="This repository is private"><i class="fa fa-eye-slash"> </i></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {# infos #}
            {% if repository.has_issues %}
                <td title="Issues enabled"><i class="fa fa-file-oalt"> </i></td>
            {% else %}
                <td title="Issues disabled"><i class="fa fa-ban"> </i></td>
            {% endif %}
            <td title="Pull requests enabled"><i class="fa fa-upload"> </i></td>
            {% if repository.is_fork %}
                <td title="It's a fork"><i class="fa fa-random"> </i></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {# rights #}
            <td>{% if repo_name in available_repositories %}{% with available=available_repositories|dict_item:repo_name %}{{ available.get_permission_display }}{% endwith %}{% else %}{{ AVAILABLE_PERMISSIONS.CHOICES_DICT.pull }}{% endif %}</td>
        {% endif %}
        {# action #}
        {% if repo_name in waiting_subscriptions %}
            <td title="You already asked to subscribe to this repository">
                {% with subscription=waiting_subscriptions|dict_item:repo_name %}
                    {% if subscription.can_add_again %}
                        <form action="{{ repository_add_url }}" method="post" class="toggle-form">
                            <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
                            <input id="id_name" name="name" type="hidden" value="{{ repo_name }}" />
                            <button type="submit" class="btn btn-mini btn-green btn-loading" title="Subscribe to this repository again"><i class="fa fa-plus"> </i><i class='fa fa-spinner fa-spin'> </i></button>
                        </form>
                    {% endif %}
                    <form action="{{ repository_remove_url }}" method="post" class="toggle-form">
                        <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
                        <input id="id_name" name="name" type="hidden" value="{{ repo_name }}" />
                        <button type="submit" class="btn btn-mini btn-red btn-loading" title="Cancel your subscription to this repository"><i class="fa fa-times"> </i><i class='fa fa-spinner fa-spin'> </i></button>
                    </form>
                {% endwith %}
            </td>
        {% elif repo_name in subscribed_repositories %}
            <td title="You already subscribed to this repository">
                {% with subscription=subscribed_repositories|dict_item:repo_name %}
                    <form action="{{ repository_remove_url }}" method="post" class="toggle-form">
                        <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
                        <input id="id_name" name="name" type="hidden" value="{{ repo_name }}" />
                        <button type="submit" class="btn btn-mini btn-red btn-loading" title="Cancel your subscription to this repository"><i class="fa fa-times"> </i><i class='fa fa-spinner fa-spin'> </i></button>
                    </form>
                {% endwith %}
            </td>
        {% else %}
            <td>
                <form action="{{ repository_add_url }}" method="post" class="toggle-form">
                    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
                    <input id="id_name" name="name" type="hidden" value="{{ repo_name }}" />
                    <button type="submit" class="btn btn-mini btn-green btn-loading" title="Subscribe to this repository"><i class="fa fa-plus"> </i><i class='fa fa-spinner fa-spin'> </i></button>
                </form>
            </td>
        {% endif %}
    </tr>
{% endwith %}
{% endfor %}
</tbody>
{% endwith %}
{% endspaceless %}