/* line 4, ../../../../sass/pages/home.scss */
#home .box.login {
  width: 420px;
  margin: 80px auto 0;
}
@media (max-height: 720px) {
  /* line 4, ../../../../sass/pages/home.scss */
  #home .box.login {
    margin-top: 20px;
  }
}
@media (max-width: 440px) {
  /* line 4, ../../../../sass/pages/home.scss */
  #home .box.login {
    width: 100%;
    margin-top: 0;
  }
}
/* line 15, ../../../../sass/pages/home.scss */
#home .box-header span {
  font-size: larger;
}
/* line 17, ../../../../sass/pages/home.scss */
#home .box-header span i {
  font-size: inherit;
}
/* line 21, ../../../../sass/pages/home.scss */
#home p.main-line {
  font-size: larger;
  line-height: 2em;
}
/* line 25, ../../../../sass/pages/home.scss */
#home a.btn {
  font-size: larger;
}
/* line 27, ../../../../sass/pages/home.scss */
#home a.btn i {
  font-size: larger;
}
/* line 31, ../../../../sass/pages/home.scss */
#home .box-content > p:not(:first-child) {
  margin-top: 15px;
}
/* line 34, ../../../../sass/pages/home.scss */
#home blockquote {
  margin: 0;
}
/* line 36, ../../../../sass/pages/home.scss */
#home blockquote ul:first-of-type {
  margin-bottom: 0;
}
/* line 40, ../../../../sass/pages/home.scss */
#home .navbar-inverse .login {
  display: none;
}
/* line 43, ../../../../sass/pages/home.scss */
#home .welcome {
  margin-top: 100px;
  color: rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6), 0px 0px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}
@media (max-height: 720px) {
  /* line 43, ../../../../sass/pages/home.scss */
  #home .welcome {
    margin-top: 30px;
  }
}
