{% extends "front/repository/base.html" %}
{% load cache querystring frontutils issues_tags %}

{% block main %}

<nav id="issues-nav" class="span2">

    <ul class="nav nav-list">

        {% if issues_filter %}
            <li><a href="{{ root_issues_url }}">Clear filters</a></li>
        {% else %}
            <li class="nav-header">Filter issues</li>
        {% endif %}
        <li class="divider"></li>


        <li class="nav-header" data-toggle="collapse" data-target="#filter-created_by">
            Creators
            {% if issues_filter.objects.current_created_by %}
                <span class="selection">{{ issues_filter.objects.current_created_by }}</span>
            {% endif %}
        </li>
        <li>
            <ul class="nav nav-list collapse" id="filter-created_by">
                {% if issues_creators %}
                    <li>
                    {% if issues_creators|length > 10 %}
                        {% include "front/include_quicksearch.html" with id="filter-issues-creators" target="#filter-created_by li.creator" only %}
                    {% endif %}
                    </li>
                    {% for user in issues_creators %}
                        {% if issues_filter.objects.current_created_by == user.username %}
                            <li class="creator active"><a href="{{ root_issues_url }}{{ issues_filter.querystring }}">{{ user.username }}</a></li>
                        {% else %}
                            <li class="creator"><a href="{{ current_repository|base_url_issues_filtered_by_created_by:user }}{{ issues_filter.querystring }}">{{ user.username }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        <li class="divider"></li>


        <li class="nav-header" data-toggle="collapse" data-target="#filter-assigned">
            Assignees
            {% if issues_filter.objects.current_assigned %}
                <span class="selection">{% if issues_filter.objects.current_assigned == 'none' %}No one assigned{% else %}{{ issues_filter.objects.current_assigned }}{% endif %}</span>
            {% endif %}
        </li>
        <li>
            <ul class="nav nav-list collapse" id="filter-assigned">
                {% if issues_filter.objects.current_assigned == 'none' %}
                    <li class="active"><a href="{{ root_issues_url }}{{ issues_filter.querystring }}">No one assigned</a></li>
                {% else %}
                    <li><a href="{{ no_assigned_filter_url }}{{ issues_filter.querystring }}">No one assigned</a></li>
                {% endif %}
                {% for user in issues_assigned %}
                    {% if issues_filter.objects.current_assigned == user.username %}
                        <li class="active"><a href="{{ root_issues_url }}{{ issues_filter.querystring }}">{{ user.username }}</a></li>
                    {% else %}
                        <li><a href="{{ current_repository|base_url_issues_filtered_by_assigned:user }}{{ issues_filter.querystring }}">{{ user.username }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li class="divider"></li>


        <li class="nav-header" data-toggle="collapse" data-target="#filter-closed_by">
            Closed by
            {% if issues_filter.objects.current_closed_by %}
                <span class="selection">{{ issues_filter.objects.current_closed_by }}</span>
            {% endif %}
        </li>
        <li>
            <ul class="nav nav-list collapse" id="filter-closed_by">
                {% for user in issues_closers %}
                    {% if issues_filter.objects.current_closed_by == user.username %}
                        <li class="active"><a href="{{ root_issues_url }}{{ issues_filter.querystring }}">{{ user.username }}</a></li>
                    {% else %}
                        <li><a href="{{ current_repository|base_url_issues_filtered_by_closed_by:user }}{{ issues_filter.querystring }}">{{ user.username }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li class="divider"></li>


        <li class="nav-header" data-toggle="collapse" data-target="#filter-state">
            State
            {% if issues_filter.objects.state %}
                <span class="selection">{{ issues_filter.objects.state }}</span>
            {% endif %}
        </li>
        <li>
            <ul class="nav nav-list collapse" id="filter-state">
                {% for state in view.allowed_states %}
                    <li{% if issues_filter.parts.state == state %} class="active"{% endif %}>
                        <a href="{{ current_issues_url }}{% toggle_in_querystring "state" state %}">{{ state|capfirst }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="divider"></li>


        <li class="nav-header" data-toggle="collapse" data-target="#filter-pr">
            Pull-request
            {% if issues_filter.parts.pr %}
                <span class="selection">{{ issues_filter.parts.pr }}</span>
            {% endif %}
        </li>
        <li>
            <ul class="nav nav-list collapse" id="filter-pr">
                {% for pr in view.allowed_prs %}
                    <li{% if issues_filter.parts.pr == pr %} class="active"{% endif %}>
                        <a href="{{ current_issues_url }}{% toggle_in_querystring "pr" pr %}">{{ pr|capfirst }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="divider"></li>


        <li class="nav-header" data-toggle="collapse" data-target="#filter-milestone">
            Milestone
            {% if issues_filter.objects.milestone %}
                <span class="selection">{% if issues_filter.objects.milestone == 'none' %}No milestone{% else %}{{ issues_filter.objects.milestone }}{% endif %}</span>
            {% endif %}
        </li>
        <li>
            <ul class="nav nav-list collapse" id="filter-milestone">
                <li{% if issues_filter.parts.milestone == "none" %} class="active"{% endif %}>
                    <a href="{{ current_issues_url }}{% toggle_in_querystring "milestone" "none" %}">No milestone</a>
                </li>
                {% for milestone in current_repository.milestones.all %}
                    <li{% if issues_filter.objects.milestone.number == milestone.number %} class="active"{% endif %}>
                        <a href="{{ current_issues_url }}{% toggle_in_querystring "milestone" milestone.number %}">{{ milestone }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="divider"></li>


        {% for label_type in label_types %}
            {% with label_type.labels.all as label_type_labels %}
                {% if label_type_labels|length %}
                    <li class="nav-header" data-toggle="collapse" data-target="#filter-label-type-{{ label_type.id }}">
                        {{ label_type.name }}
                        {% with current_label_type=issues_filter.objects.current_label_types|dict_item:label_type.id %}
                            {% if current_label_type %}
                                <span class="selection">{{ current_label_type.typed_name }}</span>
                            {% endif %}
                        {% endwith %}
                    </li>
                    <li>
                        <ul class="nav nav-list collapse" id="filter-label-type-{{ label_type.id }}">
                            {% attributes_for_list label_type_labels "name" as label_names %}
                            {% for label in label_type_labels %}
                                <li{% if label.name in issues_filter.parts.labels %} class="active"{% endif %}>
                                    <a href="{{ current_issues_url }}{% toggle_one_from_querystring "labels" label.name remove_values=label_names %}" title="{{ label.name }}">{{ label.typed_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="divider"></li>
                {% endif %}
            {% endwith %}
        {% endfor %}


        {% with untyped_labels=current_repository.untyped_labels.all %}
            {% if untyped_labels|length %}
                <li class="nav-header" data-toggle="collapse" data-target="#filter-labels">
                    Labels
                    {% if issues_filter.objects.current_labels %}
                        {% attributes_for_list issues_filter.objects.current_labels "name" as current_label_names %}
                        <span class="selection">{{ current_label_names|join:", " }}</span>
                    {% endif %}
                </li>
                <li>
                    <ul class="nav nav-list collapse" id="filter-labels">
                        {% for label in untyped_labels %}
                            <li{% if label.name in issues_filter.parts.labels %} class="active"{% endif %}>
                                <a href="{{ current_issues_url }}{% toggle_one_from_querystring "labels" label.name %}">{{ label.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="divider"></li>
            {% endif %}
        {% endwith %}

    </ul>

</nav>
<section id="issues-list-container" class="span4">
    {% if issues %}
        <nav id="issues-navbar" class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="dropdown span4">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <span>
                                Sort
                                <b class="caret"></b>
                            </span>
                            {% if issues_filter.parts.sort %}
                                <span class="selection">
                                    {{ issues_filter.parts.sort|capfirst }}
                                    <i class="icon-arrow-{% if issues_filter.parts.direction == "asc" %}down{% else %}up{% endif %}"> </i>
                                </span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            {% for sort_field in view.allowed_sort_fields %}
                                <li{% if issues_filter.parts.sort == sort_field %} class="active"{% endif %}>
                                    <a href="{{ current_issues_url }}{% replace_many_in_querystring "sort" sort_field "direction" issues_filter.parts.direction|default:"desc" %}">{{ sort_field|capfirst }}</a>
                                </li>
                            {% endfor %}
                            {% if issues_filter.parts.sort %}
                                <li class="divider"></li>
                                <li class="sort-menu{% if issues_filter.parts.direction == "asc" %} active{% endif %}">
                                    <a href="{{ current_issues_url }}{% replace_in_querystring "direction" "asc" %}"><i class="icon-arrow-down"> </i></a>
                                </li><!--
                                --><li class="sort-menu{% if issues_filter.parts.direction == "desc" %} active{% endif %}">
                                    <a href="{{ current_issues_url }}{% replace_in_querystring "direction" "desc" %}"><i class="icon-arrow-up"> </i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown span4">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <span>
                                Group by
                                <span class="caret"></span>
                            </span>
                            <span class="selection">
                                {% if issues_filter.parts.group_by %}
                                    {% if issues_filter.objects.group_by_field == 'label_type_grouper' %}
                                        {{ issues_filter.objects.group_by.name|capfirst }}
                                    {% else %}
                                        {{ issues_filter.objects.group_by|capfirst }}
                                    {% endif %}
                                    <i class="icon-arrow-{% if issues_filter.parts.group_by_direction == "asc" %}down{% else %}up{% endif %}"> </i>
                                {% else %}
                                    No group by
                                {% endif %}
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for group_by_field in view.allowed_group_by_fields %}
                                <li{% if issues_filter.parts.group_by == group_by_field %} class="active"{% endif %}>
                                    <a href="{{ current_issues_url }}{% toggle_in_querystring "group_by" group_by_field %}">{{ group_by_field|capfirst }}</a>
                                </li>
                            {% endfor %}
                            {% if label_types|length %}
                                <li class="divider"></li>
                                {% for label_type in label_types %}
                                    {% with "type:"|add:label_type.name as label_type_group_name %}
                                        {% if label_type.labels.count %}
                                            <li{% if issues_filter.parts.group_by == label_type_group_name %} class="active"{% endif %}>
                                                <a href="{{ current_issues_url }}{% toggle_in_querystring "group_by" label_type_group_name %}">{{ label_type.name }}</a>
                                            </li>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            {% endif %}
                            {% if issues_filter.parts.group_by %}
                                <li class="divider"></li>
                                <li class="sort-menu{% if issues_filter.parts.group_by_direction == "asc" %} active"{% endif %}"">
                                    <a href="{{ current_issues_url }}{% replace_in_querystring "group_by_direction" "asc" %}"><i class="icon-arrow-down"> </i></a>
                                </li><!--
                                --><li class="sort-menu{% if issues_filter.parts.group_by_direction == "desc" %} active"{% endif %}"">
                                    <a href="{{ current_issues_url }}{% replace_in_querystring "group_by_direction" "desc" %}"><i class="icon-arrow-up"> </i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown span4">
                        <a href="#" role="button" class="dropdown-toggle no-selection" data-toggle="dropdown">
                            <span>
                                Options
                                <span class="caret"></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#" id="toggle-issues-details">Toggle details</a></li>
                            <li><a href="#" id="close-all-groups">Close all groups</a></li>
                            <li><a href="#" id="open-all-groups">Open all groups</a></li>
                            <li><a href="#" id="show-shortcuts" data-toggle="modal" data-target="#shortcuts-window">Show shortcuts</a></li>
                            <li><a href="#" id="go-to-issue" data-toggle="modal" data-target="#go-to-issue-window">Open issue...</a></li>
                        <ul>
                    </li>
                </ul>
            </div>
        </nav>
        {% include "front/include_quicksearch.html" with id="filter-search-issues" target="#issues-list .issue-item" placeholder="Search (titles)" only %}
        <div id="issues-list" class='issues-list' data-quicksearch="#filter-search-issues input">
            {% dynamic_regroup issues by issues_filter.objects.group_by_field as issues_groups %}
            {% for group in issues_groups %}
                <div class='box issues-group'>
                    {% if issues_filter.objects.group_by_field %}
                        {% with uidname=issues_filter.objects.group_by.id|default:issues_filter.objects.group_by uidvalue=group.grouper.id|default:group.grouper|default:"none" %}
                            <a class="box-header" href='#' data-toggle="collapse" data-target="#groupby-list-{{ uidname}}-{{ uidvalue }}">
                                <span class="title">
                                    {% if issues_filter.objects.group_by_field == 'is_pull_request' %}
                                        {% if group.grouper %}Pull-requests{% else %}Issues{% endif %}
                                    {% elif group.grouper %}
                                        {{ group.grouper.typed_name|default:group.grouper }}
                                    {% else %}
                                        No {{ issues_filter.objects.group_by|lower }}
                                    {% endif %}
                                </span>
                                <ul class="unstyled box-toolbar">
                                    <li><span class="label label-green issues-count">{{ group.list|length }}</span></li>
                                </ul>
                            </a>
                            <ul class="unstyled box-content issues-group-issues collapse" id="groupby-list-{{ uidname}}-{{ uidvalue }}">
                        {% endwith %}
                    {% else %}
                        <a class="box-header" href='#'>
                            <span class="title">{% if issues_filter.parts.keys|length > 2%}Filtered{% else %}All{% endif %} issues</span>
                            <ul class="unstyled box-toolbar">
                                <li><span class="label label-green issues-count">{{ group.list|length }}</span></li>
                            </ul>
                        </a>
                        <ul class="unstyled box issues-group-issues">
                    {% endif %}
                        {% for issue in group.list %}
                            <li id="issue-{{ issue.number }}" class="box-section news issue-item{% if current_issue.id == issue.id %} active{% endif %}" data-issue-number="{{ issue.number }}">
                                {% cache 60 isses-list-user current_repository.id issues_filter.querystring_with_user issue.user.id %}
                                <a href="{% if issues_filter.objects.current_created_by == issue.user.username %}{{ root_issues_url }}{% else %}{{ current_repository|base_url_issues_filtered_by_created_by:issue.user }}{% endif %}{{ issues_filter.querystring }}#issue-{{ issue.number }}" class="avatar" title="Click to {% if issues_filter.objects.current_created_by == issue.user.username %}stop filtering{% else %}filter{% endif %} issues created by {{ issue.user.username }}"><img class="avatar-small img-circle" src="{{ issue.user.avatar_url }}" alt="{{ issue.user.username }}"></a>
                                {% endcache %}
                                <div class="news-time">
                                    <span title="Created on {{ issue.created_at|date }}">{{ issue.created_at|ago }}</span>
                                    {% if issue.state == 'closed' %}
                                        {% if issues.updated_at > issue.closed_at %}
                                            ⇢ <span title="Closed{% if issue.closed_by %} by {{ issue.closed_by.username }}{% endif %} on {{ issue.closed_at|date }}, updated on {{ issue.updated_at|date }}">{{ issue.updated_at|ago }}</span>
                                        {% else %}
                                            ⇢ <span title="Closed{% if issue.closed_by %} by {{ issue.closed_by.username }}{% endif %} on {{ issue.closed_at|date }}">{{ issue.closed_at|ago }}</span>
                                        {% endif %}
                                    {% else %}
                                        {% if issue.updated_at and issue.created_at != issue.updated_at %}
                                            ⇢ <span title="Updated on {{ issue.updated_at|date }}">{{ issue.updated_at|ago }}</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="news-content">
                                    <div class="news-title">
                                        <a href="{{ issue.get_absolute_url }}{{ issues_filter.querystring_with_user|default:issues_filter.querystring }}#issue-{{ issue.number }}" class="issue-link" data-issue-number="{{ issue.number }}">
                                            <strong{% if issue.state == 'closed' %} class="issue-closed"{% endif %}>#{{ issue.number }}</strong> - {{ issue.title }}
                                            {% if issue.is_pull_request %}<span class="label label-success" title="It's a pull-request">PR</span>{% endif %}
                                            {% if issue.comments_count %}<span class="label label-inverse" title="{{ issue.comments_count }} comment{{ issue.comments_count|pluralize }}">{{ issue.comments_count }}</span>{% endif %}
                                        </a>
                                    </div>
                                    <div class="news-text">
                                        {% cache 60 isses-list-state current_repository.id issues_filter.querystring_with_user issue.state %}
                                        <a href="{{ current_issues_url }}{% toggle_in_querystring "state" issue.state %}#issue-{{ issue.number }}" title="Click to {% if issue.state == issues_filter.parts.state %}stop filtering{% else %}filter{% endif %} on this state"><span class="label label-{% if issue.state == 'open' %}success{% else %}important{% endif %}">{{ issue.state }}</span></a>
                                        {% endcache %}
                                        {% for label in issue.labels.all %}
                                            {% if label.label_type_id %}
                                                {% cache 60 isses-list-label current_repository.id issues_filter.querystring_with_user label.id %}
                                                {% attributes_for_list label.label_type.labels.all "name" as label_names %}
                                                <a href="{{ current_issues_url }}{% toggle_one_from_querystring "labels" label.name remove_values=label_names %}#issue-{{ issue.number }}" title="Click to {% if label.name in issues_filter.parts.labels %}stop filtering{% else %}filter{% endif %} on this {{ label.label_type.name }}"><span class="label label-info">{{ label.label_type.name }}: {{ label.typed_name }}</span></a>
                                                {% endcache %}
                                            {% endif %}
                                        {% endfor %}
                                        {% for label in issue.labels.all %}
                                            {% if not label.label_type_id %}
                                                {% cache 60 isses-list-label current_repository.id issues_filter.querystring_with_user label.id %}
                                                <a href="{{ current_issues_url }}{% toggle_one_from_querystring "labels" label.name %}#issue-{{ issue.number }}" title="Click to {% if label.name in issues_filter.parts.labels %}remove the{% else %}add a{% endif %} filter on this label"><span class="label label-default">{{ label.name }}</span></a>
                                                {% endcache %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if issue.milestone %}
                                            {% cache 60 isses-list-milestone current_repository.id issues_filter.querystring_with_user issue.milestone.id %}
                                            <a href="{{ current_issues_url }}{% toggle_in_querystring "milestone" issue.milestone.number %}#issue-{{ issue.number }}" title="Click to {% if issue.milestone.number == issues_filter.objects.milestone.number %}stop filtering{% else %}filter{% endif %} on this milestone"><span class="label label-inverse">Milestone: {{ issue.milestone.title }}</span></a>
                                            {% endcache %}
                                        {% endif %}
                                        {% if issue.assignee %}
                                            {% cache 60 isses-list-assignee current_repository.id issues_filter.querystring_with_user issue.assignee.id %}
                                            <div class="issue-item-assigned"><a href="{% if issues_filter.objects.current_assigned == issue.assignee.username %}{{ root_issues_url }}{% else %}{{ current_repository|base_url_issues_filtered_by_assigned:issue.assignee }}{% endif %}{{ issues_filter.querystring }}#issue-{{ issue.number }}" title="Click to {% if issues_filter.objects.current_assigned == issue.assignee.username %}stop filtering{% else %}filter{% endif %} issues assigned to {{ issue.assignee.username }}">Assigned to <img class="avatar-tiny img-circle" src="{{ issue.assignee.avatar_url }}"> {{ issue.assignee.username }}</a></div>
                                            {% endcache %}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        <p class="empty-column">Nothing :(</p>
    {% endif %}
    <div id="shortcuts-window" class="modal hide fade" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Shortcuts</h3>
        </div>
        <div class="modal-body">
            <p>When an issue or a group is selected in the issues list, the following shortcuts are available (note than if there is no selected group-by, actions on groups are ignored)<p>
            <div class="row-fluid">
                <div class="span6">
                    <h4>On issues</h4>
                    <table class="table table-condensed">
                        <tr>
                            <td><span class="label label-inverse">p</span>, <span class="label label-inverse">j</span> or <span class="label label-inverse"><i class="icon-arrow-down icon-white"> </i></span></td><td>Focus the next issue</td>
                        </tr>
                        <tr>
                            <td><span class="label label-inverse">n</span>, <span class="label label-inverse">k</span> or <span class="label label-inverse"><i class="icon-arrow-up icon-white"> </i></span></td><td>Focus the previous issue</td>
                        </tr>
                        <tr><td><span class="label label-inverse">HOME</span></td><td>Focus the first issue of the current group</td></tr>
                        <tr><td><span class="label label-inverse">END</span></td><td>Focus the last issue of the current group</td></tr>
                        <tr><td><span class="label label-inverse">c</span> or <span class="label label-inverse"><i class="icon-arrow-left icon-white"> </i></span></td><td>Close the current group</td></tr>
                    </table>
                </div>
                <div class="span6">
                    <h4>On Groups</h4>
                    <table class="table table-condensed">
                        <tr>
                            <td><span class="label label-inverse">p</span>, <span class="label label-inverse">j</span> or <span class="label label-inverse"><i class="icon-arrow-down icon-white"> </i></span></td><td>Focus the previous item (group or issue) in the list</td>
                        </tr>
                        <tr>
                            <td><span class="label label-inverse">n</span>, <span class="label label-inverse">k</span> or <span class="label label-inverse"><i class="icon-arrow-up icon-white"> </i></span></td><td>Focus the next item (group or issue) in the list</td>
                        </tr>
                        <tr><td><span class="label label-inverse">o</span> or <span class="label label-inverse"><i class="icon-arrow-right icon-white"> </i></span></td><td>Open the group</td></tr>
                        <tr><td><span class="label label-inverse">c</span> or <span class="label label-inverse"><i class="icon-arrow-left icon-white"> </i></span></td><td>Close the group</td></tr>
                        <tr><td><span class="label label-inverse">t</span></td><td>Toggle the group</td></tr>
                        <tr><td><span class="label label-inverse">HOME</span></td><td>Focus the first group</td></tr>
                        <tr><td><span class="label label-inverse">END</span></td><td>Focus the last group</td></tr>
                    </table>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <h4>Anywhere on the issues-list</h4>
                    <table class="table table-condensed">
                        <tr><td><span class="label label-inverse">d</span></td><td>Toggle details for issues</td></tr>
                        <tr><td><span class="label label-inverse">s</span></td><td>Focus the search input</td></tr>
                        <tr><td><span class="label label-inverse">CTRL+u</span></td><td>Clear the search input</td></tr>
                    </table>
                </div>
                <div class="span6">
                    <h4>Other</h4>
                    <table class="table table-condensed">
                        <tr><td><span class="label label-inverse">f</span></td><td>Toggle the fullscreen view of the main issue</td></tr>
                        <tr><td><span class="label label-inverse">#</span> or <span class="label label-inverse">i</span></td><td>Open a window to type an issue number to open</td></tr>
                        <tr><td><span class="label label-inverse">?</span></td><td>This window</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="go-to-issue-window" class="modal hide" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Go to issue</h3>
        </div>
        <div class="modal-body">
            <form class="form-inline">
                #<input data-base-url="{{ root_issues_url }}" type="text" name='issue-number' placeholder="Type an issue number" />
                <button class="btn btn-primary" type="submit">Go !</button>
            </form>
        </div>
    </div>
    <div id="modal-issue-view" class="modal hide fade"{% if current_issue %} data-issue-number="{{ current_issue.number }}"{% endif %} tabindex="-1">
        <div class="modal-body">
        </div>
    </div>
</section>

<section id="issue" class="span6 main-issue-container"{% if current_issue %} data-issue-number="{{ current_issue.number }}"{% endif %}>
    {% include "front/repository/issues/issue.html" %}
</section>

{% endblock main %}
