{% extends "front/repository/issues/include_base_comment.html" %}

{% block node_class %}event event-referenced-in-commit{% endblock %}

{% block comment_info %}
    <span class="label label-purple">REFERENCED</span>
    <strong>{{ comment.user.username }}</strong>
    referenced this {% if comment.issue.is_pull_request %}pull request{% else %}issue{% endif %}
    from a commit
{% endblock %}

{% block comment_inner_body %}
    Commit <a href="{{ comment.github_url }}" target='_blank'>{{ comment.commit_sha }}</a>
{% endblock%}