{% load issues_tags %}
{% if current_issue_edit_level %}
    <div class="issue-buttons">
        <form class="issue-edit-state-form" data-number="{{ current_issue.number }}" data-repository="{{ current_issue.repository.full_name }}" method="post" action="{{ current_issue|edit_field_url:'state' }}">
            {% csrf_token %}
            <input type="hidden" name='state' value="{% if current_issue.state == 'open' %}closed{% else %}open{% endif %}">
            <button class="btn btn-{% if current_issue.state == 'open' %}red{% else %}green{% endif %} btn-loading">
                {% if current_issue.state == 'open' %}Close{% else %}Reopen{% endif %}
                this
                {% if current_issue.is_pull_request %}pull request{% else %}issue{% endif %}
                <i class='icon-spinner icon-spin'> </i>
            </button>
        </form>
    </div>
{% endif %}
