{% load frontutils %}
<li class="chat-box-entry arrow-box-left gray issue-comment {% block node_class %}{% endblock %}">
    <div class="avatar"><img class="avatar-small img-circle" src="{{ comment.user.avatar_url }}"></div>
    <div class="info">
        {% block comment_info %}{% endblock %}
        <span class="time" title="{{ comment.created_at|date:"DATETIME_FORMAT" }}"><i class="icon-time"></i> {{ comment.created_at|ago }}</span>
    </div>
    {% block comment_body %}<div class="content">{% block comment_inner_body %}{% endblock %}</div>{% endblock %}
</li>
