{% load staticfiles querystring frontutils issues_tags %}{% spaceless %}
{% static 'front/img/default-avatar.png' as default_avatar %}
{% with issue_labels=issue.labels.all %}<li id="issue-{{ issue.number }}" class="box-section news issue-item state-{{ issue.state }}" data-number="{{ issue.number }}" data-repository="{{ issue.repository.full_name }}" data-search="{{ issue.user.username }} #{{ issue.number }} {{ issue.title }}{% if issue.milestone %} {{ issue.milestone.title }}{% endif %}{% for label in issue_labels %}{% if label.label_type_id %} {{ label.label_type.name }}:{{ label.typed_name }}{% endif %}{% endfor %}{% for label in issue_labels %}{% if not label.label_type_id %} {{ label.name }}{% endif %}{% endfor %}">
    <div class="issue-item-header">
        <div class="issue-item-times">
            <span title="Created on {{ issue.created_at|date:"DATETIME_FORMAT" }}" class="ago ago-short" data-datetime="{{ issue.created_at|date:'r' }}">{{ issue.created_at|ago:True }}</span>
            {% if issue.state == 'closed' %}
                {% if issues.updated_at > issue.closed_at %}
                    <i class="icon-caret-right"> </i> <span title="Closed{% if issue.closed_by %} by {{ issue.closed_by.username }}{% endif %} on {{ issue.closed_at|date:"DATETIME_FORMAT" }}, updated on {{ issue.updated_at|date:"DATETIME_FORMAT" }}" class="ago ago-short" data-datetime="{{ issue.updated_at|date:'r' }}">{{ issue.updated_at|ago:True }}</span>
                {% else %}
                    <i class="icon-caret-right"> </i> <span title="Closed{% if issue.closed_by %} by {{ issue.closed_by.username }}{% endif %} on {{ issue.closed_at|date:"DATETIME_FORMAT" }}" class="ago ago-short" data-datetime="{{ issue.closed_at|date:'r' }}">{{ issue.closed_at|ago:True }}</span>
                {% endif %}
            {% else %}
                {% if issue.updated_at and issue.created_at != issue.updated_at %}
                    <i class="icon-caret-right"> </i> <span title="Updated on {{ issue.updated_at|date:"DATETIME_FORMAT" }}" class="ago ago-short" data-datetime="{{ issue.updated_at|date:'r' }}">{{ issue.updated_at|ago:True }}</span>
                {% endif %}
            {% endif %}
        </div>
        {% if issue.is_pull_request %}
            <div class="issue-item-pull-request">
                <a href="" title="It's a pull request" class="js-filter-trigger" data-filter='pr:yes'>
                    <i class="icon-upload-alt"> </i>
                </a>
            </div>
        {% endif %}
        {% if issue.milestone %}
            <div class="issue-item-milestone">
                <a href="" class="js-filter-trigger" data-filter='milestone:{{ issue.milestone.number }}'>
                    <i class="icon-tasks text-{{ issue.milestone.state }}" title="{{ issue.milestone.state|capfirst }} milestone{% if issue.milestone.state == 'open' and issue.milestone.due_on %}, due on {{ issue.milestone.due_on|date:'DATE_FORMAT' }} {% endif %}"> </i> {{ issue.milestone.title }}
                </a>
            </div>
        {% endif %}
    </div>
    <a href="" title="Created by {{ issue.user.username }}" class="avatar js-filter-trigger" data-filter='created_by:{{ issue.user.username }}'><img class="avatar-small img-circle" src="{{ issue.user.avatar_url|default:default_avatar }}" alt="{{ issue.user.username }}"></a>
    <div class="news-content">
        <div class="news-title">
            <a href="{{ issue.get_absolute_url }}" class="issue-link" data-number="{{ issue.number }}" title="{% if issue.is_pull_request %}Pull-request. {% endif %}State: {{ issue.state }}">
                <strong class="text-{{ issue.state }}">#{{ issue.number }}</strong> - {{ issue.title }}
            </a>
        </div>
    </div>
    <div class="issue-item-footer{% if issue_labels %} with-labels{% endif %}">
        {% if issue.assignee %}
                <a href="" title="Assigned to {{ issue.assignee.username }}" class="issue-item-assignee js-filter-trigger" data-filter='assigned:{{ issue.assignee.username }}'><i class="icon-hand-right"> </i><img class="avatar-tiny img-circle" src="{{ issue.assignee.avatar_url|default:default_avatar }}"></a>
        {% endif %}
        {% if issue.total_comments_count %}
            <div class="issue-item-comments-count" title="{{ issue.total_comments_count }} comment{{ issue.total_comments_count|pluralize }}">
                <i class="icon-comments-alt"> </i>{{ issue.total_comments_count }}
            </div>
        {% endif %}
        <div class="issue-item-labels">
            {% for label in issue_labels %}
                {% if label.label_type_id %}
                        {% attributes_for_list label.label_type.labels.all "name" as label_names %}
                        <a href="" class="js-filter-trigger" style="border-bottom-color: #{{ label.color }}" data-filter='labels:{{ label.name }}' data-type-name='{{ label.label_type.name }}'>
                            <strong>{{ label.label_type.name }}:</strong> {{ label.typed_name }}
                        </a>
                {% endif %}
            {% endfor %}
            {% for label in issue_labels %}
                {% if not label.label_type_id %}
                        <a href="" class="js-filter-trigger" style="border-bottom: solid 3px #{{ label.color }}" data-filter='labels:{{ label.name }}'>
                            {{ label.name }}
                        </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</li>{% endwith %}{% endspaceless %}