{% load frontutils %}
<li class="chat-box-entry arrow-box-left gray issue-comment">
    <div class="avatar"><img class="avatar-small img-circle" src="{{ comment.user.avatar_url }}"></div>
    <div class="info">
        <span class="name">
            <strong>{{ comment.user.username }}</strong>
            {% if comment.user.id == current_repository.owner.id %}
                <span class="label label-success" title="{{ comment.user.username }} is the project's owner">owner</span>
            {% elif comment.user.id in collaborators_ids %}
                <span class="label label-info" title="{{ comment.user.username }} is a collaborator on this project">collaborator</span>
            {% endif %}
            {% if comment.user.id == current_issue.user.id %}
                <span class="label" title="{{ comment.user.username }} submitted this issue">submitter</span>
            {% endif %}
        </span>
        <span class="time" title="{{ comment.created_at|date:"DATETIME_FORMAT" }}"><i class="icon-time"></i> {{ comment.created_at|ago }}</span>
    </div>
    <div class="content">
        {{ comment.body_html|safe }}
    </div>
</li>
