{% extends "front/repository/issues/include_base_comment.html" %}
{% load frontutils %}

{% block node_class %}event event-closed{% endblock %}

{% block comment_info %}
    <span class="label label-red">CLOSED</span>
    <strong>{{ comment.user.username }}</strong>
    closed this {{ comment.issue.type }}
    {% if comment.commit_sha and comment.related_object_id %}from a commit{% endif %}
{% endblock %}

{% block comment_body %}
{% if comment.commit_sha and comment.related_object %}
    <div class="content">
        <div class="comment-commits">
            {% include "front/repository/issues/include_commits.html" with commits=comment.related_object|tolist id_prefix="ref-" %}
        </div>
    </div>
{% endif %}
{% endblock%}