{% load frontutils %}
{% with files=current_issue.files.all %}
<div class="content">
    <nav>
        {% if current_issue.nb_changed_files > 1 %}
            {% with number_str=current_issue.number|slugify %}{% with base='issue-'|add:number_str|add:'-files' %}
                {% include "front/include_quicksearch.html" with id=base|add:'-search' target='#'|add:base|add:' .pr-file, #'|add:base|add:' .pr-files-list tr' content='.path' title="Fiter on file names" only %}
            {% endwith %}{% endwith %}
        {% endif %}
        <button class="btn btn-default" data-toggle="collapse" data-target="#issue-{{ current_issue.number }}-files .pr-file .pr-comments.collapse" title="Open/close all comments on files"><i class="icon-sort"></i> Toggle comments</button>
        {% if current_issue.nb_changed_files > 1 %}
            <button class="btn btn-default" data-toggle="collapse" data-target="#issue-{{ current_issue.number }}-files .pr-file > .collapse" title="Open/close all files"><i class="icon-sort"></i> Toggle files</button>
        {% endif %}
    </nav>
    {% if current_issue.nb_changed_files > 1 %}<a href="#" title="Click to toogle the list of files" data-toggle="collapse" data-target="#issue-{{ current_issue.number }}-files-list">{% endif %}<strong>{{ current_issue.nb_changed_files }} file{{ current_issue.nb_changed_files|pluralize }} changed</strong> with <strong>{{ current_issue.nb_additions }} addition{{ current_issue.nb_additions|pluralize }}</strong> and <strong>{{ current_issue.nb_deletions }} deletion{{ current_issue.nb_deletions|pluralize }}</strong>{% if current_issue.nb_changed_files > 1 %}</a>{% endif %}
    {% if current_issue.nb_changed_files > 1 %}
    <div class="collapse in pr-files-list" id="issue-{{ current_issue.number }}-files-list">
        <table class="table table-condensed">
        {% for file in files %}
            <tr>
                <td class="status-{{ file.status }}"><i class="icon-{% if file.status == 'added' %}plus{% elif file.status == 'removed'%}remove{% elif file.status == 'renamed' %}resize-horizontal{% elif file.status == 'modified' %}pencil{% else %}file{% endif %}"> </i></td>
                <td><a class="path" href="#pr-file-{{ file.id }}">{{ file.path }}</a></td>
                <td>
                    <ul class="unstyled">
                        <li class="label label-green" title="{{ file.nb_additions }} addition{{ file.nb_additions|pluralize }}"><i class="icon-plus"></i> {{ file.nb_additions }}</li>
                        <li class="label label-red" title="{{ file.nb_deletions }} deletion{{ file.nb_deletions|pluralize }}"><i class="icon-minus"></i> {{ file.nb_deletions }}</li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
<ul class="unstyled chat-box timeline issue-comments">
{% for file in files %}
    <li>
        <div class="box pr-file">
            <div class="box-header" data-toggle="collapse" data-target="#pr-file-{{ file.id }}-content" title="Click to collapse/expand">
                <ul class="box-toolbar">
                    <li>
                        <ul class="unstyled">
                            <li class="label label-green" title="{{ file.nb_additions }} addition{{ file.nb_additions|pluralize }}"><i class="icon-plus"></i> {{ file.nb_additions }}</li>
                            <li class="label label-red" title="{{ file.nb_deletions }} deletion{{ file.nb_deletions|pluralize }}"><i class="icon-minus"></i> {{ file.nb_deletions }}</li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ file.github_url }}" target='_blank' class="btn btn-mini btn-default" title="View file @{{ file.tree|short_sha }}">@{{ file.tree|short_sha }}</a>
                    </li>
                </ul>
                <div class="title">
                    <a href="#" id="pr-file-{{ file.id }}" class="path">{{ file.path }}</a>
                    <span>{{ file.status }}</span>
                </div>
            </div>
            <div class="box-content collapse in" id="pr-file-{{ file.id }}-content">
                {% if file.patch %}
                    <div class="box-section code-diff">
                        {% include "front/repository/issues/include_diff.html" with parsed_diff=file.patch|parse_diff entry_points=entry_points_dict|dict_item:file.path path=file.path sha=file.tree %}
                    </div>
                {% else %}
                    <div class="box-section no-diff">
                        {% if file.status == 'added' %}
                            File added without content (or binary)
                        {% elif file.status == 'renamed' %}
                            File renamed without changes
                        {% elif file.status == 'deleted' %}
                            Deleted file was empty
                        {% elif file.status == 'modified' %}
                            Diff too big (or binary)
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </li>
{% endfor %}
</ul>
{% if view.request.is_ajax and current_issue.nb_changed_files > 1 %}
    <script type="text/javascript">
        window.activate_quicksearches($('#issue-{{ current_issue.number }}-files-search input.quicksearch'));
    </script>
{% endif %}
{% endwith %}