{% extends "front/repository/issues/include_base_comment.html" %}
{% load frontutils %}

{% block node_class %}event event-referenced-in-commit{% endblock %}

{% block comment_info %}
    <span class="label label-purple">REFERENCED</span>
    <strong>{{ comment.user.username }}</strong>
    referenced this {% if comment.issue.is_pull_request %}pull request{% else %}issue{% endif %}
    from a commit
{% endblock %}

{% block comment_inner_body %}
    {% if not comment.related_object %}
        Commit <a href="{{ comment.github_url }}" target='_blank'>{{ comment.commit_sha }}</a>
    {% else %}
        {% with commit=comment.related_object %}
            {% if commit.deleted %}
                Deleted commit <strong>{{ comment.commit_sha }}</strong>
            {% else %}
                <div class="comment-commits">
                    {% include "front/repository/issues/include_commits.html" with commits=commit|tolist id_prefix="ref-" %}
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}
{% endblock%}