{% load querystring frontutils issues_tags %}
{% if current_issue %}
    <nav class="issue-nav">
        <i class="icon-fullscreen resize-issue" title="Toggle fullscreen view"> </i>
    </nav>
    <article>
        <div class="area-top state-{{ current_issue.state }}">
            <header class="header">
                <div class="avatar">
                    <img class="avatar-small img-circle" src="{{ current_issue.user.avatar_url }}" alt="{{ current_issue.user.username }}">
                </div>
                <h3>#{{ current_issue.number }} - {{ current_issue.title }}</h3>
                <h5>Created by {{ current_issue.user.username }} on {{ current_issue.created_at|date:"DATETIME_FORMAT" }}</h5>
            </header>
            {% if current_issue.is_pull_request %}<i class="icon-upload-alt issue-pull-request" title="It's a pull-request"> </i>{% endif %}
            {% if current_issue.milestone %}<div class="issue-milestone"><i class="icon-tasks"> </i> Milestone: <strong>{{ current_issue.milestone.title }}</strong></div>{% endif %}
            {% if current_issue.state == 'closed' %}
                <p class="state-closed">
                    Closed{% if current_issue.closed_by %} by <img class="avatar-tiny img-circle" src="{{ current_issue.closed_by.avatar_url }}"> {{ current_issue.closed_by.username }}{% endif %} on {{ current_issue.closed_at|date:"DATETIME_FORMAT" }}{% if current_issues.updated_at > current_issue.closed_at %}, updated on {{ current_issue.updated_at|date:"DATETIME_FORMAT" }}{% endif %}
                </p>
            {% else %}
                {% if issue.updated_at and issue.created_at != issue.updated_at %}
                    Updated on {{ current_issue.updated_at|date:"DATETIME_FORMAT" }}
                {% endif %}
            {% endif %}
            <div class="issue-footer">
                {% if current_issue.comments_count or current_issue.assignee or current_issue_involved|length > 1  %}
                    <div class="issue-footer-infos">
                        {% if current_issue.comments_count %}
                            <a class="issue-footer-info-part issue-comments-count" title="{{ current_issue.comments_count }} comment{{ current_issue.comments_count|pluralize }}" href="#issue-comments-{{ current_issue.number }}">
                                <i class="icon-comments-alt"> </i>{{ current_issue.comments_count }}
                            </a>
                        {% endif %}
                        {% if current_issue.assignee %}
                            <span class="issue-footer-info-part issue-assignee" title="Assigned to {{ current_issue.assignee.username }}">
                                <i class="icon-share-alt"> </i><img class="avatar-tiny img-circle" src="{{ current_issue.assignee.avatar_url }}" />
                            </span>
                        {% endif %}
                        {% if current_issue_involved|length > 1 %}
                            <ul class="unstyled issue-footer-info-part issue-involved">
                                <span>With</span>
                                {% for involved_user in current_issue_involved %}
                                    <li><img class="avatar-tiny img-circle" src="{{ involved_user.user.avatar_url }}" title="{{ involved_user.user.username }}{% if involved_user.types|length %} ({{ involved_user.types|join:", "}}){% endif %}, {{ involved_user.count }} comment{{ involved_user.count|pluralize }}"></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}

                <ul class="unstyled issue-labels">
                    {% for label in current_issue.labels.ready %}
                        {% if label.label_type_id %}
                            <li style="border-bottom-color: #{{ label.color }}"><strong>{{ label.label_type.name }}:</strong> {{ label.typed_name }}</li>
                        {% endif %}
                    {% endfor %}
                    {% for label in current_issue.labels.ready %}
                        {% if not label.label_type_id %}
                            <li style="border-bottom-color: #{{ label.color }}">{{ label.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content issue-body{% if not current_issue.body_html %} empty{% endif %}" >
            {% if current_issue.body_html %}{{ current_issue.body_html|safe }}{% else %}No description for this issue !{% endif %}
        </div>
    </article>
    <aside>
        {% if current_issue.comments_count %}
            <ul class="unstyled chat-box timeline issue-comments" id="issue-comments-{{ current_issue.number }}">
                {% for comment in current_issue_comments %}
                    <li class="chat-box-entry arrow-box-left gray issue-comment">
                        <div class="avatar"><img class="avatar-small img-circle" src="{{ comment.user.avatar_url }}"></div>
                        <div class="info">
                            <span class="name">
                                <strong>{{ comment.user.username }}</strong>
                                {% if comment.user.id == current_repository.owner.id %}
                                    <span class="label label-success" title="{{ comment.user.username }} is the project's owner">owner</span>
                                {% elif comment.user.id in collaborators_ids %}
                                    <span class="label label-info" title="{{ comment.user.username }} is a collaborator on this project">collaborator</span>
                                {% endif %}
                                {% if comment.user.id == current_issue.user.id %}
                                    <span class="label" title="{{ comment.user.username }} submitted this issue">submitter</span>
                                {% endif %}
                            </span>
                            <span class="time" title="{{ comment.created_at|date:"DATETIME_FORMAT" }}"><i class="icon-time"></i> {{ comment.created_at|ago }}</span>
                        </div>
                        <div class="content">
                            {{ comment.body_html|safe }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </aside>
{% else %}
    <p class="empty-area">{% if current_issue_state == 'notfound' %}404 :({% else %}...{% endif %}</p>
{% endif %}
