{% load querystring frontutils issues_tags staticfiles %}
{% static 'front/img/default-avatar.png' as default_avatar %}
{% if current_issue %}
    <nav class="issue-nav">
        <i class="icon-fullscreen resize-issue" title="Toggle fullscreen view"> </i>
    </nav>
    <article>
        <div class="area-top state-{{ current_issue.state }}">
            <header>
                <div class="avatar">
                    <img class="avatar-small img-circle" src="{{ current_issue.user.avatar_url|default:default_avatar }}" alt="{{ current_issue.user.username }}" title="Created by {{ current_issue.user.username }}">
                </div>
                <h3><a href="{{ current_issue.github_url }}" target="_blank" title="View this issue on Github">#{{ current_issue.number }} - {{ current_issue.title }}</a></h3>
            </header>
            <section>
                <h5>Created by {{ current_issue.user.username }} on {{ current_issue.created_at|date:"DATETIME_FORMAT" }}</h5>
                {% if current_issue.state == 'closed' %}
                    <p class="state state-closed">
                        Closed{% if current_issue.is_pull_request and current_issue.merged_at %}, and <strong>merged</strong>,{% endif %}{% if current_issue.closed_by %} by <img class="avatar-tiny img-circle" src="{{ current_issue.closed_by.avatar_url|default:default_avatar }}"> {{ current_issue.closed_by.username }}{% endif %} on {{ current_issue.closed_at|date:"DATETIME_FORMAT" }}{% if current_issues.updated_at > current_issue.closed_at %}, updated on {{ current_issue.updated_at|date:"DATETIME_FORMAT" }}{% endif %}
                    </p>
                {% else %}
                    {% if current_issue.updated_at and current_issue.created_at != current_issue.updated_at %}
                        <p class="state state-open">
                            Updated on {{ current_issue.updated_at|date:"DATETIME_FORMAT" }}
                        </p>
                    {% endif %}
                {% endif %}
                {% if current_issue.is_pull_request %}<i class="icon-upload-alt issue-pull-request" title="It's a pull-request"> </i>{% endif %}
                {% if current_issue.milestone %}<div class="issue-milestone"><span class="icon-tasks"> </span> Milestone: <strong>{{ current_issue.milestone.title }}</strong></div>{% endif %}
            </section>
            <footer>
                {% if current_issue.total_comments_count or current_issue.assignee or current_issue_involved|length > 1  %}
                    <div class="issue-footer-infos">
                        {% if current_issue.total_comments_count %}
                            <a class="issue-footer-info-part issue-comments-count" title="{{ current_issue.total_comments_count }} comment{{ current_issue.total_comments_count|pluralize }}" href="#issue-activity-{{ current_issue.number }}">
                                <i class="icon-comments-alt"> </i>{{ current_issue.total_comments_count }}
                            </a>
                        {% endif %}
                        {% if current_issue.assignee %}
                            <span class="issue-footer-info-part issue-assignee" title="Assigned to {{ current_issue.assignee.username }}">
                                <i class="icon-share-alt"> </i><img class="avatar-tiny img-circle" src="{{ current_issue.assignee.avatar_url|default:default_avatar }}" />
                            </span>
                        {% endif %}
                        {% if current_issue_involved|length > 1 %}
                            <ul class="unstyled issue-footer-info-part issue-involved">
                                {% for involved_user in current_issue_involved %}
                                    <li><img class="avatar-tiny img-circle" src="{{ involved_user.user.avatar_url|default:default_avatar }}" title="{{ involved_user.user.username }}{% if involved_user.types|length %} ({{ involved_user.types|join:", "}}){% endif %}{% if involved_user.comments %}, {{ involved_user.comments }} comment{{ involved_user.comments|pluralize }}{% endif %}{% if involved_user.commits %}, {{ involved_user.commits }} commit{{ involved_user.commits|pluralize }}{% endif %}"></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}

                <ul class="unstyled issue-labels">
                    {% for label in current_issue.labels.ready %}
                        {% if label.label_type_id %}
                            <li style="border-bottom-color: #{{ label.color }}"><strong>{{ label.label_type.name }}:</strong> {{ label.typed_name }}</li>
                        {% endif %}
                    {% endfor %}
                    {% for label in current_issue.labels.ready %}
                        {% if not label.label_type_id %}
                            <li style="border-bottom-color: #{{ label.color }}">{{ label.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </footer>
        </div>
        {% if current_issue.is_pull_request %}
            <div class="content pr-infos">
                {% if current_issue.pr_fetched_at %}
                    <ul class="unstyled">
                        <li class="label label-blue" title="{{ current_issue.nb_commits }} commit{{ current_issue.nb_commits|pluralize }}"><i class="icon-pencil"></i> {{ current_issue.nb_commits }}</li>
                        <li class="label label-green" title="{{ current_issue.nb_additions }} addition{{ current_issue.nb_additions|pluralize }}"><i class="icon-plus"></i> {{ current_issue.nb_additions }}</li>
                        <li class="label label-red" title="{{ current_issue.nb_deletions }} deletion{{ current_issue.nb_deletions|pluralize }}"><i class="icon-minus"></i> {{ current_issue.nb_deletions }}</li>
                        <li class="label label-black" title="{{ current_issue.nb_changed_files }} changed file{{ current_issue.nb_changed_files|pluralize }}"><i class="icon-file"></i> {{ current_issue.nb_changed_files }}</li>
                    </ul>
                {% endif %}
                <div>Pull request from <strong>{{ current_issue.head_label|default:current_issue.user.username }}</strong></div>
                {% if current_issue.pr_fetched_at %}
                    <div class="pr-merge-status">
                        {% include "front/repository/issues/include_state_form.html" %}
                        {% if current_issue.state == 'open' %}
                            {% if current_issue.is_mergeable %}
                                <div class="alert alert-success"><strong>Can be merged</strong></div>
                            {% else %}
                                <div class="alert alert-error"><strong>Cannot be merged</strong>{% if current_issue.mergeable_state %} (reason: {{ current_issue.mergeable_state }}){% endif %}</div>
                            {% endif %}
                        {% else %}
                            {% if current_issue.merged %}
                                <div class="alert alert-success">Merged</div>
                            {% else %}
                                <div class="alert alert-error">Not merged</div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% elif current_issue_edit_level == 'full' %}
            <div class="content issue-button">
                {% include "front/repository/issues/include_state_form.html" %}
            </div>
        {% endif %}
        {% if current_issue.is_pull_request %}
            <ul class="nav nav-tabs pr-tabs">
                <li class="pr-discussion-tab active"><a data-toggle="tab" href="#issue-{{ current_issue.number }}-discussion">Discussion</a></li>
                <li class="pr-commits-tab"><a data-toggle="tab" href="#issue-{{ current_issue.number }}-commits">Commits</a></li>
                <li class="pr-files-tab"><a data-toggle="tab" href="#issue-{{ current_issue.number }}-files">Files changed</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active issue-discussion" id="issue-{{ current_issue.number }}-discussion">
        {% endif %}
            <div class="content issue-body{% if not current_issue.body %} empty{% endif %}" >
                {% if current_issue.body %}{{ current_issue.html_content|safe }}{% else %}No description for this issue !{% endif %}
            </div>
            <aside>
                <ul class="unstyled chat-box timeline issue-activity" id="issue-activity-{{ current_issue.number }}">
                    {% for event in current_issue_activity %}
                        {% if event.event %}{# IssueEvent #}
                            {% if event.event == 'closed' %}
                                {% include "front/repository/issues/include_closed_comment.html" with comment=event %}
                            {% elif event.event == 'merged' %}
                                {% include "front/repository/issues/include_merged_comment.html" with comment=event %}
                            {% elif event.event == 'reopened' %}
                                {% include "front/repository/issues/include_reopened_comment.html" with comment=event %}
                            {% comment %}
                            {% elif event.event == 'assigned' %}
                                {% include "front/repository/issues/include_assigned_comment.html" with comment=event %}
                            {% endcomment %}
                            {% elif event.event == 'head_ref_deleted' %}
                                {% include "front/repository/issues/include_head_ref_deleted_comment.html" with comment=event %}
                            {% elif event.event == 'head_ref_restored' %}
                                {% include "front/repository/issues/include_head_ref_restored_comment.html" with comment=event %}
                            {% elif event.event == 'referenced' and event.commit_sha %}
                                {% include "front/repository/issues/include_referenced_in_commit_comment.html" with comment=event %}
                            {% elif event.event == 'referenced_by_issue' %}
                                {% include "front/repository/issues/include_referenced_by_issue_comment.html" with comment=event %}
                            {% elif event.event == 'referenced_by_issuecomment' %}
                                {% include "front/repository/issues/include_referenced_by_issuecomment_comment.html" with comment=event %}
                            {% elif event.event == 'referenced_by_pullrequestcomment' %}
                                {% include "front/repository/issues/include_referenced_by_pullrequestcomment_comment.html" with comment=event %}
                            {% elif event.event == 'referenced_by_milestone' %}
                                {% include "front/repository/issues/include_referenced_by_milestone_comment.html" with comment=event %}
                            {% endif %}
                        {% elif event.diff_hunk %}{# PullRequestEntryPoint #}
                            {% include "front/repository/issues/include_pr_entry_point.html" with entry_point=event %}
                        {% elif event.is_commits_group %}{# GroupedPullRequestCommits #}
                            {% include "front/repository/issues/include_commits_groups.html" with groups=event|tolist id_prefix="pr-disc-" with_ago=True %}
                        {% elif event.get_parts %}{# Event #}
                            {% include "front/repository/issues/include_change_event.html" %}
                        {% else %}{# IssueComment #}
                            {% include "front/repository/issues/include_comment.html" with comment=event %}
                        {% endif %}
                    {% endfor %}
                    {% include "front/repository/issues/include_comment_create.html" with use_current_user=True %}
                </ul>
            </aside>
        {% if current_issue.is_pull_request %}
            </div>
            <div class="tab-pane issue-commits" id="issue-{{ current_issue.number }}-commits" data-url="{{ current_issue.ajax_commits_url }}">
                {% if current_issue.nb_commits > 10 %}
                    <div class="content empty">
                        Loading commits...
                    </div>
                    <p class="empty-area"><i class="icon-spinner icon-spin"> </i></p>
                {% else %}
                    {% include "front/repository/issues/include_issue_commits.html" %}
                {% endif %}
            </div>
            <div class="tab-pane issue-files" id="issue-{{ current_issue.number }}-files" data-url="{{ current_issue.ajax_files_url }}">
                {% if current_issue.nb_additions|add:current_issue.nb_deletions > 300 or current_issue.nb_changed_files > 10 %}
                    <div class="content empty">
                        Loading {% if current_issue.nb_additions|add:current_issue.nb_deletions > 500 or current_issue.nb_changed_files > 20 %} big{% endif %}diff...
                    </div>
                    <p class="empty-area"><i class="icon-spinner icon-spin"> </i></p>
                {% else %}
                    {% include "front/repository/issues/include_issue_files.html" %}
                {% endif %}
            </div>
            <div class="box-section code-diff template" style="display: none"></div>
            <div class="box-section pr-comments collapse in template" style="display: none"><ul class="unstyled chat-box timeline"></ul></div>
        </div>
        {% endif %}
    </article>
{% else %}
    <p class="empty-area">{% if current_issue_state == 'notfound' %}404 :({% else %}...{% endif %}</p>
{% endif %}
