{% load querystring frontutils spaceless_except_pre issues_tags staticfiles %}{% spaceless_except_pre %}
{% static 'front/img/default-avatar.png' as default_avatar %}
{% if current_issue %}
    <nav class="issue-nav dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"> </i></button>
        <ul class="dropdown-menu pull-right" role="menu" aria-label="Issue menu">
            <li><a href="#" class="refresh-issue"><i class="fa fa-refresh fa-fw"> </i> Refresh issue</a></li>
            {% if current_issue.number %}
                <li><a href="#" class="force-refresh-issue"><i class="fa fa-refresh fa-fw"> </i> Update from github</a></li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="#" class="resize-issue"><i class="fa fa-arrows-alt fa-fw"> </i> Toggle full screen</a></li>
            {% if current_issue.number %}
                <li class="divider"></li>
                <li><a href="{{ current_issue.github_url }}" target='_blank' class="view-on-github"><i class="fa fa-github fa-fw"> </i> View on Github</a></li>
            {% endif %}
        </ul>
    </nav>
    <article data-issue-id="{{ current_issue.pk }}" data-number="{{ current_issue.number|default_if_none:'' }}" data-repository="{{ current_issue.repository.full_name }}">
        <div class="area-top state-{{ current_issue.state }}">
            <header>
                <div class="btn btn-default repository-name">{{ current_issue.repository.full_name }}</div>
                <div class="avatar">
                    <img class="avatar-small img-circle" src="{{ current_issue.user.avatar_url|default:default_avatar }}" alt="{{ current_issue.user.username }}" title="Created by {{ current_issue.user.username }}">
                </div>
                <h3>
                    {% if current_issue.number %}<a href="{{ current_issue.github_url }}" target="_blank" title="View this issue on Github"><span class="text-{{ current_issue.state }}">#{{ current_issue.number }}</span> -{% endif %}
                    <span class="edit-place" data-field="title">
                        {{ current_issue.title }}
                    </span>
                    {% if current_issue.number %}</a>{% endif %}
                    {% if current_issue_edit_level %}<a href="{{ current_issue|edit_field_url:'title' }}" class="issue-edit-btn issue-edit-btn-title btn-loading" data-field="title" title="Edit the title"><i class="fa fa-edit"> </i><i class='fa fa-spinner fa-spin'> </i></a>{% endif %}
                </h3>
            </header>
            <section>
                <h5>Created by {{ current_issue.user.username }} on {{ current_issue.created_at|date:"DATETIME_FORMAT" }}</h5>
                {% if current_issue.number %}
                    {% if current_issue.state == 'closed' %}
                        <p class="state state-closed">Closed{% if current_issue.is_pull_request and current_issue.merged_at %}, and <strong>merged</strong>,{% endif %}{% if current_issue.closed_by %} by <img class="avatar-tiny img-circle" src="{{ current_issue.closed_by.avatar_url|default:default_avatar }}"> {{ current_issue.closed_by.username }}{% endif %} on {{ current_issue.closed_at|date:"DATETIME_FORMAT" }}{% if current_issues.updated_at > current_issue.closed_at %}, updated on {{ current_issue.updated_at|date:"DATETIME_FORMAT" }}{% endif %}</p>
                    {% else %}
                        {% if current_issue.updated_at and current_issue.created_at != current_issue.updated_at %}
                            <p class="state state-open">Updated on {{ current_issue.updated_at|date:"DATETIME_FORMAT" }}</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if current_issue.is_pull_request %}<i class="fa fa-code issue-pull-request" title="It's a pull-request"> </i>{% endif %}
                {% if current_issue.milestone or current_issue_edit_level == 'full' %}
                    <div class="issue-milestone{% if not current_issue.milestone %} no-milestone{% endif %} edit-place" data-field="milestone">
                        {% if current_issue.milestone %}
                            <i class="fa fa-tasks text-{{ current_issue.milestone.state }}" title="{{ current_issue.milestone.state|capfirst }} milestone{% if current_issue.milestone.state == 'open' and current_issue.milestone.due_on %}, due on {{ current_issue.milestone.due_on|date:'DATE_FORMAT' }} {% endif %}"> </i> Milestone: <strong>{{ current_issue.milestone.title|truncatechars:30 }}</strong>
                        {% else %}
                            <i class="fa fa-tasks"> </i> No milestone
                        {% endif %}
                        {% if current_issue_edit_level %}<a href="{{ current_issue|edit_field_url:'milestone' }}" class="issue-edit-btn issue-edit-btn-milestone btn-loading" data-field="milestone" title="Edit the milestone"><i class="fa fa-edit"> </i><i class='fa fa-spinner fa-spin'> </i></a>{% endif %}
                    </div>
                {% endif %}
                {% if current_issue.assignee or current_issue_edit_level == 'full' %}
                    <div class="issue-assignee{% if not current_issue.assignee %} no-assignee{% endif %} edit-place" data-field="assignee">
                        {% if current_issue.assignee %}
                            <i class="fa fa-hand-o-right"> </i>&nbsp;<img class="avatar-tiny img-circle" src="{{ current_issue.assignee.avatar_url|default:default_avatar }}" /> Assigned to <strong>{{ current_issue.assignee.username }}</strong>
                        {% else %}
                            <i class="fa fa-hand-o-right"> </i> No one assigned
                        {% endif %}
                        {% if current_issue_edit_level %}<a href="{{ current_issue|edit_field_url:'assignee' }}" class="issue-edit-btn issue-edit-btn-assignee btn-loading" data-field="assignee" title="Edit the assignee"><i class="fa fa-edit"> </i><i class='fa fa-spinner fa-spin'> </i></a>{% endif %}
                    </div>
                {% endif %}
            </section>
            <footer>
                {% with labels=current_issue.labels.ready %}
                    {% if labels|length or current_issue_edit_level == 'full' %}
                        <div class="issue-labels edit-place" data-field="labels">
                            <ul class="unstyled">
                                {% if labels|length %}
                                    {% for label in current_issue.labels.ready %}
                                        {% if label.label_type_id %}
                                            <li style="border-bottom-color: #{{ label.color }}"><strong>{{ label.label_type.name }}:</strong> {{ label.typed_name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for label in current_issue.labels.ready %}
                                        {% if not label.label_type_id %}
                                            <li style="border-bottom-color: #{{ label.color }}">{{ label.name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <li style="border: none">No labels</li>
                                {% endif %}
                            </ul>
                            {% if current_issue_edit_level %}<a href="{{ current_issue|edit_field_url:'labels' }}" class="issue-edit-btn issue-edit-btn-labels btn-loading" data-field="labels" title="Edit the labels"><i class="fa fa-edit"> </i><i class='fa fa-spinner fa-spin'> </i></a>{% endif %}
                        </div>
                    {% endif %}
                {% endwith %}
                {% if current_issue.total_comments_count or current_issue_involved|length > 1  %}
                    <div class="issue-footer-infos">
                        <div>
                                <a class="issue-footer-info-part issue-comments-count" title="{{ current_issue.total_comments_count }} comment{{ current_issue.total_comments_count|pluralize }}" href="#issue-activity-{{ current_issue.number }}">
                                    <i class="fa fa-comments-o"> </i> {{ current_issue.total_comments_count }}
                                </a>
                            {% if current_issue_involved|length > 1 %}
                                <div class="issue-footer-info-part">
                                    <ul class="unstyled issue-involved">
                                        {% for involved_user in current_issue_involved %}
                                            <li><img class="avatar-tiny img-circle" src="{{ involved_user.user.avatar_url|default:default_avatar }}" title="{{ involved_user.user.username }}{% if involved_user.types|length %} ({{ involved_user.types|join:", "}}){% endif %}{% if involved_user.comments %}, {{ involved_user.comments }} comment{{ involved_user.comments|pluralize }}{% endif %}{% if involved_user.commits %}, {{ involved_user.commits }} commit{{ involved_user.commits|pluralize }}{% endif %}"></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </footer>
        </div>
        {% if current_issue.is_pull_request or current_issue_edit_level %}
            <div class="content issue-big-infos">
                {% if current_issue.is_pull_request %}
                    {% if current_issue.pr_fetched_at %}
                        <ul class="unstyled">
                            <li class="label label-blue" title="{{ current_issue.nb_commits }} commit{{ current_issue.nb_commits|pluralize }}"><i class="fa fa-git-square"></i> {{ current_issue.nb_commits }}</li>
                            <li class="label label-green" title="{{ current_issue.nb_additions }} addition{{ current_issue.nb_additions|pluralize }}"><i class="fa fa-plus"></i> {{ current_issue.nb_additions }}</li>
                            <li class="label label-red" title="{{ current_issue.nb_deletions }} deletion{{ current_issue.nb_deletions|pluralize }}"><i class="fa fa-minus"></i> {{ current_issue.nb_deletions }}</li>
                            <li class="label label-black" title="{{ current_issue.nb_changed_files }} changed file{{ current_issue.nb_changed_files|pluralize }}"><i class="fa fa-file-o"></i> {{ current_issue.nb_changed_files }}</li>
                        </ul>
                    {% endif %}
                    <div>Pull request from <strong>{{ current_issue.head_label|default:current_issue.user.username }}</strong></div>
                    {% if current_issue.pr_fetched_at %}
                        <div class="pr-merge-status">
                            {% if current_issue.state == 'open' or not current_issue.merged %}
                                {# cannot reopen a merged-closed issue #}
                                {% include "front/repository/issues/include_issue_big_infos.html" %}
                            {% endif %}
                            {% if current_issue.state == 'open' %}
                                {% if current_issue.is_mergeable %}
                                    <div class="alert alert-success"><strong>Can be merged</strong></div>
                                {% else %}
                                    <div class="alert alert-error"><strong>Cannot be merged</strong>{% if current_issue.mergeable_state %} (reason: {{ current_issue.mergeable_state }}){% endif %}</div>
                                {% endif %}
                            {% else %}
                                {% if current_issue.merged %}
                                    <div class="alert alert-success">Merged</div>
                                {% else %}
                                    <div class="alert alert-error">Not merged</div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% elif current_issue_edit_level %}
                    {% include "front/repository/issues/include_issue_big_infos.html" %}
                {% endif %}
            </div>
        {% elif not current_issue.number %}
            <div class="content issue-big-infos">
                <p class="alert alert-warning">This issue is currently being pushed to github...</p>
            </div>
        {% endif %}
        {% if current_issue.is_pull_request %}
            <div class="pr-tabs">
                <a href='#' title="Show one tab one the left" class="arrow scroll-left"><span class="badge badge-gray">0</span><i class="fa fa-chevron-left"> </i></a>
                <ul class="nav nav-tabs">
                    <li class="pr-discussion-tab active"><a data-toggle="tab" href="#issue-{{ current_issue.number }}-discussion">Discussion <span class="badge badge-blue" title="{{ current_issue.comments_count }} comment{{ current_issue.comments_count|pluralize }}">{{ current_issue.comments_count }}</span> &amp; updates</a></li>
                    <li class="pr-commits-tab"><a data-toggle="tab" href="#issue-{{ current_issue.number }}-commits">Commits <span class="badge badge-blue">{{ current_issue.nb_commits }}</span></a></li>
                    <li class="files-tab pr-files-tab"><a data-toggle="tab" href="#issue-{{ current_issue.number }}-files">Files changed <span class="badge badge-blue">{{ current_issue.nb_changed_files }}</span></a></li>
                    <li class="pr-review-tab"><a data-toggle="tab" href="#issue-{{ current_issue.number }}-review">Review comments <span class="badge badge-blue">{{ current_issue.pr_comments_count }}</span></a></li>
                    <li class="closable files-tab commit-tab template" style="display: none"><a data-toggle="tab" href="#">Commit <strong></strong> <i class="fa fa-times" title="Close this tab"> </i></a></li>
                </ul>
                <a href='#' title="Show one tab one the right" class="arrow scroll-right"><span class="badge badge-gray">o</span><i class="fa fa-chevron-right"> </i></a>
            </div>
            <div class="tab-content">
                <div class="tab-pane active issue-discussion" data-tab="issue-discussion" id="issue-{{ current_issue.number }}-discussion">
        {% endif %}
            <div class="content issue-body{% if not current_issue.body %} empty{% endif %} edit-place" data-field="body">
                {% if current_issue.body %}{{ current_issue.html_content|safe }}{% else %}No description for this {{ current_issue.type }} !{% endif %}
                {% if current_issue_edit_level %}<a href="{{ current_issue|edit_field_url:'body' }}" class="issue-edit-btn issue-edit-btn-body btn-loading" data-field="body" title="Edit the body"><i class="fa fa-edit"> </i><i class='fa fa-spinner fa-spin'> </i></a>{% endif %}
            </div>
            {% if current_issue.number %}
            <aside>
                <ul class="unstyled chat-box timeline issue-activity" id="issue-activity-{{ current_issue.number }}">
                    {% for event in current_issue_activity %}
                        {% if event.event %}{# IssueEvent #}
                            {% if event.event == 'closed' %}
                                {% include "front/repository/issues/activity/include_closed_comment.html" with comment=event %}
                            {% elif event.event == 'merged' %}
                                {% include "front/repository/issues/activity/include_merged_comment.html" with comment=event %}
                            {% elif event.event == 'reopened' %}
                                {% include "front/repository/issues/activity/include_reopened_comment.html" with comment=event %}
                            {% comment %}
                            {% elif event.event == 'assigned' %}
                                {% include "front/repository/issues/activity/include_assigned_comment.html" with comment=event %}
                            {% endcomment %}
                            {% elif event.event == 'head_ref_deleted' %}
                                {% include "front/repository/issues/activity/include_head_ref_deleted_comment.html" with comment=event %}
                            {% elif event.event == 'head_ref_restored' %}
                                {% include "front/repository/issues/activity/include_head_ref_restored_comment.html" with comment=event %}
                            {% elif event.event == 'referenced' and event.commit_sha %}
                                {% include "front/repository/issues/activity/include_referenced_in_commit_comment.html" with comment=event %}
                            {% elif event.event == 'referenced_by_issue' %}
                                {% include "front/repository/issues/activity/include_referenced_by_issue_comment.html" with comment=event %}
                            {% elif event.event == 'referenced_by_issuecomment' %}
                                {% include "front/repository/issues/activity/include_referenced_by_issuecomment_comment.html" with comment=event %}
                            {% elif event.event == 'referenced_by_pullrequestcomment' %}
                                {% include "front/repository/issues/activity/include_referenced_by_pullrequestcomment_comment.html" with comment=event %}
                            {% elif event.event == 'referenced_by_milestone' %}
                                {% include "front/repository/issues/activity/include_referenced_by_milestone_comment.html" with comment=event %}
                            {% endif %}
                        {% elif event.is_commits_group %}{# GroupedCommits #}
                            {% include "front/repository/issues/commits/include_commits_groups.html" with groups=event|tolist id_prefix="pr-disc-" with_ago=True repository_source=current_issue.repository collapsed=True with_icon=True %}
                        {% elif event.is_pr_comments_group %}{# GroupedPullRequestComments #}
                            {% include "front/repository/issues/activity/include_pr_comments_group.html" with group=event with_ago=True %}
                        {% elif event.is_commit_comments_group %}{# GroupedCommitComments #}
                            {% include "front/repository/issues/activity/include_commit_comments_group.html" with group=event with_ago=True %}
                        {% elif event.get_parts %}{# Event #}
                            {% include "front/repository/issues/activity/include_change_event.html" %}
                        {% else %}{# IssueComment #}
                            {% include "front/repository/issues/comments/include_issue_comment.html" with comment=event include_create_form=False %}
                        {% endif %}
                    {% endfor %}
                    {% include "front/repository/issues/comments/include_issue_comment_create.html" with use_current_user=True %}
                </ul>
            </aside>
            {% endif %}
        {% if current_issue.is_pull_request %}
            </div>
            <div class="tab-pane issue-commits" data-tab="issue-commits" id="issue-{{ current_issue.number }}-commits" data-url="{{ current_issue.ajax_commits_url }}">
                {% if current_issue.nb_commits > 10 %}
                    <div class="content empty">
                        Loading commits...
                    </div>
                    <p class="empty-area"><i class="fa fa-spinner fa-spin"> </i></p>
                {% else %}
                    {% include "front/repository/issues/commits/include_issue_commits.html" %}
                {% endif %}
            </div>
            <div class="tab-pane issue-files code-files" data-tab="issue-files" id="issue-{{ current_issue.number }}-files" data-url="{{ current_issue.ajax_files_url }}">
                {% if current_issue.nb_additions|add:current_issue.nb_deletions > 300 or current_issue.nb_changed_files > 10 %}
                    <div class="content empty">
                        Loading {% if current_issue.nb_additions|add:current_issue.nb_deletions > 500 or current_issue.nb_changed_files > 20 %} big{% endif %}diff...
                    </div>
                    <p class="empty-area"><i class="fa fa-spinner fa-spin"> </i></p>
                {% else %}
                    {% include "front/repository/issues/code/include_issue_files.html" %}
                {% endif %}
            </div>
            <div class="tab-pane issue-review" data-tab="issue-review" id="issue-{{ current_issue.number }}-review" data-url="{{ current_issue.ajax_review_url }}">
                {% if current_issue.pr_comments_entry_points.count > 10 %}
                    <div class="content empty">
                        Loading review comments...
                    </div>
                    <p class="empty-area"><i class="fa fa-spinner fa-spin"> </i></p>
                {% else %}
                    {% include "front/repository/issues/comments/include_pr_review.html" %}
                {% endif %}
            </div>
            <div class="box-section code-diff template" style="display: none"></div>
            <div class="box-section code-comments collapse in template" style="display: none"><ul class="unstyled chat-box timeline"></ul></div>
            <div class="tab-pane commit-files code-files template" style="display: none">
                <div class="content empty">
                    Loading diff...
                </div>
                <p class="empty-area"><i class="fa fa-spinner fa-spin"> </i></p>
            </div>
        </div>
        {% endif %}
    </article>
{% else %}
    <p class="empty-area">{% if current_issue_state == 'notfound' %}404 :({% else %}...{% endif %}</p>
{% endif %}
{% endspaceless_except_pre %}