<div class="row-fluid label-type" id="label-type-{{ label_type.id|default:'none' }}">
    <div class="box span12">

        <div class="box-header">
            <span class="title">
                {% if label_type %}
                    Group: {{ label_type.name }}
                    {% if view.request.is_ajax %}
                        {% if view.request.GET.group_just_edited|add:0 == label_type.id %}
                            <span class="label label-success">Just edited !</span>
                        {% elif view.request.GET.group_just_created|add:0 == label_type.id %}
                            <span class="label label-success">Just created !</span>
                        {% endif %}
                    {% endif %}
                {% else %}
                    Others
                {% endif %}
            </span>
            <ul class="box-toolbar">
                <li class="btn-edit-label-type">
                    {% if label_type %}
                        <a class="btn btn-blue btn-loading" href="{{ label_type.get_edit_url }}">Edit <i class='fa fa-spinner fa-spin'> </i></a>
                    {% else %}
                        <a class="btn btn-blue btn-loading" href="{{ label_type_create_url }}">Add a group <i class='fa fa-spinner fa-spin'> </i></a>
                    {% endif %}
                </li>
            </ul>
        </div>{# .box-header #}

        <div class="box-content">

        {% if labels or not label_type %}
            <ul class="unstyled labels">
                {% for label in labels %}
                    <li style="border-bottom-color: #{{ label.color }}" title='Edit "{{ label.name }}"'{% if view.request.is_ajax %}{% if view.request.GET.label_just_edited|add:0 == label.id %} data-toggle="tooltip" data-title="Just edited, will be saved shortly" data-trigger="manual" data-tooltip-class="success" {% elif view.request.GET.label_just_created == label.name %} data-toggle="tooltip" data-title="Just created, will be saved shortly" data-trigger="manual" data-tooltip-class="success" {% endif %}{% endif %}>
                        <a href="" data-color='{{ label.color }}' data-name='{{ label.name }}' data-id='{{ label.id }}'>{% if label.label_type_id %}{{ label.typed_name }}{% else %}{{ label.name }}{% endif %}</a>
                    </li>
                {% endfor %}
                {% if not label_type %}
                    <li class="new-label" title="Add a new label"><a class="btn btn-blue" href="" data-color="ff0000" data-name="" >Add a new label</a></li>
                {% endif %}
            </ul>
        {% else %}
            <p class="empty-area">
                {% if label_type %}
                    No labels for this group
                {% else %}
                    No labels with no group
                {% endif %}
            </p>
        {% endif %}

        </div>{# .box-content #}

    </div>{# .box #}
</div>{# .row-fluid #}
