<div class="row-fluid label-type" id="label-type-{{ label_type.id|default:'none' }}">
    <div class="box span12">

        <div class="box-header">
            <span class="title">
                {% if label_type %}
                    {{ label_type.name }}
                    {% if view.request.is_ajax %}
                        {% if view.request.GET.just_edited|add:0 == label_type.id %}
                            <span class="label label-success">Just edited !</span>
                        {% elif view.request.GET.just_created|add:0 == label_type.id %}
                            <span class="label label-success">Just created !</span>
                        {% endif %}
                    {% endif %}
                {% else %}
                    Others
                {% endif %}
            </span>
            <ul class="box-toolbar">
                <li class="btn-edit-label-type">
                {% if label_type %}
                    <a class="btn btn-blue btn-loading" href="{{ label_type.get_edit_url }}">Edit <i class='icon-spinner icon-spin'> </i></a>
                {% else %}
                    <a class="btn btn-blue btn-loading" href="{{ label_type_create_url }}">Add a group <i class='icon-spinner icon-spin'> </i></a>
                {% endif %}
                </li>
            </ul>
        </div>{# .box-header #}

        <div class="box-content">

        {% if labels %}
            <ul class="unstyled labels">
                {% for label in labels %}
                    <li style="border-bottom-color: #{{ label.color }}" title="{{ label.name }}">
                        {{ label.typed_name }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="empty-area">
                {% if label_type %}
                    No labels for this group
                {% else %}
                    No labels with no group
                {% endif %}
            </p>
        {% endif %}

        </div>{# .box-content #}

    </div>{# .box #}
</div>{# .row-fluid #}
