{% if error %}
    <div class="alert alert-error">
        There is a problem with your configuration
    </div>

    {% if form.non_field_errors %}
        <p>{{ form.non_field_errors }}    </p>
    {% endif %}

    {% for field in form %}
        {% if field.errors %}
            <label>{{ field.label }}:</label>
            {{ field.errors }}
        {% endif %}
    {% endfor %}
    
{% else %}
    {% if matching_labels %}
        <ul class="unstyled labels">
            {% for label in matching_labels %}
                <li title="{{ label.name }}" style="border-bottom-color: #{{ label.color }};">{{ label.typed_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert">
            No matching labels !
        </div>
    {% endif %}
{% endif %}