table.diff tbody {
    tr:not(.diff-comments) {
        white-space: pre;
        background: white;
        font-family: $monoFontFamily;
        color: #333;
        border: none;
        &.comment{
            background: #F8F8FF;
            color: #999;
            td.line-number {
                background-color: #F3F3FF;
                border-color: #E4E4FF;
                text-align: center;
            }
        }
        &.added {
            background: #DDFFDD;
            td.line-number {
                background-color: #CEFFCE;
                border-color: #B4E2B4;
            }
            .highlight {
                background-color: #AAFFAA;
                color: #000;
            }
        }
        &.removed {
            background: #FFDDDD;
            td {
                background-color: #F7C8C8;
                border-color: #E9AEAE;
            }
            .highlight {
                background-color: #FFAAAA;
                color: #000;
            }
        }
        td {
            border: none;
            line-height: 20px;
            min-height: 20px;
            padding: 1px 5px;
            background: transparent;
            &.line-number {
                width: 8px;  // size of the "..." cells
                text-align: right;
                color: rgba(0, 0, 0, 0.3);
                border-right: {
                    style: solid;
                    width: 1px;
                }
                > span {
                    display: none;
                }
                &:before {
                    content: attr(data-line-number);
                }
            }
            &.code {
                vertical-align: baseline;
                .btn-comment {
                    position: absolute;
                    left: 0;
                    padding: 1px;
                    cursor: pointer;
                    display: none;
                }
            }
        } // td
        &:hover {
            background: $table-row-hover-background-color !important;
            td {
                background: transparent !important;
                &.code .btn-comment {
                    display: inline-block;
                }
            }
        }
    } // tr
}
