{% extends "front/repository/base.html" %}
{% load staticfiles %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static "front/css/pages/repository/dashboard.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block body_id %}repository_dashboard{% endblock %}

{% block main %}
    <div class="row-fluid row-header">
        <div class="span12">
            <div class="area-top">
                <div class="header">
                    <h3>
                        <i class="icon-dashboard"> </i>
                        {{ current_repository }}
                        <a href="{{ current_repository.github_url }}" title="View on github" target='_blank'><i class="icon-external-link"> </i></a>
                    </h3>
                    {% block dashboard-subtitle %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block dashboard-content %}{% endblock %}

{% endblock main %}
