{% load repository_tags issues_tags staticfiles %}
{% static 'front/img/default-avatar.png' as default_avatar %}
<div class="deferrable action-nav-normal" id="counters" data-url="{{ defer_url }}">
    {% with assigned_url=current_repository|base_url_issues_filtered_by_assigned:user createdy_url=current_repository|base_url_issues_filtered_by_created_by:user issues_url=current_repository|repository_view_url:'issues' %}

        <div class="row-fluid">

            {% if counters.assigned or counters.assigned == 0 %}
                <div class="span4">
                    <div class="action-nav-button">
                        <a href="{{ assigned_url }}?state=open" title="Assigned to you">
                            <i class="icon-file-alt"></i>
                            <span>Open assigned to you</span>
                        </a>
                        {% with count=counters.assigned %}
                            <span class="label label-{% if count > 10 %}important{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}">{{ count }}</span>
                        {% endwith %}
                        <span class="label left"><img class="avatar-tiny img-circle" src="{{ user.avatar_url|default:default_avatar }}" /></span>
                    </div>
                </div>
            {% endif %}

            <div class="span4{% if not counters.assigned and counters.assigned != 0 %} offset2{% endif %}">
                <div class="action-nav-button">
                    <a href="{{ createdy_url }}?state=open" title="Created by you">
                        <i class="icon-file-alt"></i>
                        <span>Open created by you</span>
                    </a>
                    {% with count=counters.created %}
                        <span class="label label-{% if count > 10 %}important{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}">{{ count }}</span>
                    {% endwith %}
                    <span class="label left"><img class="avatar-tiny img-circle" src="{{ user.avatar_url|default:default_avatar }}" /></span>
                </div>
            </div>

            <div class="span4">
                <div class="action-nav-button">
                    <a href="{{ createdy_url }}?state=open&amp;pr=yes" title="Your pull requests">
                        <i class="icon-upload-alt"></i>
                        <span>Your open pull requests</span>
                    </a>
                    {% with count=counters.prs %}
                        <span class="label label-{% if count > 10 %}important{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}">{{ count }}</span>
                    {% endwith %}
                    <span class="label left"><img class="avatar-tiny img-circle" src="{{ user.avatar_url|default:default_avatar }}" /></span>
                </div>
            </div>

        </div>{# .row-fluid #}

        <div class="row-fluid">

            <div class="span4">
                <div class="action-nav-button">
                    <a href="{{ issues_url }}?state=open" title="All open issues">
                        <i class="icon-file-alt"></i>
                        <span>All open</span>
                    </a>
                    {% with count=counters.all %}
                        <span class="label label-{% if count > 10 %}important{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}">{{ count }}</span>
                    {% endwith %}
                    <span class="label left"><i class="icon-group"></i></span>
                </div>
            </div>

            <div class="span4">
                <div class="action-nav-button">
                    <a href="{{ current_repository|base_url_issues_filtered_by_assigned:'none' }}?state=open" title="All open and not assigned issues">
                        <i class="icon-file-alt"></i>
                        <span>All open not assigned</span>
                    </a>
                    {% with count=counters.all_na %}
                        <span class="label label-{% if count > 10 %}important{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}">{{ count }}</span>
                    {% endwith %}
                    <span class="label left"><i class="icon-group"></i></span>
                </div>
            </div>

            <div class="span4">
                <div class="action-nav-button">
                    <a href="{{ issues_url }}?state=open&amp;pr=yes" title="All open pull requests">
                        <i class="icon-upload-alt"></i>
                        <span>All open pull requests</span>
                    </a>
                    {% with count=counters.all_prs %}
                        <span class="label label-{% if count > 10 %}important{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}">{{ count }}</span>
                    {% endwith %}
                    <span class="label left"><i class="icon-group"></i></span>
                </div>
            </div>

        </div>{# .row-fluid #}

    {% endwith %}
</div>{# .box#counters #}
