{% extends "front/repository/base.html" %}

{% block main %}

<nav id="issues-nav" class="span2">

<nav id="issues-nav">
</nav>

<section id="issues-list" class="span4">
    {% if issues %}
        <ul>
            {% for issue in issues %}
                <li>{{ issue }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No matching issues...</p>
    {% endif %}
</section>

<section id="issue" class="span6">
    <article>
        {{ current_issue }}
    </article>
    {% if current_issue.comments_count %}
        <aside>
            <ul>
                {% for comment in current_issue.comments.all %}
                    <li>{{ comment.body }}</li>
                {% endfor %}
            </ul>
        </aside>
    {% endif %}
</section>

{% endblock main %}
