{% extends "front/repository/base.html" %}

{% block main %}

<nav id="issues-nav" class="span2">

    Assignees:
    <ul>
        {% for collaborator in current_repository.collaborators.all %}
            <li>{{ collaborator }}</li>
        {% endfor %}
    </ul>

    <hr />

    {% for label_type in current_repository.label_types.all %}
        {{ label_type.name }}:
        <ul>
            {% for label in label_type.labels.all %}
                <li>{{ label.typed_name }}</li>
            {% endfor %}
        </ul>

        <hr />
    {% endfor %}

    {% with untyped_labels=current_repository.untyped_labels.all %}
        {% if untyped_labels|length %}
            Labels:
            <ul>
                {% for label in untyped_labels %}
                    <li>{{ label.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</nav>

<section id="issues-list" class="span4">
    {% if issues %}
        <ul>
            {% for issue in issues %}
                <li><a href="{{ issue.get_absolute_url }}">{{ issue }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No matching issues...</p>
    {% endif %}
</section>

<section id="issue" class="span6">
    <article>
        {% if current_issue %}
            {{ current_issue }}
        {% else %}
            <p>{% if current_issue_state == 'notfound' %}Issue not found{% else %}Select an issue{% endif %}</p>
        {% endif %}
    </article>
    {% if current_issue %}
        <aside>
            <ul>
                {% for comment in current_issue.comments.all %}
                    <li>{{ comment.body }}</li>
                {% endfor %}
            </ul>
        </aside>
    {% endif %}
</section>

{% endblock main %}
