{% if current_issue %}
    <article>
        <h3>#{{ current_issue.number }} - {{ current_issue.title }}</h3>
        <div class="well">
            {{ current_issue.body|safe }}
        </div>
    </article>
    <aside>
        <h4>Comments</h4>
        <ul>
            {% for comment in current_issue.comments.all %}
                <li>{{ comment.body }}</li>
            {% endfor %}
        </ul>
    </aside>
{% else %}
    <p class="empty-column">{% if current_issue_state == 'notfound' %}404 :({% else %}...{% endif %}</p>
{% endif %}
