/*
Version: @@ver@@ Timestamp: @@timestamp@@
*/
/* line 5, ../../../sass/_select2.orig.scss */
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}

/* line 26, ../../../sass/_select2.orig.scss */
.select2-drop {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}

/* line 40, ../../../sass/_select2.orig.scss */
.select2-search {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}
/* line 52, ../../../sass/_select2.orig.scss */
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}

/* line 68, ../../../sass/_select2.orig.scss */
.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 50%);
  background-image: -ms-linear-gradient(top, white 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(top, white 0%, #eeeeee 50%);
}
/* line 99, ../../../sass/_select2.orig.scss */
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.9, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 90%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 90%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 90%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, white 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(top, #eeeeee 0%, white 90%);
}
/* line 112, ../../../sass/_select2.orig.scss */
.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}
/* line 116, ../../../sass/_select2.orig.scss */
.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 125, ../../../sass/_select2.orig.scss */
.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url('/static/front/css/images/select2.png?1412039761') right top no-repeat;
  cursor: pointer;
  outline: 0;
}
/* line 140, ../../../sass/_select2.orig.scss */
.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}
/* line 143, ../../../sass/_select2.orig.scss */
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

/* line 149, ../../../sass/_select2.orig.scss */
.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}

/* line 167, ../../../sass/_select2.orig.scss */
.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
/* line 183, ../../../sass/_select2.orig.scss */
.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

/* line 196, ../../../sass/_select2.orig.scss */
.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none;
}

/* line 201, ../../../sass/_select2.orig.scss */
.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb;
}

/* line 205, ../../../sass/_select2.orig.scss */
.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}
/* line 208, ../../../sass/_select2.orig.scss */
.select2-drop-auto-width .select2-search {
  padding-top: 4px;
}

/* line 213, ../../../sass/_select2.orig.scss */
.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(0.6, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -o-linear-gradient(bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
  background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
}
/* line 235, ../../../sass/_select2.orig.scss */
.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('/static/front/css/images/select2.png?1412039761') no-repeat 0 1px;
}

/* line 243, ../../../sass/_select2.orig.scss */
.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}
/* line 253, ../../../sass/_select2.orig.scss */
.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: white url('/static/front/css/images/select2.png?1412039761') no-repeat 100% -22px;
  background: url('/static/front/css/images/select2.png?1412039761') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('/static/front/css/images/select2.png?1412039761') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/static/front/css/images/select2.png?1412039761') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/static/front/css/images/select2.png?1412039761') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('/static/front/css/images/select2.png?1412039761') no-repeat 100% -22px, -ms-linear-gradient(top, white 85%, #eeeeee 99%);
  background: url('/static/front/css/images/select2.png?1412039761') no-repeat 100% -22px, linear-gradient(top, white 85%, #eeeeee 99%);
}

/* line 279, ../../../sass/_select2.orig.scss */
.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px;
}

/* line 283, ../../../sass/_select2.orig.scss */
.select2-search input.select2-active {
  background: white url('/static/front/css/images/select2-spinner.gif?1412039761') no-repeat 100%;
  background: url('/static/front/css/images/select2-spinner.gif?1412039761') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('/static/front/css/images/select2-spinner.gif?1412039761') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/static/front/css/images/select2-spinner.gif?1412039761') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/static/front/css/images/select2-spinner.gif?1412039761') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('/static/front/css/images/select2-spinner.gif?1412039761') no-repeat 100%, -ms-linear-gradient(top, white 85%, #eeeeee 99%);
  background: url('/static/front/css/images/select2-spinner.gif?1412039761') no-repeat 100%, linear-gradient(top, white 85%, #eeeeee 99%);
}

/* line 294, ../../../sass/_select2.orig.scss */
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 304, ../../../sass/_select2.orig.scss */
.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, white 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(top, white 0%, #eeeeee 50%);
}
/* line 325, ../../../sass/_select2.orig.scss */
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center top, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(bottom, white 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(bottom, white 0%, #eeeeee 50%);
}
/* line 337, ../../../sass/_select2.orig.scss */
.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}
/* line 341, ../../../sass/_select2.orig.scss */
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}

/* results */
/* line 349, ../../../sass/_select2.orig.scss */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
}
/* line 357, ../../../sass/_select2.orig.scss */
.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}
/* line 360, ../../../sass/_select2.orig.scss */
.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px;
}
/* line 364, ../../../sass/_select2.orig.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px;
}
/* line 368, ../../../sass/_select2.orig.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px;
}
/* line 372, ../../../sass/_select2.orig.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px;
}
/* line 376, ../../../sass/_select2.orig.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px;
}
/* line 380, ../../../sass/_select2.orig.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px;
}
/* line 383, ../../../sass/_select2.orig.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px;
}
/* line 392, ../../../sass/_select2.orig.scss */
.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}
/* line 396, ../../../sass/_select2.orig.scss */
.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}
/* line 400, ../../../sass/_select2.orig.scss */
.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 412, ../../../sass/_select2.orig.scss */
.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}
/* line 416, ../../../sass/_select2.orig.scss */
.select2-results li em {
  background: #feffde;
  font-style: normal;
}
/* line 421, ../../../sass/_select2.orig.scss */
.select2-results .select2-highlighted em {
  background: transparent;
}
/* line 424, ../../../sass/_select2.orig.scss */
.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}
/* line 429, ../../../sass/_select2.orig.scss */
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
}
/* line 433, ../../../sass/_select2.orig.scss */
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
/* line 434, ../../../sass/_select2.orig.scss */
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
/* line 444, ../../../sass/_select2.orig.scss */
.select2-results .select2-selected {
  display: none;
}

/*
disabled look for disabled choices in the results dropdown
*/
/* line 453, ../../../sass/_select2.orig.scss */
.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}
/* line 454, ../../../sass/_select2.orig.scss */
.select2-more-results.select2-active {
  background: #f4f4f4 url('/static/front/css/images/select2-spinner.gif?1412039761') no-repeat 100%;
}

/* disabled styles */
/* line 463, ../../../sass/_select2.orig.scss */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
/* line 468, ../../../sass/_select2.orig.scss */
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}
/* line 473, ../../../sass/_select2.orig.scss */
.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */
/* line 480, ../../../sass/_select2.orig.scss */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(top, #eeeeee 1%, white 15%);
}

/* line 498, ../../../sass/_select2.orig.scss */
.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

/* line 503, ../../../sass/_select2.orig.scss */
.select2-container-multi .select2-choices {
  min-height: 26px;
}
/* line 506, ../../../sass/_select2.orig.scss */
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* line 513, ../../../sass/_select2.orig.scss */
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

/* line 519, ../../../sass/_select2.orig.scss */
html[dir="rtl"] .select2-container-multi .select2-choices li {
  float: right;
}

/* line 523, ../../../sass/_select2.orig.scss */
.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 527, ../../../sass/_select2.orig.scss */
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}
/* line 539, ../../../sass/_select2.orig.scss */
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: white url('/static/front/css/images/select2-spinner.gif?1412039761') no-repeat 100% !important;
}

/* line 545, ../../../sass/_select2.orig.scss */
.select2-default {
  color: #999 !important;
}

/* line 549, ../../../sass/_select2.orig.scss */
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
}

/* line 582, ../../../sass/_select2.orig.scss */
html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
  margin-left: 0;
  margin-right: 5px;
}

/* line 588, ../../../sass/_select2.orig.scss */
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}
/* line 591, ../../../sass/_select2.orig.scss */
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

/* line 596, ../../../sass/_select2.orig.scss */
.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
  background: url('/static/front/css/images/select2.png?1412039761') right top no-repeat;
}

/* line 608, ../../../sass/_select2.orig.scss */
html[dir="rtl"] .select2-search-choice-close {
  right: auto;
  left: 3px;
}

/* line 614, ../../../sass/_select2.orig.scss */
.select2-container-multi .select2-search-choice-close {
  left: 3px;
}
/* line 618, ../../../sass/_select2.orig.scss */
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover, .select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}
/* line 622, ../../../sass/_select2.orig.scss */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
/* line 627, ../../../sass/_select2.orig.scss */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}
/* line 632, ../../../sass/_select2.orig.scss */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}

/* disabled styles */
/* end multiselect */
/* line 644, ../../../sass/_select2.orig.scss */
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
  text-decoration: underline;
}

/* line 648, ../../../sass/_select2.orig.scss */
.select2-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0 !important;
  top: 0 !important;
}
/* line 660, ../../../sass/_select2.orig.scss */
.select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0 !important;
  top: 0 !important;
}

/* line 675, ../../../sass/_select2.orig.scss */
.select2-display-none {
  display: none;
}

/* line 679, ../../../sass/_select2.orig.scss */
.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* line 691, ../../../sass/_select2.orig.scss */
  .select2-search input, .select2-search-choice-close {
    background-image: url('/static/front/css/images/select2x2.png?1412039761') !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }

  /* line 697, ../../../sass/_select2.orig.scss */
  .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
    background-image: url('/static/front/css/images/select2x2.png?1412039761') !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }

  /* line 703, ../../../sass/_select2.orig.scss */
  .select2-search input {
    background-position: 100% -21px !important;
  }
}
/* line 10, ../../../sass/select.2.scss */
.select2-container {
  width: 100% !important;
}
/* line 13, ../../../sass/select.2.scss */
.select2-container .select2-choice {
  border: 1px solid #ccc;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #f5f5f5;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
}
/* line 19, ../../../sass/select.2.scss */
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #d2d2d2;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0;
  border-radius: 0 0 0px 0px;
  background: #f5f5f5;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
}

/* line 26, ../../../sass/select.2.scss */
.select2-default {
  color: #666 !important;
}

/* line 31, ../../../sass/select.2.scss */
.select2-results .select2-highlighted {
  background: #519FC7;
}

/* line 36, ../../../sass/select.2.scss */
.select2-drop {
  border: 1px solid #d2d2d2;
  border-top: 0;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0;
  border-radius: 0 0 0px 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 41, ../../../sass/select.2.scss */
.select2-drop.select2-drop-above {
  border-top: 1px solid #d2d2d2;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px 0px 0 0;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 0 0;
}

/* line 48, ../../../sass/select.2.scss */
.select2-container .select2-choice {
  color: #666;
  height: 28px;
}

/* line 53, ../../../sass/select.2.scss */
.select2-container .select2-choice .select2-arrow {
  border-left: 1px solid transparent;
  -moz-border-radius: 0 0px 0px 0;
  -webkit-border-radius: 0;
  border-radius: 0 0px 0px 0;
  background: transparent;
  width: 20px;
}

/* line 60, ../../../sass/select.2.scss */
.select2-search input {
  border: 1px solid #ccc;
  background: #fff;
}

/* line 66, ../../../sass/select.2.scss */
.select2-search input.select2-active {
  background: #fff url('/static/front/css/images/loading.gif?1412039761') no-repeat 100%;
}

/* line 71, ../../../sass/select.2.scss */
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  border: 1px solid #bbb;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 77, ../../../sass/select.2.scss */
.select2-dropdown-open .select2-choice {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
}

/* line 84, ../../../sass/select.2.scss */
.select2-container-multi .select2-choices {
  background: #fff;
  border: 1px solid #d2d2d2;
}

/* line 90, ../../../sass/select.2.scss */
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #d2d2d2;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 97, ../../../sass/select.2.scss */
.select2-container-multi .select2-choices .select2-search-choice {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f2f2f2;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #f2f2f2));
  background-image: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f2f2f2);
  background-image: linear-gradient(to bottom, #fcfcfc, #f2f2f2);
  border: 1px solid #d2d2d2;
}
