{% load staticfiles %}<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} | Github Issues Manager</title>
    <meta name="description" content="Github Issues Manager">
    <meta name="author" content='Stéphane "Twidi" Angel'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "front/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "front/css/main.css" %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_classes %}{% endblock %}"{% block body_attributes %}{% endblock %}>
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/" title="Github Issues Manager">G.I.M</a>
                {% block header_nav %}{% endblock header_nav %}
                <ul class="nav full pull-right">
                    {% if user and user.is_authenticated %}
                        <li class="dropdown user_avatar">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <span>
                                    <img src="{{ user.avatar_url }}" class="img-rounded menu-avatar avatar" />
                                    <span>
                                        {{ user.username }}
                                    </span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "front:dashboard:home" %}"><i class="icon-dashboard"> </i> Your dashboard</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url "front:auth:logout" %}"><i class="icon-signout"> </i> Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url "front:auth:login" %}"><i class="icon-github"> </i> Login with Github</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>

    {% include "front/messages.html" %}

    {% block modal-windows %}{% endblock %}
    <main id="main" class="container-fluid">
        {% block main %}{% endblock main %}
    </main>
    <script src="{% static "front/js/jquery-2.0.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "front/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/jwerty.min.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/jquery.quicksearch.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/arg.js.v1.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/front.js" %}" type="text/javascript"></script>
    {% block js_footer %}{% endblock js_footer %}
</body>
</html>
