{% extends "front/one_field_form.html" %}
{% block buttons %}
    <div class="row-fluid auto-align edit-buttons">
        <div class="span6">
            <button type="submit" class="btn btn-blue btn-loading btn-save" title="Save">{% block save_btn %}Save{% endblock save_btn %}<i class='fa fa-spinner fa-spin'> </i></button>
        </div>
        <div class="span6">
            <button type="button" class="btn btn-default btn-loading btn-cancel" title="Cancel">{% block cancel_btn %}Cancel{% endblock cancel_btn %}<i class='fa fa-spinner fa-spin'> </i></button>
        </div>
    </div>
{% endblock buttons %}
