<form method="post" action="{{ form_action }}" class="one-field-form {{ form_classes }}" data-field="{{ form.fields.0.name }}">
    {% csrf_token %}
    {% for field in form %}
        {% if forloop.first %}
            <div class="edit-field edit-field-{{ field.name }}">{{ field }}</div>
        {% endif %}
    {% endfor %}
    <div class="edit-buttons">{% spaceless %}
        <button type="submit" class="btn btn-blue btn-loading btn-save" title="Save">{% block save_btn %}<i class="icon-ok"> </i>{% endblock save_btn %}<i class='icon-spinner icon-spin'> </i></button>
        <button type="button" class="btn btn-default btn-loading btn-cancel" title="Cancel">{% block cancel_btn %}<i class="icon-remove"> </i>{% endblock cancel_btn %}<i class='icon-spinner icon-spin'> </i></button>
    {% endspaceless %}</div>
</form>