$widgets_base: "internal";

@import "widgets/box";
@import "widgets/news";
@import "widgets/chatbox";
@import "widgets/primary_sidebar";
@import "widgets/areatop";
@import "widgets/navbutton";
@import "widgets/quicksearch";

table > thead > tr > td {
    background: #eee;
    font-weight: bold;
}
