$content-background-color: white;
$content-text-color: #333;

$secondary-background-color: #fafafa;

$light-text-color: #bbb;

$box-border-color: #d4d4d4;
$box-background-color: #f5f5f5;
$box-text-color: #666;
$box-light-text-color: #999;
