/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/box-sizing";
@import "font-awesome.css";
@import "bootstrap-correct";
@import "variables";
@import "widgets/avatar";
@import "core-admin-widgets";

body {
    font-size: 13px;
    & > header {
        // no margin below the header to let content snap to it
        margin-bottom: 0;
        // leave room on each side
        .navbar-inner {
            padding: 0 20px !important;
        }
        .user_avatar {
            .caret {
                vertical-align: middle;
                margin-top: -3px !important;
            }
        }
    }
}

// leave room at the top for the fixed sidebar
#main {
    padding-top: $header-top;
}

// leave a margin arround main rows
#main > .row-fluid {
    @include box-sizing(border-box);
    padding: 0 22px;
}
// but not for header ones
#main > .row-fluid.row-header {
    padding: 0;
    margin-bottom: 15px;

}

// message are positionned on the top right corner
#messages {
    position: fixed;
    top: $header-top + 20px;
    right: 16px;
    z-index: 50;
}

// big empty area with big text light colored
.empty-area {
    color: $light-text-color;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    line-height: 2em;
    margin-top: -1em;
}
.box-content {
    .empty-area {
        position: static;
        font-size: 150%;
        margin: 0;

    }
}

// style for readble blocks
.content {
    color: $content-text-color;
    br { // leave some space around BRs
        margin: 3px 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

// form errors
ol, ul {
    &.errorlist {
        list-style: none;
        margin: 0;
        color: #DD1144;
        font-style: italic;
    }
}

// "auto-align" class to align content in the column:
// - left for the first column
// - right for the last one
// - center for the other
.row-fluid.auto-align > [class*="span"] {
    text-align: center;
    &:first-child {
        text-align: left;
    }
    &:last-child {
        text-align: right;
    }
}
