{% extends "front/dashboard/base.html" %}
{% load staticfiles frontutils repository_tags issues_tags %}

{% block body_id %}dashboard_home{% endblock %}
{% block extra_css %}
    <link href="{% static "front/css/pages/dashboard/dashboard-home.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block dashboard-header %}
    <div class="header">
        <h3><i class="icon-dashboard"> </i> Your dashboard</h3>
    </div>
{% endblock dashboard-header %}

{% block dashboard-main %}
    <div class="row-fluid">
        <div class="span6">
            <div class="box" id="subscribed_repositories">
                <div class="box-header">
                    <span class="title">Open issues for your subscribed repositories</span>
                    {% if subscribed_repositories|length %}
                        <ul class="unstyled box-toolbar">
                            <li>
                                {% include "front/include_quicksearch.html" with target="#subscribed_repositories tbody tr" content="td:first-child" class="small" only %}
                            </li>
                        </ul>
                    {% endif %}
                </div>{# .box-header #}
                <div class="box-content">
                    {% if subscribed_repositories|length %}
                        <table class="table table-normal">
                            <thead>
                                <tr>
                                    <td>Repository</td>
                                    <td>Mode</td>
                                    <td>Assigned</td>
                                    <td>Created</td>
                                    <td>PRs</td>
                                    <td>All PRs</td>
                                    <td>All open</td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="total">
                                    <td colspan="2">
                                        Total<span> ({{ subscribed_repositories|length }} repositor{{ subscribed_repositories|length|pluralize:"y,ies" }})</span>
                                    </td>
                                    {% with count=total_counts.assigned %}
                                        <td class="status-{% if count > 10 %}error{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}">
                                            {{ count }}
                                        </td>
                                    {% endwith %}
                                    {% with count=total_counts.created %}
                                        <td class="status-{% if count > 10 %}error{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}">
                                            {{ count }}
                                        </td>
                                    {% endwith %}
                                    {% with count=total_counts.prs %}
                                        <td class="status-{% if count > 10 %}error{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}">
                                            {{ count }}
                                        </td>
                                    {% endwith %}
                                    {% with count=total_counts.all_prs %}
                                        <td class="status-{% if count > 10 %}error{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}">
                                            {{ count }}
                                        </td>
                                    {% endwith %}
                                    {% with count=total_counts.all %}
                                        <td class="status-{% if count > 10 %}error{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}">
                                            {{ count }}
                                        </td>
                                    {% endwith %}
                                </tr>
                                {% for repository in subscribed_repositories %}
                                    {% with assigned_url=repository|base_url_issues_filtered_by_assigned:user createdy_url=repository|base_url_issues_filtered_by_created_by:user issues_url=repository|repository_view_url:'issues' subscription=subscription_by_repo_id|dict_item:repository.id %}
                                    <tr>
                                        <td>
                                            <a href="{{ repository.get_absolute_url }}" title="View this repository">
                                                {{ repository }}
                                            </a>
                                        </td>
                                        <td class="icon" title="Mode: {{ subscription.get_state_display }}">
                                            {% if subscription.state == 1 %}
                                                <i class="icon-eye-open"> </i>
                                            {% elif subscription.state == 2 %}
                                                <i class="icon-edit"> </i>
                                            {% elif subscription.state == 2 %}
                                                <i class="icon-wrench"> </i>
                                            {% endif %}
                                        </td>
                                        {% if subscription.state == 1 %}
                                            <td colspan="3"> </td>
                                        {% else %}
                                            {% with count=repository.user_counts_open.assigned %}
                                                <td class="status-{% if count > 10 %}error{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}" title="View theses issues">
                                                    <a href="{{ assigned_url }}?state=open">{{ count }}</a>
                                                </td>
                                            {% endwith %}
                                            {% with count=repository.user_counts_open.created %}
                                                <td class="status-{% if count > 10 %}error{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}" title="View theses issues">
                                                    <a href="{{ createdy_url }}?state=open">{{ count }}</a>
                                                </td>
                                            {% endwith %}
                                            {% with count=repository.user_counts_open.prs %}
                                                <td class="status-{% if count > 10 %}error{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}" title="View theses issues">
                                                    <a href="{{ createdy_url }}?state=open&amp;pr=yes">{{ count }}</a>
                                                </td>
                                            {% endwith %}
                                        {% endif %}
                                        {% with count=repository.user_counts_open.all_prs %}
                                            <td class="status-{% if count > 10 %}error{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}" title="View theses issues">
                                                <a href="{{ issues_url }}?state=open&amp;pr=yes">{{ count }}</a>
                                            </td>
                                        {% endwith %}
                                        {% with count=repository.user_counts_open.all %}
                                            <td class="status-{% if count > 10 %}error{% elif count > 5 %}warning{% elif count %}info{% else %}success{% endif %}" title="View theses issues">
                                                <a href="{{ issues_url }}?state=open">{{ count }}</a>
                                            </td>
                                        {% endwith %}
                                    </tr>
                                    {% endwith %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="empty-area">You didn't subscribe to any repositories !</div>
                    {% endif %}
                    <div class="box-footer padded">
                        <a class="btn btn-blue btn-small" href="{% url "front:dashboard:repositories:choose" %}">Manage your subscriptions</a>
                    </div>
                </div>{# .box-content #}
            </div>{# #subscribed_repositories.box #}
        </div>{# .span6 #}
    </div>{# .row-fluid #}
{% endblock dashboard-main %}d
