{% extends "front/dashboard/base.html" %}
{% load staticfiles frontutils repository_tags issues_tags %}
{% static 'front/img/default-avatar.png' as default_avatar %}

{% block body_id %}dashboard_home{% endblock %}
{% block extra_css %}
    <link href="{% static "front/css/pages/dashboard/dashboard-home.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block dashboard-header %}
    <div class="header">
        <h3><i class="icon-dashboard"> </i> Your dashboard</h3>
    </div>
{% endblock dashboard-header %}

{% block dashboard-main %}

    <div class="row-fluid">
        <div class="span6">
            <div class="box" id="subscribed_repositories">
                <div class="box-header">
                    <span class="title">Your subscribed repositories</span>
                    {% if subscribed_repositories|length %}
                        <ul class="unstyled box-toolbar">
                            <li>
                                {% include "front/include_quicksearch.html" with target="#subscribed_repositories .box-section" content=".news-title" class="small" only %}
                            </li>
                        </ul>
                    {% endif %}
                </div>{# .box-header #}
                <div class="box-content">
                    {% if subscribed_repositories|length %}
                        {% for repository in subscribed_repositories %}
                        {% with assigned_url=repository|base_url_issues_filtered_by_assigned:user createdy_url=repository|base_url_issues_filtered_by_created_by:user issues_url=repository|repository_view_url:'issues' global_counts=repository.counters.get_global_counts %}

                            <div class="box-section news" data-repo-id="{{ repository.id }}">
                                <div class="avatar"><img class="avatar-small img-circle" src="{{ repository.owner.avatar_url|default:default_avatar }}" /></div>
                                <ul class="unstyled counters">
                                    {% with count=repository.user_counts_open.assigned.total class="user-assigned" title="All open issues assigned to you (including pull requests)" %}
                                        {% if count or count == 0 %}
                                        <li class="{{ class }} {% if count > 10 %}high{% elif count > 5 %}medium{% elif count %}low{% else %}none{% endif %}" title="{{ title }}">
                                           <a href="{{ assigned_url }}?state=open">{{ count }}</a>
                                        </li>
                                        {% else %}
                                        <li class="not-collab" title="You're not a collaborator on this repository, you cannot be assigned to issues">-</li>
                                        {% endif %}
                                    {% endwith %}
                                    {% with count=repository.user_counts_open.created.total class="user-created" title="All open issues created by you (including pull requests)" %}
                                        <li class="{{ class }} {% if count > 10 %}high{% elif count > 5 %}medium{% elif count %}low{% else %}none{% endif %}" title="{{ title }}">
                                            <a href="{{ createdy_url }}?state=open">{{ count }}</a>
                                        </li>
                                    {% endwith %}
                                    {% comment %}
                                    {% with count=repository.user_counts_open.created.prs class="user-assigned" title="All open pull requests created by you" %}
                                        <li class="{{ class }} {% if count > 10 %}high{% elif count > 5 %}medium{% elif count %}low{% else %}none{% endif %}" title="{{ title }}">
                                            <a href="{{ createdy_url }}?state=open&amp;pr=yes">{{ count }}</a>
                                        </li>
                                    {% endwith %}
                                    {% endcomment %}
                                    {% with count=global_counts.open.prs class="all-prs" title="All open pull requests" %}
                                        <li class="{{ class }} {% if count > 10 %}high{% elif count > 5 %}medium{% elif count %}low{% else %}none{% endif %}" title="{{ title }}">
                                            <a href="{{ issues_url }}?state=open&amp;pr=yes">{{ count }}</a>
                                        </li>
                                    {% endwith %}
                                    {% with count=global_counts.open.total class="all" title="All open issues (including pull requests)" %}
                                        <li class="{{ class }} {% if count > 10 %}high{% elif count > 5 %}medium{% elif count %}low{% else %}none{% endif %}" title="{{ title }}">
                                            <a href="{{ issues_url }}?state=open">{{ count }}</a>
                                        </li>
                                    {% endwith %}
                                </ul>
                                  <div class="news-content">
                                    <div class="news-title">
                                        <a href="{{ repository.get_absolute_url }}" title="View the repository '{{ repository }}'">
                                            {{ repository.owner.username }}/<wbr />{{ repository.name }}
                                        </a>
                                    </div>
                                </div>
                            </div>

                        {% endwith %}
                        {% endfor %}
                    {% else %}
                        <div class="empty-area">You didn't subscribe to any repositories !</div>
                    {% endif %}
                    <div class="box-footer flat padded">
                        <a class="btn btn-blue" href="{% url "front:dashboard:repositories:choose" %}">Manage your subscriptions</a>
                    </div>
                </div>{# .box-content #}
            </div>{# #subscribed_repositories.box #}
        </div>{# .span6 #}

        <div class="span6">
            {{ parts.activity|safe }}
        </div>{# .span6 #}
    </div>{# .row-fluid #}
{% endblock dashboard-main %}d

{% block js_footer %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "graphs/js/jquery.sparkline.min.js" %}" ></script>
    <script type="text/javascript" src="{% static "graphs/js/graphs.js" %}" ></script>
    <script type="text/javascript">
        var graph_data_urls = graph_data_urls || {};
        graph_data_urls.issues_by_day = "{% url 'graphs:issues_by_day_for_repo' repository_id=99999 %}";
        var get_graph = function () {
            var $repo_node = $('#subscribed_repositories .box-section[data-repo-id]:not(.has-graph):not(.hidden)').first();
            if (!$repo_node.length) {
                $repo_node = $('#subscribed_repositories .box-section[data-repo-id]:not(.has-graph)').first();
            }
            if ($repo_node.length) {
                IssuesByDayGraph.fetch_and_make_graph($repo_node.data('repo-id'), 40, $repo_node.children('.news-content'), function() {
                    $repo_node.addClass('has-graph');
                    get_graph();
                });
            }
        };
        $().ready(function() {
            get_graph();
        });
    </script>
{% endblock js_footer %}

{% block modal-windows %}
    {{ block.super }}
    {% include "front/modal_issue_view.html" %}
{% endblock modal-windows %}