<div class="box deferrable activity-feed for-{{ activity_mode }}" id="main_activity" data-url="{{ defer_url }}" data-mode='{{ activity_mode }}'>
    <div class="box-header">
        <span class="title">Last activity</span>
        <ul class="box-toolbar">
            <li class="toolbar-link">
                <a href="#" class="timeline-refresh"><i class="icon-refresh"></i> Refresh</a>
            </li>
        </ul>
    </div>
    <div class="box-content">
        {% if activity|length %}
            {% include "front/activity/include_activity.html" %}
        {% else %}
            <div class="empty-area">It seems that there is no activity at all!</div>
        {% endif %}
    </div>{# .box-content #}
</div>{# #main_activity.box #}
