<div class="box deferrable activity-feed" id="main_activity" data-url="{{ defer_url }}">
    <div class="box-header">
        <span class="title">Last activity</span>
    </div>
    <div class="box-content">
        {% if activity|length %}
            {% include "front/activity/include_activity.html" with display_repositories=True display_issues=True %}
        {% else %}
            <div class="empty-area">It seems that there is no activity at all!</div>
        {% endif %}
    </div>{# .box-content #}
</div>{# #main_activity.box #}
