@import "bootstrap/variables";
@import "variables";

@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

@import "widgets/avatar";

@import "components/issues_mixins";
@import "components/issue";

@import "widgets/activity";

.area-top {
    .header {
        h3 a i {
            float: none;
            color: #ccc;
            position: relative;
            top: 1px;
        }
        h5 {
            margin-left: 32px;
        }
    }
}


#milestones {
    .box-section {
        overflow: auto;
        padding: 15px {
            bottom: 0;
        }
        & > .date,
        & > .all-issues-link {
            float: right;
            font-style: italic;
            opacity: 0;
            @include transition(opacity 0.35s);
        }
        & > .all-issues-link {
            margin-top: -10px;
        }
        & > div.progress {
            clear: both;
            @include transition(height 0.35s);
            a {
                display: block;
                color: inherit;
            }
            span {
                opacity: 0;
                font-weight: bold;
                @include transition(opacity 0.35s);
            }
        }
        & > blockquote {
            margin: -10px 0 15px;
            float: left;
        }
        & > a {
            overflow: auto;
            & > h3 {
                float: left;
                margin: 0 {
                    bottom: 5px;
                }
                font-size: 16px;
                line-height: normal;
            }

            &:not(.collapsed) {
                & ~ .date,
                & ~ .all-issues-link {
                    opacity: 1;
                }
                & ~ div.progress {
                    height: 20px;
                    span {
                        opacity: 1;
                    }
                }
            }
        }

    }
}

#counters {
    margin-bottom: 10px;
    .action-nav-button {
        width: 100%;
        a {
            white-space: normal;
        }
    }
    .label.left {
        background: transparent;
        color: inherit;
        @include text-shadow(none);
    }
}

@media (max-width: 1040px) {
    #counters .action-nav-button a {
        height: 90px;
    }
}

#labels {
    .box-content {
        padding: 5px {
            top: 20px;
        }
        &.only {
            padding-top: 5px;
        }
        &.empty {
            padding: 0;
        }
        border-top: solid 1px #ddd;
        position: relative;
        .label {
            position: absolute;
            top: 0;
            left: 0;
            @include border-top-radius(0);
            @include border-left-radius(0);
        }
        ul {
            li {
                span {
                    margin-left: 5px;
                    font-weight: bold;
                }
            }
        }
    }
    .box-header + .box-content {
        border-top: none;
    }
    .box-footer {
        text-align: center;
    }
}

ul.labels {
    text-align: justify;
    margin: 0;
    li {
        display: inline-block;
        margin: 5px 10px;
        padding-bottom: 2px;
        border-bottom: solid 3px transparent;
    }
}


#milestones, #labels {
    .box-header .box-toolbar > li {
        padding-right: 0;
        margin-left: 0;
    }
    .box-content .empty-area {
        font-size: 125%;
    }
}

body > main > .row-header .area-top {
    position: relative;
    & > .header {
        position: relative;
        z-index: 2;
    }
    & > .issues-by-day {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}