@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";

#milestones {
    .box-section {
        overflow: auto;
        padding: 15px {
            bottom: 0;
        }
        & > h3 {
            float: left;
            margin: 0 {
                bottom: 5px;
            }
            font-size: 16px;
            line-height: normal;
            cursor: pointer;
        }
        & > .date,
        & > .all-issues-link {
            float: right;
            font-style: italic;
            opacity: 0;
            @include transition(opacity 0.35s);
        }
        & > .all-issues-link {
            margin-top: -10px;
        }
        & > div.progress {
            clear: both;
            @include transition(height 0.35s);
            a {
                display: block;
                color: inherit;
            }
            span {
                opacity: 0;
                font-weight: bold;
                @include transition(opacity 0.35s);
            }
        }
        & > blockquote {
            margin: -10px 0 15px;
            float: left;
        }

        & > h3:not(.collapsed) {
            & ~ .date, 
            & ~ .all-issues-link {
                opacity: 1;
            }
            & ~ div.progress {
                height: 20px;
                span {
                    opacity: 1;
                }
            }
        }

    }
}

#counters {
    margin-bottom: 15px;
    .action-nav-button {
        width: 8em;
    }
    .label.left {
        background: transparent;
        color: inherit;
        @include text-shadow(none);
    }
}

#labels {
    .box-content {
        padding: 5px;
    }
    ul {
        text-align: justify;
        margin: 0;
        li {
            display: inline-block;
            margin: 5px 10px;
            padding-bottom: 2px;
            border-bottom: solid 3px transparent;
            span {
                margin-left: 5px;
                font-weight: bold;
            }
        }
    }
    .box-footer {
        text-align: center;
    }
}