@import "bootstrap/variables";
@import "select2";
@import "select2_overrides";
@import "modal";
// @import "uniform_default";
@import "form_elements";
@import "core-admin-forms-correct.scss";


#labels-editor {
    .btn-edit-label-type {
        padding-right: 4px;
        a {
            position: relative;
            top: -1px;
        }
    }
}

.label-type .box-header .title .label {
    margin-left: 1em;
    line-height: 13px;
}

#label-type-edit-form {
    width: 90%;
    margin-left: -45%;
    form {
        input[type=submit] {
            display: none;
        }
        & > div > label + input[type=text] + .note {
            margin-top: -10px;
        }
    }
}

.for-mode1, .for-mode2, .for-mode3 {
    display: none;
}
.mode1 .for-mode1,
.mode2 .for-mode2,
.mode3 .for-mode3 {
    display: block;
}

.edit-mode-dropdown {
    .select2-results {
        max-height: none;
    }
    li.select2-highlighted .note {
        color: white;
    }
}

.label-type-samples {
    margin-top: 5px;
    .note {
        margin-bottom: 0;
    }
    li {
        cursor: pointer;
    }
}

.modal-footer  {
    // keep btn style even if a popover is inserted
    .btn + div.popover + .btn {
        margin-bottom: 0px;
        margin-left: 5px;
    }
    .alert {
        text-align: center;
    }
    .popover-content {
        label {
            margin-bottom: 0;
            & + .errorlist {
                margin-left: 5px;
            }
        }
    }
}

.label-edit-form {
    input[name=name] {
        width: 182px;
        margin-right: 5px;
    }
    input[name=color] {
        width: 46px;
        padding-left: 3px;
    }
    // spectrum
    .sp-replacer {
        padding: 3px;
        vertical-align: top;
    }
    .sp-preview {
        width: 26px;
        height: 18px;
    }
}
.label-type .labels li {
    &.new-label {
        padding: 0px;
        border: medium none;
        margin: {
            top: 0px;
            bottom: 0px;
        }
        & > a.btn {
            line-height: 19px;
            margin-top: 1px;
        }
   }
    .popover {
        .popover-title {
            overflow: hidden;
            strong {
                border-bottom: solid transparent 3px;
                line-height: 1.8em;
            }
        }
        .popover-content {
            label {
                float: left;
            }
            .errorlist li {
                margin: 0 {
                    left: 5px;
                }
            }
        }
        .popover .popover-content {
            white-space: nowrap;
        }
    }
}