@import "variables";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

#available-repositories {
    thead {
        td:first-child {
            text-align: left;
        }
    }
    td {
        &:not(:first-child) {
            text-align: center;
        }
        a {
            color: inherit;
        }
        span.smaller {
            font-size: smaller;
        }
        &:not(.repository-input) form {
            margin: 0;
            padding: 0;
            display: inline-block;
        }
        &.repository-input {
            padding: 15px 0;
            form {
                margin-bottom: 0;
                .input-append {
                    margin-left: -34px;
                    margin-bottom: 0;
                    display: block;
                }
            }
        }
    }
    tbody {
        td:not(.repository-input):first-child {
            padding-left: 32px;
            img {
                margin-left: -22px;
                margin-right: 6px;
            }
        }
        &.collapse {
            @include transition(none);
            display: none;
            &.in {
                display: table-row-group;
            }
            tr:hover {
                background: $table-row-hover-background-color;
            }
        }
    }
}
