@import "compass/css3/border-radius";

#available-repositories {
    thead td:first-child {
        text-align: left;
    }
    td:not(:first-child) {
        text-align: center;
    }
    form {
        margin: 0;
        padding: 0;
        display: inline-block;
    }
}

#dashboard_subscriptions {
    .quicksearch-widget {
        margin-top: 6px;
    }
}

.btn.rounded {
    @include border-radius(50%);
    width: 20px;
    height: 20px;
}
