#available-repositories {
    th, td {
        &:not(:first-child) {
            text-align: center;
        }
    }
    form {
        margin: 0;
        padding: 0;
        display: inline-block;
    }
}

#dashboard_subscriptions {
    .quicksearch-widget {
        margin-top: 6px;
    }
}
