@import "variables";

.area-top {
    .btn {
        margin-top: 6px;        
    }
}

#subscribed_repositories {
    & > li {
        overflow: auto;
        padding: 10px 0 10px 5px;
        border-bottom: solid 1px $box-border-color;
        &:first-of-type {
            border-top: solid 1px $box-border-color;            
        }
        & > a {
            font-size: larger;
            line-height: 56px;
            font-weight: bold;
            display: inline-block;
            color: $box-text-color;
            &:hover {
                color: darken($box-text-color, 10%);
                text-decoration: none;
            }            
        }
        &:hover {
            background: #fafafa;
        }
    }
.action-nav-normal {
        float: right;
        max-width: 600px;
    }
}

#summary {
    overflow: auto;
    ul {
        float: right;
        max-width: 600px;
        text-align: center;
    }
}
