@import "bootstrap/variables";
@import "variables";

@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

@import "widgets/avatar";

@import "components/issues_mixins";
@import "components/issue";

@import "widgets/activity";

#dashboard_home .area-top {
    @media (max-height: 800px) {
        padding: 0px 15px;
        margin-bottom: 15px;
    }
    .btn {
        margin-top: 6px;
    }
}

#subscribed_repositories {
    .box-toolbar {
        position: absolute;
        right: 0;
    }
    .news-content {
        position: relative;
        overflow: hidden;
        height: 63px;
        margin-bottom: -10px;
    }
    .news-title {
        position: relative;
        z-index: 2;
    }
    .issues-by-day {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .counters {
        float: right;
        margin-top: -13px;
        font-size: 14px;
        text-align: right;
        font-weight: bold;
        li {
            padding: 0 5px;
        }
        .high a {
            color: #C75D5D;
        }
        .medium a {
            color: #6E97AA;
        }
        .low a {
            color: #808080;
        }
        .none a {
            color: #8FAE53;
        }
        .not-collab {
            font-weight: normal;
        }
        .all-prs {
            border-top: dashed #ccc 1px;
        }
    }
}

#dashboard_home {
    .row-fluid:not(.row-header) {
        > .span6 {
            position: absolute;
            top: 130px;
            bottom: 25px;
            width: 50%;
            margin: 0;
            @media (max-height: 800px) {
                top: 88px;
                bottom: 5px;
            }
            > .box {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: 0;
                > .box-content {
                    overflow-y: auto;
                    @include box-sizing(border-box);
                    height: calc(100% - 38px);
                    @include calc(height, '100% - 37px');  // box-header height
                    > div.section, > div.content {
                        background: #FBFBFB;
                    }
                    .empty-area {
                        position: absolute;
                        margin-top: -1em;
                    }
                }
            }
            &:nth-child(1) {
                left: 0;
                > .box {
                    left: 22px;
                    right: 11px;
                    @media (max-height: 800px) {
                        left: 5px;
                        right: 2px;
                    }
                }
            }
            &:nth-child(2) {
                left: 50%;
                > .box {
                    left: 11px;
                    right: 22px;
                    @media (max-height: 800px) {
                        left: 3px;
                        right: 5px;
                    }
                }
            }
        }
    }
}
@media (max-width: 800px) {
    #subscribed_repositories {
        input.quicksearch {
            width: 20px;
            &:focus {
                width: 103px;
            }
        }
    }
}
