@import "variables";

.area-top {
    .btn {
        margin-top: 6px;
    }
}

#subscribed_repositories {
    .box-footer {
        text-align: center;
    }
}

#subscribed_repositories {
    .news-content {
        position: relative;
        overflow: hidden;
        height: 63px;
        margin-bottom: -10px;
    }
    .news-title {
        position: relative;
        z-index: 2;
    }
    .issues-by-day {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .counters {
        float: right;
        margin-top: -13px;
        font-size: 14px;
        text-align: right;
        font-weight: bold;
        li {
            padding: 0 5px;
        }
        .high a {
            color: #C75D5D;
        }
        .medium a {
            color: #6E97AA;
        }
        .low a {
            color: #808080;
        }
        .none a {
            color: #8FAE53;
        }
        .not-collab {
            font-weight: normal;
        }
        .all-prs {
            border-top: dashed #ccc 1px;
        }
    }
}
