@media (max-width: 1023px) {
    .navbar-fixed-top {
        // hide the pseudonyme
        .user_avatar .dropdown-toggle > span > span:not(.caret) {
            display: none;
        }
        // hide names of repository views
        .repository-views a > span  {
            display: none;
        }
    }
}

@media (max-width: 800px) {
    body > header .navbar-inner {
        padding: 0px 5px !important;
    }
    .navbar-inverse .nav.full > li > a {
        margin-right: 0;
        margin-left: 5px;
        padding: 3px 0 3px 5px;
        .menu-avatar {
            margin-right: 0;
        }
    }
}